<template>
  <div>
    <top-navigation :breadcrumbs_items="breadcrumbs_items"/>

    <v-container grid-list-xs>
      <v-layout row wrap>
        <v-flex >
          <v-progress-circular v-if="!showUi" :value="20" color="grey lighten-1" indeterminate class="d-block mx-auto"></v-progress-circular>

          <v-card class="py-5" v-else>
            <v-card-actions>
              <v-btn outline color="grey" dark
                @click="$router.back()">
                <v-icon class="pr-2">arrow_back</v-icon>
                Back
              </v-btn>
             
              <v-btn outline color="grey" dark 
                v-if="messages[0].to.uid == auth.user.uid"
                @click="replyDialog = true">
                <v-icon>reply</v-icon>
                Reply
              </v-btn>
            </v-card-actions>
            <v-divider></v-divider>
            <v-list two-line dense v-if="messages[0]">
              <v-list-tile avatar>
                <v-list-tile-avatar color="primary" dark class="white--text">
                  <img v-if="messages[0].from.imgSrc" :src="messages[0].from.imgSrc"/>
                  <span v-else>{{messages[0].from.name.charAt(0)}}</span>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>{{messages[0].data.subject}}</v-list-tile-title>
                  <template v-if="messages[0].to.uid == auth.user.uid">
                    <span >
                      from <span class="font-weight-bold">{{messages[0].from.name}}</span>
                    </span>
                  </template>
                  <template v-else-if="messages[0].from.uid == auth.user.uid">
                    <v-list-tile-sub-title>
                      to
                      <span class="font-weight-bold">
                        {{messages[0].to.name}}
                      </span>

                      </v-list-tile-sub-title>
                  </template>
                </v-list-tile-content>
                <v-list-tile-action>
                  <span>{{$helpers.parseDate(messages[0].date_created.toMillis())}}</span>
                </v-list-tile-action>
              </v-list-tile>
            </v-list>
            <v-divider></v-divider>
            <v-card-text>
              <p>{{messages[0].data.message}}</p>

              <div class="mt-5">

                <v-card v-for="(message, index) in messages.slice(1)" 
                  :key="message.docId" flat class="" :style="{marginLeft: (index + 1) * 20 +'px' }">

                  <v-subheader>
                    On {{message.date_created.toDate()}} {{message.from.name}} wrote: 
                  </v-subheader>
                  <v-card-text class="border-left pl-2">
                    {{message.data.message}}
                  </v-card-text>
                </v-card>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
     
    <v-layout row justify-center>
      <v-dialog v-model="replyDialog" persistent max-width="500px" lazy scrollable>
        <v-card v-if="messages[0]">
          <v-toolbar card dense>
            <v-icon>reply</v-icon>
            <span class="font-weight-light title" style="font-size: 18px;">Reply to {{messages[0].from.name}} </span>
            
          </v-toolbar>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm6 md4>
                  <v-text-field label="Subject" hide-details outline v-model.trim="form.subject" required></v-text-field>
                </v-flex>
                <v-flex xs12>
                  <v-textarea label="Type your reply" outline auto-grow v-model.trim="form.body"/>
                </v-flex>
              </v-layout>
            </v-container>

            <v-divider></v-divider>
            <div class="mt-3">
              At {{$helpers.parseDate(messages[0].date_created.toMillis())}}, {{messages[0].from.name}} wrote: <br/>
              <p class="mt-2">{{messages[0].data.message}}</p>
              
            </div>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat 
              @click.native="replyDialog = false"
              :disabled="replying">
                Close
            </v-btn>
            <v-btn color="blue darken-1" flat 
              @click.native="replyMessage"
              :loading="replying"
              :disabled="!form.body || !form.subject">
              Send
            </v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>

  </div>
</template>
<script>
export default {
  layout: 'account',
  // middleware: 'auth',
  data: () =>({
    showUi: false,
    breadcrumbs_items: [
      {
        text: 'Account',
        disabled: false,
        exact: true,
        to: '/account'
      },
      {
        text: 'Messages',
        disabled: true,
        exact: true,
        to: '/account/messages'
      },
      {
        text: 'Inbox',
        disabled: true,
        exact: true,
        to: '/account/messages/read'
      }
    ],
    message: {},
    messages: [],
    parentMessage: {},
    replyDialog: false,
    form: {
      subject: '',
      body: ''
    },
    replying: false
  }),
  watch: {
    
  },
  computed:{
    ...mapState([
      'auth',
      'userInfo'
    ])
  },
  methods: {
    async initialize(){
      // console.log(this.$route.params)
      let messageId = this.$route.params.message
      await this.getMessages(messageId)

      this.showUi = true

      // let messages = this.messages.map(msg => {
      //   return {
      //     ...msg,
      //     date_created: msg.date_created.toMillis()
      //   }
      // })

      // let sorted = this.sortBy(messages, 'date_created')

      // this.arrayToTree(sorted.slice(1), sorted[0].docId).then(output => {
      //   this.items = output
      //   console.log({output})
      //   return true
      // }).then(()=> {

      //   this.showUi = true
      // })
      
    },
    
    async getMessages (messageId) {

      return new Promise((resolve, reject) => {
        
        this.fetchMsg(messageId, resolve)
      })

    },
    async fetchMsg(messageId, resolve){
      try {

        let notifRef = db.collection('notifications').doc(messageId)
        let getmsg = await notifRef.get()
        let message = getmsg.data()

        this.messages.push(message)

        if(message.replyTo){
          // the message is a reply
          this.fetchMsg(message.replyTo, resolve)
          
        }
        else {
          resolve(this.messages)
        }

        // console.log(message.to.uid, this.auth.user.uid)
        if(message.to.uid == this.auth.user.uid && !message.read){
          db.collection('notifications').doc(message.docId).update({
            read: true
          })
        }
        
      } catch (error) {
        console.log(error)
      }
    },
    async arrayToTree(arr, parentid){
      
      let output = []
      for(const obj of arr) {
        if(obj.replyTo == parentid) {
          var children = this.arrayToTree(arr, obj.docId)

          if(children.length) {
            obj.children = children
          }
          output.push(obj)
        }
      }
      return output
    },
    sortBy(array){

      return array.sort((a,b) => {


        if(a.date_created > b.date_created) return 1
        if(a.date_created < b.date_created) return -1
        
      })
    },
    replyMessage(){
      // reply to message
      this.replying = true;

      let notifRef = db.collection('notifications').doc()

      notifRef.set({
        docId: notifRef.id,
        from: {
          name: this.auth.user.displayName,
          uid: this.auth.user.uid,
        },
        to: {
          name: this.messages[0].from.name,
          uid: this.messages[0].from.uid
        },
        date_created: firebase.firestore.FieldValue.serverTimestamp(),
        read: false,
        type: this.messages[0].type,
        data: {
          message: this.form.body,
          subject: this.form.subject,
          customer_room: 'customer_room'
        },
        replyTo: this.messages[0].docId
      }).then(() => {

        this.replying = false;
        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Reply sent',
          color: 'info'
        })
        this.replyDialog = false;
      })


    }
  },
  mounted(){
    
    this.userInfo ? this.initialize() : ''
  },
  components: {
    TopNavigation,
  }
}
import { mapState } from 'vuex';
import TopNavigation from '@/components/TopNavigation'
import { firebase, db } from '@/plugins/firebase'
</script>
<style lang="scss" scoped>
  .outline {
    border: 1px solid #eee;
  }
  .border-left {
    border-left: 1px solid #ccc;
  }
</style>
