<template>
  <div>
    <top-navigation :breadcrumbs_items="breadcrumbs_items"/>

    <v-container fluid class="" grid-list-lg>
      <v-layout row wrap justify-center justify-space-around>

        <v-flex xs6 sm4 v-for="stat in stats" :key="stat.title">
          <v-card height="150" flat style="border: 1px solid #ddd" 
            class="ma-auto round">
            <v-layout column align-center>
              <v-flex xs4 mt-5 pb-0>
                  <div>{{stat.number}}</div>
              </v-flex>
              <v-flex xs4>
                <div class="primary--text">
                  <router-link :to="stat.to">{{stat.title}}</router-link>

                </div>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
      <v-layout row wrap justify-space-around>
        <v-flex xs11 mt-5>
          <v-card height="100" flat class="round grey lighten-3">
            
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

  </div>
</template>
<script>
export default {
  layout: 'account',
  // middleware: 'auth',
  data: () =>({
    breadcrumbs_items: [
      {
        text: 'Account',
        disabled: false,
        exact: true,
        to: '/account'
      },
      {
        text: 'Overview',
        disabled: true,
        exact: true,
        to: '/account/overview'
      }
		],
    stats: [
      {number: 0, title: 'Favorites', icon: 'favorite', to: '/account/'},
      {number: 0, title: 'Bookings', icon: 'spa', to: '/account/reservations'},
      {number: 0, title: 'Reviews', icon: 'star', to: '/account/reviews'}
    ]
  }),
  watch: {
    'userInfo': function() {
      this.userInfo ? this.initialize() : ''
      // console.log(this.userInfo)
    }
  },
  computed:{
    ...mapState([
      'auth',
      'userInfo'
    ]),
  },
  methods: {
    initialize(){
      this.stats[0].number = this.userInfo.favorites ? this.userInfo.favorites.length : 0
      this.stats[1].number = this.userInfo.bookings ? this.userInfo.bookings : 0 
      this.stats[2].number = this.userInfo.reviews ? this.userInfo.reviews.length : 0
      
    }
  },
  mounted(){
    // console.log(this.$route)
    this.userInfo ? this.initialize() : ''
  },
  components: {
    TopNavigation,
  }
}
import { mapState } from 'vuex';
import TopNavigation from '@/components/TopNavigation'
import { firebase, db } from '@/plugins/firebase'
</script>
<style lang="scss" scoped>
  .round_top{
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
  }
</style>
