<template>
	<div>
		<top-navigation :breadcrumbs_items="breadcrumbs_items"/>
		
		<v-container grid-list-xs>
			
			<v-toolbar flat color="white">
				<v-toolbar-title>Your Bookings</v-toolbar-title>
				<!-- <v-divider class="mx-2" inset vertical></v-divider> -->
				<v-spacer></v-spacer>
				<v-text-field
					v-model="search"
					append-icon="search"
					label="Search"
					single-line
					hide-details
				></v-text-field>
			</v-toolbar>
			
			<v-data-table
				:headers="headers"
				:items="bookings"
				:expand="expand"
				item-key="docId"
				:search="search"
				:loading="loading"
				class="elevation-1" :no-data-text="loading ? 'Loading...' : 'No data'"
			>
				<template v-slot:items="props" >
					<tr @click="props.expanded = !props.expanded;" class="linkify">
						<td>{{ props.item.name }}</td>
						<td class="text-xs-left">{{ props.item.price }}</td>
						<td class="text-xs-left">{{ props.item.rooms }}</td>
						<td class="text-xs-left">{{ props.item.guests }}</td>
						<td class="text-xs-left" 
							:class="props.item.paid ? 'success--text' : 'orange--text'">
							{{ props.item.paid ? 'Paid' : 'Pending' }}
						</td>
						<td class="text-xs-left">{{ props.item.checkin }}</td>
						<td class="text-xs-left">{{ props.item.checkout }}</td>
						<td class="text-xs-left">{{ props.item.payment_ref }}</td>
						<td class="text-xs-left">{{ props.item.date_created }}</td>
					</tr>
				</template>
				<template v-slot:expand="props">
					<v-card flat class="grey lighten-4">
						<v-card-actions v-if="props.item.paid">
							<v-btn color="primary" small outline 
								class="ml-3 text-capitalize" 
								@click="selected_booking = props.item; checkin_dialog = true"
								depressed v-if="props.item.status == 'no-show'"
								:loading="checking_in">
								Check in
							</v-btn>
							<v-btn color="primary" small outline 
								class="ml-3 text-capitalize" 
								@click="selected_booking = props.item; checkout_dialog = true"
								depressed v-if="props.item.status == 'checked_in'"
								:loading="checking_out">
								Check out
							</v-btn>
							<v-btn color="error" small outline 
								class="ml-3 text-capitalize" depressed 
								v-if="props.item.status == 'no-show'"
								:disabled="canceling"
								@click="selected_booking = props.item; cancel_dialog = true">
								Cancel booking
							</v-btn>
							<v-btn color="info" small outline 
								class="ml-3 text-capitalize" depressed 
								v-if="props.item.status == 'checked_in' && !props.item.has_review"
								@click="$eventBus.$emit('WriteReview', props.item)">
								Write a review
							</v-btn>
						</v-card-actions>
					</v-card>
				</template>
			</v-data-table>

			<v-layout row justify-center>
				<v-dialog v-model="checkin_dialog" persistent max-width="290">				
					<v-card>
						<v-card-text class="subheading">Checkin to {{selected_booking.name}}?</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="secondary" flat @click.native="checkin_dialog = false" :disabled="checking_in">No</v-btn>
							<v-btn color="primary" depressed 
								:loading="checking_in"
								:disabled="!can_checkin"
								@click.native="checkinNow">Check In</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-layout>

			<v-layout row justify-center>
				<v-dialog v-model="checkout_dialog" persistent max-width="290">				
					<v-card>
						<v-card-text class="subheading">Check out from {{selected_booking.name}}?</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="secondary" flat @click.native="checkout_dialog = false" :disabled="checking_out">No</v-btn>
							<v-btn color="primary" depressed :loading="checking_out" @click.native="checkoutNow">Check Out</v-btn>
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-layout>

			<v-layout row justify-center>
				<v-dialog v-model="cancel_dialog" persistent max-width="310">				
					<v-card>
						<v-card-title primary-title class="font-weight-bold">
							Cancel Booking
						</v-card-title>

						<v-card-text class="">
							Contact {{selected_booking.name}} to cancel your booking:
							<div class="mt-4">
								<b>Email</b>: {{currHotel.email}} <br/>
								<b>phone</b>: {{currHotel.phone}}

							</div>
						</v-card-text>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="secondary" flat @click.native="cancel_dialog = false" :disabled="canceling">Close</v-btn>
							<!-- <v-btn color="primary" depressed :loading="canceling" @click.native="cancelBooking">Yes Please</v-btn> -->
						</v-card-actions>
					</v-card>
				</v-dialog>
			</v-layout>
		</v-container>
		

	</div>
</template>
<script>
export default {
	layout: "account",
	head(){
    return {
      title: 'Your reservations - HotelSmart'
    }
  },
	data: () => ({
		breadcrumbs_items: [
			{
				text: 'Account',
				disabled: false,
				exact: true,
				to: '/account'
			},
			{
				text: 'Reservations',
				disabled: true,
				exact: true,
				to: '/account/reservations'
			}
		],
		search: '',
		loading: true,
		expand: true,
		pagination: {},
		total_bookings: 0,
		headers: [
			{
				text: 'Hotel Name',
				align: 'left',
				sortable: true,
				value: 'name'
			},
			{ text: 'Price (Naira)', value: 'price' },
			{ text: 'Rooms', value: 'rooms' },
			{ text: 'Guests', value: 'guests'},
			{ text: 'Paid', value: 'paid'},
			{ text: 'Check-in', value: 'checkin' },
			{ text: 'Check-out', value: 'checkout' },
			{ text: 'Reference', value: 'payment_ref' },
			{ text: 'Created', value: 'date_created' },
		],
		bookings: [],
		hotels: [],
		editedIndex: -1,
		editedItem: {
			name: '',
			price: 0,
			rooms: 0,
			guests: 0,
			checkin: '',
			checkout: ''
		},
		defaultItem: {
			name: '',
			price: 0,
			rooms: 0,
			guests: 0,
			checkin: '',
			checkout: ''
		},
		selected_booking: {},
		checkin_dialog: false,
		checkout_dialog: false,
		cancel_dialog: false,
		checking_in: false,
		checking_out: false,
		canceling: false,
		currHotel: {}
	}),
	computed: {
		...mapState([
			'auth',
			'userInfo'
		]),
		can_checkin(){
			
			let today = new Date().toISOString().substr(0,10)
			let is_less_than_checkout = (new Date().getTime()) <= this.selected_booking.checkout_time
			let is_more_than_checkin = (new Date().getTime()) >= this.selected_booking.checkin_time
			// console.log(is_more_than_checkin, is_less_than_checkout, today == this.selected_booking.checkin)

			let can_checkin = false
			
			if(today == this.selected_booking.checkin){
				can_checkin = true
			}
			else if(is_more_than_checkin && is_less_than_checkout){
				can_checkin = true
			}

			return can_checkin
			 
		},
	},

	watch: {
		
		'userInfo': function(to, from){
			this.userInfo ? this.initialize() : ''
		},
		selected_booking: function(to, from){
			this.getHotel(to.hotelId)
		}
	},

	created () {
		this.userInfo ? this.initialize() : ''
	},

	methods: {
		initialize(){
			this.myBookings()
			.then(data => {
				

				this.bookings = data.map(item => {
					return {
						...item,
						name: this.$helpers.truncateText(item.hotel_name, 30),
						price: item.total_price,
						rooms: Object.keys(item.rooms).map(room_type => {
							return `${item.rooms[room_type].qty} ${room_type}`
						}).join(','),
						date_created: item.date_created.toDate().toISOString().substr(0,10),
						room_types: item.rooms,
						guests: Object.keys(item.guests).map(guest => {
							return `${item.guests[guest]} ${guest}`
						}).join(', '),
						has_review: this.userInfo.reviews && !!this.userInfo.reviews.find(r => r == item.hotelId)
					}
				})

				this.loading = false

			}).catch(err => console.log(err))

		},
		getDataFromApi () {
			this.loading = true
			return new Promise(async (resolve, reject) => {
				const { sortBy, descending, page, rowsPerPage } = this.pagination
				// console.log('mybookings', await this.myBookings())
				let items = await this.myBookings()
				const total = items.length

				if (this.pagination.sortBy) {
					items = items.sort((a, b) => {
						const sortA = a[sortBy]
						const sortB = b[sortBy]

						if (descending) {
							if (sortA < sortB) return 1
							if (sortA > sortB) return -1
							return 0
						} else {
							if (sortA < sortB) return -1
							if (sortA > sortB) return 1
							return 0
						}
					})
				}

				if (rowsPerPage > 0) {
					items = items.slice((page - 1) * rowsPerPage, page * rowsPerPage)
				}

				
				this.loading = false
				resolve({
					items,
					total
				})
			})
		},
		
		async myBookings () {
			// get user bookings
			let bks = []
			await db.collection('bookings')
			.where('userId', '==', this.auth.user.uid)
			.orderBy('date_created', 'desc')
			.get().then( docs => {
				
				docs.forEach(doc => {
					bks.push(doc.data())
				})
			})
			// console.log(bks)
			return bks
		},
		
		async checkinNow(){
			// mark guest as checked in
			
			let booking = this.selected_booking
			
			// console.log(this.can_checkin)
			if(this.can_checkin){

				this.checking_in = true
				
				let batch = db.batch()

				let bookingRef = db.collection('bookings').doc(booking.docId)
				
				let hotelRef = db.collection('hotels').doc(booking.hotelId)
				let res = await hotelRef.get()
				let hotel = res.data()

				// first check if online checkin is allowed
				if(hotel.allowed_payments && hotel.allowed_payments.online_checkin){

					batch.update(bookingRef, {
						status: 'checked_in',
						checked_in_at: firebase.firestore.FieldValue.serverTimestamp()
					})
					
					batch.commit().then(() => {
						this.checking_in = false
						this.checkin_dialog = false
						this.initialize()
	
						this.$eventBus.$emit('Snackbar', {
							show: true,
							message: 'Check In Successfull',
							color: 'info'
						})
					})
				}

				else {

					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: "Sorry this hotel doesn't allow online checkin",
						color: 'info'
					})

					this.checking_in = false

				}

			}
			else {
				// console.log("Can't checkin now")
			}
    },
    async checkoutNow(){
      // mark guest as checked out
			this.checking_out = true
			let guest = this.selected_booking
			let batch = db.batch()
			
			let guestRef = db.collection('bookings').doc(guest.docId)
      batch.update(guestRef, {
        status: 'checked_out',
        checked_out_at: firebase.firestore.FieldValue.serverTimestamp()
			})

      batch.commit().then(() => {
				this.checking_out = false
				this.checkout_dialog = false
				this.initialize()
        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Checked Out Successfully',
          color: 'info'
        })
      })
		},
		cancelBooking(){
			let booking = this.selected_booking
			this.canceling = true
			
			let batch = db.batch()
			
			let bookingRef = 
			db.collection('bookings').doc(booking.docId)
			batch.update(bookingRef, {
				status: 'cancelled',
				cancelled_at: firebase.firestore.FieldValue.serverTimestamp()
			})
			
			batch.commit().then(() => {
				this.canceling = false
				this.cancel_dialog = false
				this.initialize()

        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Your booking has been cancelled',
          color: 'info'
        })
      })
		},
		editItem (item) {
			this.editedIndex = this.bookings.indexOf(item)
			this.editedItem = Object.assign({}, item)
			this.dialog = true
		},
		deleteItem (item) {
			const index = this.bookings.indexOf(item)
			confirm('Are you sure you want to delete this item?') && this.bookings.splice(index, 1)
		},
		getHotel(hotelId){
			let found = this.hotels.find(h => h == hotelId)
			if(!found){

				db.collection('hotels')
				.doc(hotelId)
				.get().then(doc => {
					
					this.hotels.push(doc.data())
					this.currHotel = doc.data()
				})
			}
			else {
				this.currHotel = found
			}
		}
	},
	components: {
    TopNavigation,
  }
}
import { mapState } from 'vuex';
import TopNavigation from '@/components/TopNavigation'
import { firebase, db } from '@/plugins/firebase'
</script>

