<template>
	<div>
		<top-navigation :breadcrumbs_items="breadcrumbs_items"/>

		<v-container grid-list-md>
			<v-layout row wrap justify-center>
				<v-flex xs12 sm8>
					<v-subheader class="pl-1 font-weight-bold">Your reviews</v-subheader>
					<v-layout row wrap>
						<v-progress-circular indeterminate color="primary" v-if="!showUi" class="d-table mx-auto mt-5"></v-progress-circular>
						<v-subheader v-if="showUi && reviews.length == 0">No reviews</v-subheader>
						
						<template v-if="reviews.length > 0">
							<v-flex xs12 sm6 v-for="(review, i ) in reviews" :key="i">
								<v-card flat class="round" style="border: 1px solid #ddd;">
									<v-layout row wrap>
										<v-flex xs12 pb-0 d-flex>
											<v-card style="min-height: 200px;" flat>
												<v-card-title primary-title >
													<div>
														<v-rating
															:value="review.score"
															readonly half-increments
															background-color="white"
															color="yellow accent-4"
															dense class="d"
															size="18"
														></v-rating>
														<div class="title mb-2">{{$helpers.truncateText(review.title, 25)}}

														</div>
														<span>{{review.for.name}}</span> | 
														<span>on {{new Date(review.date_created).toISOString().substr(0, 10)}}</span>
													</div>
												</v-card-title>
												<v-card-text>
													<span v-show="expand != review.docId">{{$helpers.truncateText(review.body, 100)}}</span>
													
													<v-expand-transition>
														<div v-show="expand == review.docId">{{review.body}}</div>
													</v-expand-transition>
													<v-btn color="info" 
														v-if="review.body.length > 100" 
														@click="expand == review.docId ? expand = '' : expand = review.docId" 
														flat small class="text-capitalize">
														{{expand == review.docId ? 'Read less' : 'Read more'}}
													</v-btn>
												</v-card-text>
											</v-card>
										</v-flex>
										
									</v-layout>
									<v-card-actions class="">
										<!-- <v-btn color="primary"  flat @click="Object.assign(rating, review); review_dialog = true">
											<v-icon small class="pr-2">edit</v-icon>
											Edit
										</v-btn> -->
									</v-card-actions>
								</v-card>
							</v-flex>	
						</template>
					</v-layout>	
					
				</v-flex>
			</v-layout>

			<!-- PAGINATION -->
			<div class="text-xs-center" v-if="reviews.length > 25">
				<v-pagination
					v-model="page"
					:length="2"
					circle
				></v-pagination>
			</div>
		</v-container>

		<!-- REVIEW DIALOG -->
		<v-dialog
			v-model="review_dialog"
			scrollable 
			persistent :overlay="false"
			max-width="500px"
			transition="dialog-transition"
		>
			<v-card>
				<v-toolbar color="" card dense>
					<div class="title font-weight-light">Write a review</div>
					<v-spacer></v-spacer>

					<v-btn flat icon @click="review_dialog = false">
						<v-icon>close</v-icon>
					</v-btn>

				</v-toolbar>
				<v-card-text>
					<span style="font-size: 17px;">How do you rate this hotel ?</span>
					<v-container grid-list-xs px-0>
						<v-layout row wrap>
							<v-flex xs10>
								<v-slider class="pa-0 mb-0" hide-details
									:label="`Neatness [${rating.neatness}/5]`"
									v-model="rating.neatness"
									color="primary" ticks step="1"
									track-color="accent" :thumb-size="24"
									thumb-color="primary"
									thumb-label max="5" min="1"
								></v-slider>
							</v-flex>
							<v-flex xs10>
								<v-slider
									:label="`Security [${rating.security}/5]`" hide-details
									v-model="rating.security"
									color="primary" max="5" min="1"
									:thumb-size="24"
									thumb-color="primary"
									thumb-label ticks step="1"
								></v-slider> 
							</v-flex>
							<v-flex xs10>
								
								<v-slider hide-details
									:label="`Customer Service [${rating.service}/5]`"
									v-model="rating.service"
									color="primary" max="5" min="1"
									:thumb-size="24"
									thumb-color="primary" thumb-label
									ticks step="1" 
								>{{rating.service}}</v-slider>
							</v-flex>
							<v-flex xs10>
								<v-slider hide-details
									:label="`Comfort [${rating.comfort}/5]`"
									v-model="rating.comfort"
									color="primary" max="5" min="1"
									:thumb-size="24"
									thumb-color="primary"
									thumb-label ticks step="1"
								></v-slider> 
							</v-flex>
							
						</v-layout>
					</v-container>
					<!-- <v-rating v-model="rating.star" label=""></v-rating>  -->
					<!-- <span>[{{rating.star == '1' ? 'Poor' : rating.star == '2' ? 'Okay' : rating.star == '3' ? 'good' : rating.star == '4' ? 'Very good' : 'Great'}}]</span> -->
					<v-text-field
						name="title"
						label="Title of Review"
						outline
						v-model="rating.title"
					></v-text-field>
					<v-textarea
						name="title"
						label="Write your review"
						outline auto-grow
						v-model="rating.body"
					></v-textarea>
					
					<v-checkbox color="primary" label="I acknowledge that am making a honest review..." v-model="aknowledgement" value="value"></v-checkbox>
					
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" 
						depressed 
						class="text-capitalize"
						@click="submitReview"
						:disabled="disable_review"
						:loading="saving_review">
						Submit Review
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
	</div>
</template>
<script>
export default {
	layout: "account",
	head(){
    return {
      title: 'Your reviews - HotelSmart'
    }
  },
	data(){
		return {
			showUi: false,
			breadcrumbs_items: [
				{
					text: 'Account',
					disabled: false,
					exact: true,
					to: '/account'
				},
				{
					text: 'Reviews',
					disabled: true,
					exact: true,
					to: '/account/reviews'
				}
			],
			reviews: [],
			aknowledgement: false,
			rating: {
				title: '',
				body: '',
				neatness: 3,
				security: 2,
				service: 4,
				comfort: 3
			},
			expand: '',
			page: 1,
			review_dialog: false,
			saving_review: false
		}
	},
	props: ['user'],
	watch: {},
	computed: {
		...mapState([
			'auth'
		]),
		disable_review(){
			return !this.rating.title.trim() || 
			!this.rating.body.trim() || !this.aknowledgement
		},
	},
	methods: {
		initialize(){
			// get user reviews
			db.collection('reviews').where('by.uid', '==',this.auth.user.uid)
			.onSnapshot((docs)=>{
				let arr = []
				docs.forEach(doc => {
					arr.push(doc.data())
				})
				// console.log(arr)
				this.reviews = arr
				this.showUi = true
			})
		},
		submitReview() {
			// submit review
			// this.saving_review = true

			// let batch = db.batch()

			// let reviewRef = db.collection('reviews').doc(this.rating.docId)
			// let av = (this.rating.comfort + this.rating.security + this.rating.service + this.rating.neatness) / 4
			
			// batch.update(reviewRef, {
			// 	body: this.rating.body,
			// 	title: this.rating.title,
			// 	neatness: this.rating.neatness,
			// 	security: this.rating.security,
			// 	service: this.rating.service,
			// 	comfort: this.rating.comfort,
			// 	score: av,
			// 	date_updated: Date.now()
			// })

			// // TODO: Trigger background function to recalculate hotel average review
			// batch.commit().then(() => {
			// 	this.saving_review = false
			// 	this.review_dialog = false
			// 	this.$eventBus.$emit('Snackbar', {
			// 		show: true,
			// 		message: 'Your review has been updated',
			// 		color: 'success'
			// 	})
			// }).catch(err => {
			// 	this.saving_review = false
			// 	this.$eventBus.$emit('Snackbar', {
			// 		show: true,
			// 		message: 'Sorry, something went wrong',
			// 		color: 'error'
			// 	})
			// })
		},
	},
	mounted(){
		this.auth.loggedIn ? this.initialize() : ''
	},
	components: {
    TopNavigation,
  }
}
import { mapState } from 'vuex';
import TopNavigation from '@/components/TopNavigation'
import { firebase, db } from '@/plugins/firebase'
</script>

