<template>
  <div>
    <top-navigation :breadcrumbs_items="breadcrumbs_items"/>

    <v-container fluid class="" grid-list-lg>
      <v-subheader class="title">Select the hotel where you are checked in</v-subheader>
      <v-subheader v-if="checkins.length == 0">No hotels</v-subheader>
      <v-layout row wrap>

        <v-flex xs12 sm6 v-for="booking in checkins" :key="booking.hotel_name">
          <v-card height="150" flat style="border: 1px solid #ddd" 
            class="ma-auto round" hover @click="gotoHotel(booking)">
            <v-layout column align-center>
              <v-flex xs4 mt-5 pb-0>
                  <div>{{booking.hotel_name}}</div>
              </v-flex>
              <v-flex xs4>
                <div class="primary--text">Click to select</div>
              </v-flex>
            </v-layout>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

  </div>
</template>
<script>
export default {
  layout: 'account',
  middleware: 'auth',
  data: () =>({
    breadcrumbs_items: [
      {
        text: 'Account',
        disabled: false,
        exact: true,
        to: '/account'
      },
      {
        text: 'Select hotel',
        disabled: true,
        exact: true,
        to: '/account/select'
      }
		],
    checkins: []
  }),
  watch: {
    'userInfo': function() {
      // this.userInfo ? this.initialize() : ''
      // console.log(this.userInfo)
    }
  },
  computed:{
    ...mapState([
      'auth',
      'userInfo',
      'myCheckins'
    ])
  },
  methods: {
    async initialize(){
      this.checkins = this.myCheckins
      
      // (await this.myBookings()).filter(booking => {
      //   return booking.status == 'checked_in'
      // })
      
    },
    async myBookings () {
			// get user bookings
			let bks = []
			await db.collection('bookings')
			.where('userId', '==', this.auth.user.uid)
			.get().then( docs => {
				
				docs.forEach(doc => {
					bks.push(doc.data())
				})
			})
			// console.log(bks)
			return bks
    },
    async gotoHotel(booking){
      let hotel = await db.collection('hotels').doc(booking.hotelId).get();
      let h = hotel.data()

      // console.log(h)
      this.$store.dispatch('setSmartHotel', {
        ...h,
        booking_details: booking
      })

      this.$router.push('/account/smart_attendant')

    }
  },
  mounted(){
    // console.log(this.$route)
    this.userInfo ? this.initialize() : ''
  },
  components: {
    TopNavigation,
  }
}
import { mapState } from 'vuex';
import TopNavigation from '@/components/TopNavigation'
import { firebase, db } from '@/plugins/firebase'
</script>
<style lang="scss" scoped>
  .round_top{
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
  }
</style>
