<template>
	<div>
		<top-navigation :breadcrumbs_items="breadcrumbs_items"/>
		
		<v-container grid-list-xs>
			<v-layout row wrap justify-center>
				<v-flex xs12 sm8>
					<v-alert
						dense :value="!emailVerified"
						border="left"
						type="warning"
					>
						Please verify your email address
					</v-alert>
				</v-flex>
				<v-flex xs12 sm8>
					<v-subheader class="pl-1">Edit Your Profile</v-subheader>
					<v-layout row wrap>

						<v-snackbar v-model="snackbar.show" top :color="snackbar.color" right>
							{{snackbar.message}}
							<v-btn flat color="white" @click.native="snackbar.show = false">Close</v-btn>
						</v-snackbar>

						<v-flex xs4 sm2>
							<v-select 
								label="Title" 
								name="title" 
								:items="titles" 
								v-model="form.title" 
								outline>
							</v-select>
						</v-flex>
						<v-flex xs8>
							<v-text-field 
								label="First Name" 
								name="first name" 
								v-model="form.fname"
								outline 
								:placeholder="auth.user.displayName.split(' ')[0]">
							</v-text-field>
						</v-flex>
						<v-flex xs12 sm10>
							<v-text-field 
								label="Last Name" 
								name="last name" 
								v-model="form.lname"	
								outline 
								:placeholder="auth.user.displayName.split(' ')[1]"
							></v-text-field>
						</v-flex>
					</v-layout>
				</v-flex>
				<v-flex xs12 sm8 pt-0>
					<v-layout row wrap>
						<v-flex xs6>
							<v-text-field 
								label="Your email" 
								v-model="form.email" 
								disabled name="email" 
								:placeholder="auth.user.email"	
								outline>
							</v-text-field>
						</v-flex>
						<v-flex xs6 sm4>
							<v-text-field 
								label="Phone" 
								name="phone" 
								v-model="form.phone" 
								:placeholder="auth.user.phone"	
								outline>
							</v-text-field>
						</v-flex>
					</v-layout>
				</v-flex>
				<v-flex xs12 sm8 pt-0>
					<v-layout row wrap>
						<v-flex xs12 sm10>
							<v-text-field 
								label="Address" 
								name="address" 
								v-model="form.address" 
								outline >
							</v-text-field>
						</v-flex>
						<!-- <v-flex xs12 sm4>
							<v-text-field 
								label="Display Name" 
								v-model="form.display_name" 
								name="display_name" 
								outline>
							</v-text-field>
						</v-flex> -->
						<v-flex xs12>
							<v-btn 
								color="success" 
								class="ml-0" 
								@click="submit" 
								:disabled="disabled"
								:loading="updating"
							>
							Save Changes</v-btn>
						</v-flex>
					</v-layout>
				</v-flex>
			</v-layout>

			<v-layout row wrap justify-center class="mt-5" v-if="!emailVerified">
				<v-flex xs12 sm8>
					<v-subheader>Verify your email address</v-subheader>
					
					<v-btn color="success" 
						@click="resend" :loading="loading" 
						:disabled="disable_resend_btn">
						Resend verification link
					</v-btn>
				</v-flex>
			</v-layout>
		</v-container>

	</div>
</template>
<script>
export default {
	layout: "account",
	head(){
    return {
      title: 'Profile Settings - HotelSmart'
    }
  },
	data(){
		return {
			form: {
				fname: '',
				lname: '',
				title: '',
				address: '',
				email: '',
				phone: '',
				display_name: '',
			},
			breadcrumbs_items: [
				{
					text: 'Account',
					disabled: false,
					exact: true,
					to: '/account'
				},
				{
					text: 'Settings',
					disabled: true,
					exact: true,
					to: '/account/settings'
				}
			],
			titles: [
				'Mr', 'Mrs','Ms','Pastor','Rev',
				'Prof','Dr','Hon'
			],
			showUi: false,
			snackbar: {},
			updating: false,
			disable_resend_btn: false,
			loading: false,
			selected_files: null,
			blob_urls: []
		}
	},
	computed:{
		...mapState([
			'auth',
			'userInfo'
		]),
		...mapGetters([

		]),
		emailVerified(){
			return firebase.auth().currentUser.emailVerified
		},
		disabled(){
			return !this.form.fname ||
				!this.form.lname || 
				!this.form.title || 
				!this.form.address ||
				!this.form.phone ||
				!this.form.display_name
		}
	},
	methods: {
		initialize(){
			console.log(this.auth)
			
			Object.assign(this.form, this.userInfo)
		},
		resend(){

			let user = firebase.auth().currentUser
			if(!user.emailVerified){
				
				this.loading = true
				this.sendVerificationLInk().then((sent)=>{

					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Verification link resent',
						color: 'success'
					})

					this.loading = false
					this.disable_resend_btn = true

				}).catch(function(error) {
					// An error happened.
					this.loading = false
					console.log(error)
				})
			}
		},
		sendVerificationLInk(){
      
      return new Promise((resolve, reject)=>{
        firebase.auth().currentUser.sendEmailVerification().then(done=>{
          resolve(done)
          
        }).catch(err => reject(err))
        
        resolve(true)
      })
    },
		submit(){
			this.updating = true
			firebase.auth().currentUser.updateProfile({
				displayName: this.form.fname + ' ' + this.form.lname
			}).then(()=>{

				db.collection('users').doc(this.auth.user.uid)
				.update({
					fname: this.form.fname,
					lname: this.form.lname,
					title: this.form.title,
					address: this.form.address,
					phone: this.form.phone,
					display_name: this.form.display_name
				}).then((d)=>{
					// console.log({d})
					this.updating = false
					this.snackbar = {
						show: true,
						color: 'purple',
						message: 'Profile updated successfully'
					}

					firebase.auth().onAuthStateChanged(user =>{
						if (user) {
							// console.log(user)
							this.$store.dispatch('setUser', user)
							
						} else {
							// No user is signed in.
						}
					})

					// this.$store.dispatch('setUser',{
					// 	...this.form
					// })
				}).catch(err =>{
					// console.log(err)
					this.snackbar = {
						show: true,
						color: 'error',
						message: 'An error occurred'
					}
				})

			}).catch(err =>{
				// console.log(err)
				this.snackbar = {
					show: true,
					color: 'error',
					message: 'An error occurred. Try again'
				}
			})

		},
	},
	mounted(){
		this.initialize()
	},
	components: {
    TopNavigation,
  }
}
import {mapState, mapGetters} from 'vuex'
import TopNavigation from '@/components/TopNavigation'
import { firebase, db } from '@/plugins/firebase'
</script>
