<template>
  <div>
    <v-snackbar v-model="snackbar.show" top right :timeout="3000">
      {{snackbar.message}}
      <v-btn flat color="" @click.native="snackbar.show = false">Close</v-btn>
    </v-snackbar>

    <!-- HOTEL SEARCH SECTION -->
    <hotel-search search_offset="30%" :height="$vuetify.breakpoint.xsOnly ? 250 : 200"></hotel-search>

    <!-- TOP HOTELS IN CITY -->
    <v-container grid-list-lg mt-5>
      <div class="title primary--text mb-4">Top hotels in <span class="text-capitalize">{{$route.params.city}}</span></div>
      
      <v-subheader v-if="!ready && hotels.length == 0">No hotels found</v-subheader>

      <v-layout row wrap v-if="!ready">
        <v-flex>
          <v-card flat height="100" >
            <v-progress-circular class="d-block mx-auto" style="position: relative; top: 40%;" indeterminate color="primary"></v-progress-circular>
          </v-card>
        </v-flex>
      </v-layout>

      <v-layout row wrap v-else>
        <v-subheader v-if="hotels.length == 0">No results found</v-subheader>
        <v-flex xs12 sm4 v-for="(h,i) in hotels" :key="i">
          <v-card height="" flat style="border: 1px solid #eee;">
            <nuxt-link :to="'/hotels/' + h.docId">
              <v-img :src="`${h.images ? h.images[0] : '/no-img.jpg'}`" height="200"></v-img>
            </nuxt-link>
            <div style="position:absolute;top:5px;right:15px;" v-if="auth.loggedIn">
              <v-tooltip bottom>
                <v-icon :class="{'red--text': user.favorites && user.favorites.find(item => item == h.docId)}"
                  @click="addFavorite('icon' + i, h.docId)" :id="'icon' + i" slot="activator">
                  favorite
                </v-icon>
                <span>Add as favorite to see it later</span>
              </v-tooltip>
              
            </div>
            <div style="position:absolute;top:15px;left:15px;">
              <v-rating readonly
								background-color="white"
								color="yellow accent-4"
								dense :value="h.reviews.average"
								half-increments
								hover
								size="19"
							></v-rating>
              <div class="white--text pl-2">{{h.reviews.average.toFixed(2)}}/ 5 Avg.</div>
            </div>
            <v-card-text>
              <div class="title px-0">
                <nuxt-link class="primary--text font-weight" :to="'/hotels/' + h.docId">{{h.name}}</nuxt-link>
                <div class="body-1 mt-2">{{h.address}}</div>
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
        <v-flex xs12 shrink class="text-xs-center mt-4" v-if="searchResult.length > items_per_page && 
          searchResult.length > hotels.length">
          <v-btn color="primary" class="text-capitalize" 
            outline @click="nextPage"
            :loading="loading_more">
            Load more
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- MAP VIEW -->
    <v-container grid-list-xs>
      <div>Map view of hotels in <span class="text-capitalize">{{$route.params.city}}</span></div>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card flat height="400" v-html="map_frame">
            
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
    <!-- NEAR ATTRACTIONS IN CITY -->
    <v-container grid-list-xl>
      <div class="title">Popular Attractions in <span class="text-capitalize">{{$route.params.city}}</span></div>
      <v-layout row wrap>
        <v-flex xs12 sm4 v-for="(attraction, i) in city_atrractions" :key="'list' + i">
          <v-list dense>
            <v-list-tile color="primary" class="pa-0"   to="" nuxt>
              <v-tooltip top>
                <v-list-tile-title slot="activator">{{attraction.name}}</v-list-tile-title>
                <span>{{attraction.location}}</span>
              </v-tooltip>
            </v-list-tile>
          </v-list>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- SUBSCRIBE -->
    <subscribe/>

    <!-- FOOTER -->
    <footr/>

  </div>
</template>
<script>
export default {
  head(){
    return {
      title: `Hotels in ${this.$route.params.city} - HotelSmart`
    }
  },
  data(){
    return {
      ready: false,
      snackbar: {},
      loading_more: false,
      searchResult: [],
      hotels: [],
      page: 1,
      items_per_page: 3,
      Fuse: '',
			fuseOptions: {
				shouldSort: true,
				threshold: 0.3,
				tokenize: true,
  			matchAllTokens: true,
				keys: [
					"name",
					"location.city",
					"location.state",
					"address"
				]
			},
      user: {}, // logged in user
    }
  },
  computed: {
    ...mapState([
      'auth',
      'listOfHotels'
    ]),
    city_atrractions(){
      let found = ncaa.findOne(this.$route.params.city)
      return found ? found.attractions : []
    },
    map_frame() {
      return `<iframe width='100%' height='400' frameborder='0'  
        scrolling='no' marginheight='0' marginwidth='0'    
        src='https://maps.google.com/maps?&amp;q="   
        ${encodeURIComponent( this.$route.params.city.toLowerCase() )}  
        "+hotels&amp;output=embed'></iframe>`
    }
  },
  
  methods:{
    initialize(){
      // Get hotels in the city
      let city = this.$route.params.city.toLowerCase()
      let fuse = new Fuse(this.listOfHotels, this.fuseOptions)
      this.searchResult = fuse.search(city)
      
      this.nextPage()

      // get user data
      if(this.auth.loggedIn){

        db.collection('users').doc(this.auth.user.uid)
        .get().then(doc => {
          this.user = doc.data()
        })
      }
    },
    nextPage(){
      
      try {
        
        let offset = this.page * this.items_per_page
        let start = offset - this.items_per_page
        
        this.loading_more = true
  
        Promise.all(
          this.searchResult.slice(start, offset).map(async hotel => {
            return db.collection('hotels').doc(hotel.docId).get()
            .then(doc => doc.data())
          })
        )
        .then(results => {
          this.page += 1
          
          this.hotels.push(...results)
          this.loading_more = false
          this.ready = true
          
        })
      } catch (error) {
        console.log(error)
      }
		},
    addFavorite(icon, hotelId){
      // console.log(icon)
      let doc = document.getElementById(icon)
      // console.log(doc.classList)
      doc.classList.toggle('red--text')

			let added = doc.classList.contains('red--text')
			if(added){
				// add a hotel as favorite
				db.collection('users').doc(this.auth.user.uid)
				.update({
					favorites: firebase.firestore.FieldValue.arrayUnion(hotelId)
				}).then(() => {

					this.$eventBus.$emit('Snackbar', {
						show: true,
						color: 'black',
						message: 'Added as favorite'
					}) 
				})
			}
			else{
				db.collection('users').doc(this.auth.user.uid)
				.update({
					favorites: firebase.firestore.FieldValue.arrayRemove(hotelId)
				}).then(() => {

					this.$eventBus.$emit('Snackbar', {
						show: true,
						color: 'black',
						message: 'Removed from favorites'
					})
				})
			}
    },
  },
  mounted(){
    this.initialize()
  },
  components:{
    HotelSearch,
    Footr,
    Subscribe
  }
}
// import moment from 'moment'
import HotelSearch from '@/components/HotelSearch'
import Footr from '@/components/footer'
import Subscribe from '@/components/subscribe'
import { mapState } from 'vuex';
import ncaa from 'nigerian-cities-and-attractions'
import Fuse from 'fuse.js'
import { firebase, db } from '@/plugins/firebase'
</script>
