<template>
	<div class="grey lighten-3">
		<v-container grid-list-sm v-if="!ready">
			<v-layout row wrap fill-height>
				<v-flex>
					<v-card height="400" class="py-5" flat>
						<v-progress-circular 
							indeterminate color="primary" 
							class="d-block mx-auto mt-5">
						</v-progress-circular>
					</v-card>
					
				</v-flex>
			</v-layout>
		</v-container>

		<v-container v-if="ready" 
			grid-list-xs pt-0 :fluid="$vuetify.breakpoint.xsOnly" 
			:pa-1="$vuetify.breakpoint.xsOnly">

			<v-layout row wrap>
				<v-flex xs12 md8 d-flex>
					<v-card height="410" flat class="zoom">
						<v-carousel height="410" :cycle="false" class="elevation-0">
							<v-carousel-item
								v-for="img in hotel.images || ['/no-img.jpg']"
								:key="img"
								:src="img"
								@click="index = 0;"
							>
							</v-carousel-item>
						</v-carousel>
		
					</v-card>
				</v-flex>

				<!-- VIDEO BLOG AND MAP VIEW -->
				<v-flex xs12 md4 d-flex>
					<v-card flat height="410">
						<v-card-title class="pb-0 title font-weight-bold indigo--text">
							{{hotel.name}}
						</v-card-title>
						

						<v-subheader class="pl-3"><v-icon small>place</v-icon>{{hotel.address}}</v-subheader>
						<v-divider></v-divider>

						
						<v-list class="ml-2">
							<v-list-tile class="pl-0">
								<v-list-tile-avatar tile color="green" class="white--text">
									{{hotel.reviews.average.toFixed(1)}}
								</v-list-tile-avatar>
								<v-list-tile-content>
									<v-list-tile-title class="success--text">
										{{getReviewText(hotel.reviews.average)}}
									</v-list-tile-title>
									<v-list-tile-sub-title>
										Based on {{hotel.reviews.total}} reviews
									</v-list-tile-sub-title>
									
								</v-list-tile-content>
								
							</v-list-tile>
						</v-list>
						<v-divider></v-divider>

						<v-card-text>
							<div class="">

								<v-tooltip bottom>
									<v-chip color="primary" dark slot="activator" small
										v-if="hotel.allowed_payments && hotel.allowed_payments.online_checkin">
										Online check-in
									</v-chip>
									<span>You can checkin online after booking</span>
								</v-tooltip>

								<v-chip v-for="item in chipItems" :key="item.text + 'f'" small>
									{{item.text}}
								</v-chip>
							</div>
						</v-card-text>
						<v-divider></v-divider>

						<v-card-text class="pt-1">

							<v-layout row wrap>
								<v-flex xs6>
									<v-subheader class="pl-0">Video of hotel</v-subheader>
									<v-card height="70" @click="video_dialog1 = true" tile flat hover 
										:img="!hotel.videoSrc ? '' : 'video-bgd.png'">
										
										<video :src="hotel.videoSrc" width="100%" height="100%" />
									</v-card>
								</v-flex>
								<v-flex xs6>
									<v-subheader class="pl-0">Map view</v-subheader>
									<v-card height="70" @click="map_dialog = true" hover tile flat img="/map.jpg">
										
									</v-card>
									
								</v-flex>
							</v-layout>
							
						</v-card-text>
						
					</v-card>
				</v-flex>
			</v-layout>
		</v-container>

		<!-- SELECT ROOMS -->
		<v-container v-if="ready" grid-list-xl>
			
			<v-layout row wrap>
				<v-flex xs12>
					<v-card flat class="grey lighten-3">
						<v-toolbar color="grey lighten-4" flat dense>
							<v-toolbar-title primary-title>Select Your Rooms</v-toolbar-title>
							<v-spacer></v-spacer>
						</v-toolbar>

						<v-container grid-list-lg class="grey lighten-4" px-1 >
							<v-layout row wrap>
								
								<v-layout row wrap class="hidden-xs-only">
									<v-flex sm4 md6>
										<div class="text-xs-center font-weight-bold">Room Type</div>
									</v-flex>
									<v-flex sm4 md3>
										<div class="text-xs-center font-weight-bold">Sleeps</div>
									</v-flex>
									<v-flex sm4 md3>
										<div class="text-xs-center font-weight-bold">Number of rooms</div>
									</v-flex>
								</v-layout>
								<v-flex xs12 v-for="(room,i) in hotel.rooms" :key="'room'+i" class="mb-3">
									<v-card flat style="border: 0px solid #ddd;" :class="{'grey lighten-4': room.qty_left == 0}">
										<v-layout row wrap >
											<v-flex xs12 sm3>
												
												<v-card height="200" 
													:img="room.imgSrc || '/no-img.jpg'" 
													flat tile 
													>
													
													<div style="position:absolute;top:43%;left:43%;" v-if="room.videoSrc">
														<v-icon color="white" @click="watchVideo(room.videoSrc)" large>play_circle_outline</v-icon>
													</div>

													<v-dialog
														v-model="video_dialog"
														max-width="500px" lazy
														transition="dialog-transition"
													>
														<v-card flat>
															<v-card-text>
																<video controls :src="selected_video" style="width: 100%;"></video>
															</v-card-text>
														</v-card>
													</v-dialog>

												</v-card>
											</v-flex>
											<v-flex sm3>
												<v-card height="200" flat 
													tile class="pt-3 text-xs-center" 
													:class="{'grey--text grey lighten-4': room.qty_left == 0}"
													style="border-right: 1px solid #bbb;">
													
													<v-card-text>
														<div class="font-weight-bold subheading mb-2 mt-5">{{room.room_type}}</div>
														<div class="font-weight-bold subheading mb-2">
															&#x20A6; {{room.price_per_night}} per night
														</div>
													</v-card-text>
												</v-card>
											</v-flex>
											<v-flex sm3>
												<v-card flat height="200" style="border-right: 1px solid #bbb;">
													
													<v-card-text>
														<div class="font-weight-bold subheading pt-4 mt-5 text-xs-center">{{room.sleeps}} Adults</div>
													</v-card-text>
												</v-card>
											</v-flex>
											<v-flex sm3>
												<v-card height="200" flat class="pa-3" tile :class="{'grey lighten-4': room.qty_left == 0}">
												
													<v-select outline dense
														:items="availableRooms(room)"
														v-model="selected_rooms[room.room_type]"
														label="Select Quantity" :disabled="room.qty_left == 0"
														hide-details class="mt-5 pt-3"
													></v-select>
													
													<span v-if="room.qty_left == 0" class="red--text">Completely booked</span>
													<small v-else-if="room.qty_left <= 5" class="red--text">{{`Hurry! Only ${room.qty_left} rooms left`}}</small>
													
												</v-card>
											</v-flex>
										</v-layout>
									</v-card>
								</v-flex>
							</v-layout>
						</v-container>

						<v-card class="grey lighten-5 py-1 px-2" flat>
							<v-subheader>Select your dates</v-subheader>
							<v-layout row wrap>
								
								<v-flex xs6 sm4>
									<v-menu
										v-model="menu1"
										:close-on-content-click="false"
										full-width
										max-width="500"
									>
										<template v-slot:activator="{ on }">
											<v-text-field outline flat hide-details
												:value="format_date1"
												label="Arrival"
												v-on="on"
											></v-text-field>
										</template>
										<v-date-picker landscape
											v-model="checkin" :allowed-dates="allowedDates"
											@change="menu1 = false"
										></v-date-picker>
									</v-menu>
								</v-flex>
								<v-flex xs6 sm4>
									<v-menu
										v-model="menu2"
										:close-on-content-click="false"
										full-width
										max-width="500"
									>
										<template v-slot:activator="{ on }">
											<v-text-field hide-details
												:value="format_date2"
												label="Departure" outline
												v-on="on"
											></v-text-field>
										</template>
										<v-date-picker landscape
											v-model="checkout" :allowed-dates="allowedDates2"
											@change="menu2 = false"
										></v-date-picker>
									</v-menu>
								</v-flex>
								<v-flex xs6 sm4 >
									<v-menu
										v-model="menu"
										:close-on-content-click="false"
											
										offset-x
									>
										<template v-slot:activator="{ on }">
											<v-text-field hide-details
												:value="`${adults} Adults, ${children} Children`"
												label="Adults. Children" outline
												v-on="on"
											></v-text-field>
										</template>

										<v-card>

											<v-divider></v-divider>

											<v-list dense>

												<v-list-tile>
													<v-list-tile-title class="font-weight-bold">Adults</v-list-tile-title>
													<v-list-tile-action>
														<v-select label="Adults" v-model="adults" :items="selectAdults()" 
															value="1" placeholder="1" single-line></v-select>
													</v-list-tile-action>
												</v-list-tile>

												<v-list-tile>
													<v-list-tile-title class="font-weight-bold">Children [ 0 - 17 years ]</v-list-tile-title>
													<v-list-tile-action>
														<v-select label="" v-model="children" :items="[0,1,2,3,4,5,6,7,8,9,10]" 
															value="1" placeholder="1" single-line></v-select>
													</v-list-tile-action>
												</v-list-tile>
											</v-list>

											<v-card-actions>
												<v-spacer></v-spacer>
												<v-btn color="primary" flat @click="menu = false">Done</v-btn>
											</v-card-actions>
										</v-card>
									</v-menu>
								</v-flex>
								<v-flex xs12>
									<v-card flat class="px-2 pb-1">
										<v-card-text class="text-xs-center">
											{{totalRooms}} Rooms, {{numOfNights}} Nights <br>
											<span>Total Price: &#x20A6; {{totalPrice.toLocaleString()}}</span>
										</v-card-text>
										<v-btn block dark color="primary" 
											large depressed :loading="loading"
											@click="book">
											Book Now</v-btn>
									</v-card>
								</v-flex>
							</v-layout>
						</v-card>
					</v-card>
				</v-flex>
			</v-layout>
		</v-container>

		<!-- ABOUT HOTEL -->
		<v-container grid-list-xs v-if="ready">
			<v-layout row wrap>
				<v-flex xs12>
		

					<v-card flat>
						<v-subheader class="title indigo--text pt-4">About This Property</v-subheader>
						<v-card-text>
							<div class="pb-3" style="white-space: pre-line">
								<span>{{hotel.description}}</span>
							</div>
							<v-divider></v-divider>
							<v-subheader class="pl-0 title indigo--text pt-4">Amenities</v-subheader>
							<v-layout row wrap>
								<v-flex xs12 sm8>
									<v-layout row wrap>
										<v-flex xs6 sm4 v-for="(facility, i) in hotel.facilities" :key="'cd' +i" >
											<v-list-tile class="pl-0">
												<v-list-tile-action><v-icon>{{icons[facility.code]}}</v-icon></v-list-tile-action>
												<v-list-tile-title>{{facility.text}}</v-list-tile-title>
											</v-list-tile>
										</v-flex>
									</v-layout>
								</v-flex>
							</v-layout>
							<v-divider class="my-4"></v-divider>
							
							<v-subheader class="pl-0 title indigo--text py-4">Policies</v-subheader>
							<div class="pb-4" style="white-space: pre-line">
								<span>{{hotel.policies}}</span>
							</div>
							<v-divider></v-divider>

						</v-card-text>
					</v-card>
						
					<v-card flat>
						<v-subheader class="title indigo--text pt-4">FAQ</v-subheader>
						<v-card-text>
							<v-expansion-panel class="elevation-0">
								<v-expansion-panel-content v-for="(item,i) in faqs" :key="item.question + i">
									<div slot="header">{{item.question}}</div>
									<v-card>
										<v-card-text>
											{{item.answer}}
										</v-card-text>
									</v-card>
								</v-expansion-panel-content>
							</v-expansion-panel>

						</v-card-text>
					</v-card>
				</v-flex>
			</v-layout>
		</v-container>

		<!-- REVIEWS  -->
		<v-container grid-list-xs v-if="ready">
			<v-layout row wrap>
				<v-flex xs12>
					<v-card class="pa-2 pt-0 grey lighten-3" flat>
						<v-card flat>
							<v-container grid-list-sm class="pa-0">
								<v-layout row wrap>
									<v-subheader v-if="reviews.length == 0">No reviews yet. Be the first to write a review.</v-subheader>
									
									<!-- Average reviews for hotel -->
									<v-flex xs12 >
										<v-card style="min-height:150px;" flat>
											<div class="title font-weight-bold py-3 pl-3">
												Guest Reviews
											</div>
											<v-list class="">
												<v-list-tile class="pl-0">
													<v-list-tile-avatar tile color="green" class="white--text">
														{{hotel.reviews.average.toFixed(1)}}
													</v-list-tile-avatar>
													<v-list-tile-content>
														<v-list-tile-title class="success--text">
															{{getReviewText(hotel.reviews.average)}}
														</v-list-tile-title>
														<v-list-tile-sub-title>
															Based on {{hotel.reviews.total}} reviews
														</v-list-tile-sub-title>
														
													</v-list-tile-content>
													
												</v-list-tile>
											</v-list>
											<v-divider class="mt-2 mx-3"></v-divider>
											<v-card-text>
												
												<v-layout row wrap>
													<v-flex xs12>
														<v-layout row wrap class="py-0">
															<v-flex xs3 shrink py-0>
																<div class="py-2">Comfort</div>
															</v-flex>
															<v-flex xs7 py-0>
																<v-progress-linear
																	color="success"
																	height="10"
																	:value="hotel.reviews.comfort/5*100"
																></v-progress-linear>
															</v-flex>
															<v-flex xs1 py-0>
																<div class="py-2">{{(hotel.reviews.comfort).toFixed(1)}}</div>
															</v-flex>
														</v-layout>
													</v-flex>
													<v-flex xs12>
														<v-layout row wrap>
															<v-flex xs3 shrink py-0>
																<div class="py-2">Neatness</div>
															</v-flex>
															<v-flex xs7 py-0>
																<v-progress-linear
																	color="success"
																	height="10"
																	:value="hotel.reviews.neatness/5*100"
																></v-progress-linear>
															</v-flex>
															<v-flex xs1 py-0>
																<div class="py-2">{{(hotel.reviews.neatness).toFixed(1)}}</div>
															</v-flex>
														</v-layout>
													</v-flex>
													<v-flex xs12>
														<v-layout row wrap py-0>
															<v-flex xs3 shrink py-0>
																<div class="py-2">Security</div>
															</v-flex>
															<v-flex xs7 py-0>
																<v-progress-linear
																	color="success"
																	height="10"
																	:value="hotel.reviews.security/5*100"
																></v-progress-linear>
															</v-flex>
															<v-flex xs1 py-0>
																<div class="py-2">{{(hotel.reviews.security).toFixed(1)}}</div>
															</v-flex>
														</v-layout>
													</v-flex>
													<v-flex xs12>
														<v-layout row wrap>
															<v-flex xs3 shrink py-0>
																<div class="py-2">Customer Service</div>
															</v-flex>
															<v-flex xs7 py-0>
																<v-progress-linear
																	color="success"
																	height="10"
																	:value="hotel.reviews.service/5*100"
																></v-progress-linear>
															</v-flex>
															<v-flex xs1 py-0>
																<div class="py-2">{{(hotel.reviews.service).toFixed(1)}}</div>
															</v-flex>
														</v-layout>
													</v-flex>
												</v-layout>
											</v-card-text>
										</v-card>
									</v-flex>

									<!-- Guest reviews -->
									<v-flex xs12 >
										<v-layout row wrap style="max-height: 400px; overflow: auto;">
											<v-flex xs12 v-for="review in reviews.slice(0, slice_review)" :key="review.docId">
												<v-card style="min-height:150px;" height="150" flat>
													<div class="pl-3 pt-4">
														<div class="font-weight-bold pt-1">
															<v-tooltip top>
																<template slot="activator">
																	<span>{{$helpers.truncateText(review.title, 25)}}</span>
																</template>
																<span>{{review.title}}</span>
															</v-tooltip>
															
														</div>
														<div class="inline-block">
															{{review.score.toFixed(1)}}/5 {{getReviewText(review.score)}}
														</div>
														<div>
															<small>
																<span class="text-capitalize">
																{{review.by.name}}</span>
																| on {{new Date(review.date_created).toISOString().substr(0, 10)}}
															</small>
														</div>
													</div>
													
													<v-card-text>
														{{$helpers.truncateText(review.body, 60)}}
													</v-card-text>
												</v-card>
											</v-flex>
										</v-layout>
									</v-flex>

									<v-btn color="info" small v-if="reviews.length > 2"
										flat class="text-capitalize"
										@click="moreReviews">
										{{slice_review > 2 ? 'Show Less' : 'Show More'}}
										
									</v-btn>

									<v-flex xs12>
										<v-card flat>
											<v-subheader>Been to this hotel ? </v-subheader> 
											<v-btn color="success" flat class="ml-0 text-capitalize" v-if="auth.loggedIn" @click="$eventBus.$emit('WriteReview', hotel)">Write a review</v-btn>
											<v-btn color="success" flat class="ml-0 text-capitalize" v-else @click="$eventBus.$emit('ShowLogin')">Login to write a review</v-btn>
										</v-card>
									</v-flex>
								</v-layout>
								<!-- PAGINATION -->
								<div class="text-xs-center mt-3" v-if="hotel.reviews && hotel.reviews.length > 0">
									<v-pagination
										v-model="page"
										:length="4"
										circle
									></v-pagination>
								</div>
							</v-container>
						</v-card>
						
					</v-card>
				</v-flex>
			</v-layout>
		</v-container>


		<v-container grid-list-md>
			<v-layout row wrap>
				<v-flex >
					<!-- <v-card flat> -->
						<v-subheader class="title primary--text">You might also like</v-subheader>
						<v-layout row wrap>
							<v-flex v-for="(h,i) in recommendations" :key="i + 'ymal'" xs12 sm3>
								<v-card height="300">
									<nuxt-link :to="'/hotels/' + h.docId">
										<v-img :src="`${h.images ? h.images[0] : '/no-img.jpg'}`" height="200"></v-img>
									</nuxt-link>
									<div style="position:absolute;top:5px;right:15px;" v-if="auth.loggedIn">
										<v-tooltip bottom>
											<v-icon :class="{'red--text': auth.user && auth.user.favorites && auth.user.favorites.find(item => item == h.docId)}"
												@click="addFavorite('icon' + i, h.docId)" :id="'icon' + i" slot="activator">
												favorite
											</v-icon>
											<span>Add as favorite to see it later</span>
										</v-tooltip>
										
									</div>
									<div style="position:absolute;top:15px;left:15px;">
										<v-rating readonly
											background-color="white"
											color="yellow accent-4"
											dense :value="h.reviews.average"
											half-increments
											hover
											size="19"
										></v-rating>
										<div class="white--text pl-2">{{h.reviews.average.toFixed(2)}}/ 5 Avg.</div>
									</div>
									<v-card-text>
										<div class="title px-0">
											<nuxt-link class="primary--text font-weight" :to="'/hotels/' + h.docId">{{h.name}}</nuxt-link>
											<div class="body-1 mt-2">{{h.address}}</div>
										</div>
									</v-card-text>
								</v-card>
							</v-flex>
						</v-layout>
					<!-- </v-card> -->
				</v-flex>
			</v-layout>
		</v-container>

		<!-- MAP VIEW DIALOG -->
		<v-dialog
			v-model="map_dialog"
			:overlay="false"
			max-width="800px"
			transition="dialog-transition"
		>
			<div v-html="frame"></div>
		</v-dialog>

		<!-- HOTEL VIDEO DIALOG -->
		<v-dialog
			v-model="video_dialog1"
			:overlay="false"
			max-width="800px"
			transition="dialog-transition"
		>
			<video controls :src="hotel.videoSrc" width="100%" height="100%" />
		</v-dialog>

		<!-- GALERY VIEWER -->
		<client-only v-if="ready" placeholder="Loading...">
			<slider :images="hotel.images" :index="index" @close="index = null"></slider>
		</client-only>
		
		<!-- SUBSCRIBE -->
		<app-subscribe/>

		<!-- FOOTER -->
		<app-footer/>
	</div>
</template>
<script>
export default {
	head(){
    return {
			title: `${this.hotel.name} | Rates, reviews, and pictures | HotelSmart`,
			description: `Spend a night or more at ${this.hotel.name} and pay less. Find the best deals on ${this.hotel.name} on HotelSmart. ▷Book now! ✔Guest reviews and facilities, ✔Online Checkin, ✔Pay on arrival`,
			meta: [
				{
					hid: 'description',
					name: 'description',
					content: `Spend a night or more at ${this.hotel.name} and pay less. Find the best deals on ${this.hotel.name} on HotelSmart. ▷Book now! ✔Guest reviews and facilities, ✔Online Checkin, ✔Pay on arrival`
				},
				{
					hid: 'og:type',
					name: 'og:type',
					// property: 'og:type',
					content: 'website',
				},
				{
					hid: 'og:title',
					property: 'og:title',
					name: 'og:title',
					content: `${this.hotel.name} | Rates, reviews, and pictures | HotelSmart`
				},
				{
					hid: 'og:site_name',
					// property: 'og:site_name',
					name: 'og:site_name',
					content: 'HotelSmart'
				},
				{
					hid: 'og:description',
					name: 'og:description',
					// property: 'og:description',
					content: `${this.hotel.description.slice(0,150)}...`
				},
				{
					hid: 'og:image',
					name: 'og:image',
					property: 'og:image',
					content: `${this.hotel.images[0] || 'https://hotelsmart.com.ng/no-img.jpg'}`
				},
				{
					hid: 'og:url',
					name: 'og:url',
					property: 'og:url',
					content: `https://hotelsmart.com.ng/hotels/${this.hotel.docId}`
				},
				{
					hid: 'twitter:card',
					// property: 'twitter:card',
					name: 'twitter:card',
					content: `summary`
				},
				{
					hid: 'twitter:url',
					name: 'twitter:url',
					// property: 'twitter:url',
					content: `https://hotelsmart.com.ng/hotels/${this.hotel.docId}`
				},
				{
					hid: 'twitter:title',
					// property: 'twitter:title',
					name: 'twitter:title',
					content: `${this.hotel.name} | Rates, reviews, and pictures | HotelSmart`
				},
				{
					hid: 'twitter:description',
					name: 'twitter:description',
					// property: 'twitter:description',
					content: `${this.hotel.description.slice(0,150)}...`
				},
				{
					hid: 'twitter:image',
					name: 'twitter:image',
					// property: 'twitter:image',
					content: `${this.hotel.images[0] || 'https://hotelsmart.com.ng/no-img.jpg'}`
				},
				
			]
    }
	},
	async asyncData ({ params, error, payload }) {
		// console.log(params)
		if (payload) return { hotel: payload }
		else {
			let doc = await db.collection('hotels').doc(params.hotel).get()
			if(doc.exists){
				return {hotel: doc.data()}
			}
		}
		
		// else return { user: await backend.fetchUser(params.id) }
	},
	data: ()=>({
		ready: false,
		index: null,
		frame: '',
		slice_review: 2, // first slice of reviews
		map_dialog: false,
		aknowledgement: false,
		reviews: [],
		video_dialog1: false,
		video_dialog: false,
		selected_video: '',
		review_dialog: false,
		saving_review: false,
		loading: false,
		hotel: {},
		selected_rooms: [],
		active: 'Overview',
		page: 1,
		icons: {
			'001': 'local_bar',
			'002': 'local_parking',
			'003': 'live_tv',
			'004': 'airport_shuttle',
			'005': 'business',
			'006': 'wifi',
			'007': 'more_vert',
			'008': 'pets',
			'009': 'more_vert',
			'010': 'more_vert'
		},

		checkin: new Date().toISOString().substr(0, 10),
		checkout: new Date(new Date().getTime() + (24 * 60 * 60 * 1000)).toISOString().substr(0, 10),
		menu1: false,
		menu2: false,
		menu: false,
		rooms: 1,
		adults: 1,
		children: 0,
		rating: {
			title: '',
			body: '',
			neatness: 3,
			security: 2,
			service: 4,
			comfort: 3
		},
		faqs: [],
		recommendations: [],
	}),
	watch: {
		'checkin': async function(to, from){
			if(this.hotel.docId){
				this.loading = true
				this.hotel = await this.checkAvailability([this.hotel])
				this.loading = false
			}
		},
		'checkout': async function(to, from){
			if(this.hotel.docId){
				this.loading = true
				this.hotel = await this.checkAvailability([this.hotel])
				this.loading = false
			}
		}
	},
	computed: {
		hotelImages(){
			if(this.hotel.images && this.hotel.images.l){}
		},
		chipItems(){
			if(this.$vuetify.breakpoint.xsOnly){
				return this.hotel.facilities.slice(0,10)
			}
			else if(this.$vuetify.breakpoint.smAndDown){
				return this.hotel.facilities.slice(0,0)
			}
			else {
				return this.hotel.facilities.slice(0,10)
			}
			
		},
		format_date1 () {
			return this.checkin ? 
			moment(this.checkin)
			.format('ddd, MM Do YYYY') : ''
    },
    format_date2 () {
			return this.checkout ? 
			moment(this.checkout)
			.format('ddd, MM Do YYYY') : ''
		},
		disable_review(){
			return !this.rating.title.trim() || 
			!this.rating.body.trim() || !this.aknowledgement
		},
		totalRooms(){
			let total = 0
			return Object.values(this.selected_rooms).reduce(function(previous, current){
				return previous + current
			}, 0)
			
		},
		numOfNights(){
			function treatAsUTC(date) {
				var result = new Date(date);
				result.setMinutes(result.getMinutes() - result.getTimezoneOffset());
				return result;
			}

			function daysBetween(startDate, endDate) {
				var millisecondsPerDay = 24 * 60 * 60 * 1000;
				return (treatAsUTC(endDate) - treatAsUTC(startDate)) / millisecondsPerDay;
			}

			return daysBetween(this.checkin, this.checkout)
		},
		totalPrice(){
			
			let prices = []
			
			let rooms = Object.values(this.hotel.rooms)

			return Object.entries(this.selected_rooms).map((item) => {

				return item[1] * rooms.find(room => room.room_type == item[0]).price_per_night
			}).reduce(
				(acc, curr) =>	acc + curr, 0) * this.numOfNights

		},
		...mapState([
			'auth',
			'listOfHotels'
		])
	},
	methods: {
		async initialize(){
			// get the hotel information from db
			if(this.$route.query.checkin){
				this.checkin = this.$route.query.checkin
				this.checkout = this.$route.query.checkout
			}
			if(this.$route.query.adults){
				this.adults = this.$route.query.adults
				this.children = this.$route.query.children
			}


			await db.collection('hotels').doc(this.$route.params.hotel)
			.onSnapshot(async doc => {
				if(doc.exists){

					// this.hotel = doc.data()
					this.hotel = await this.checkAvailability([doc.data()])

					// console.log(h)

					this.setMap()
					this.ready = true

					setTimeout(() => {
						// get recommendations
						this.getRecommendations()

					}, 3000);

				}
				else {
					this.hotel = []
					// this.ready = true
				}
			}, err => console.log(err))


			if(this.$route.params.hotel){
				// get reviews

				db.collection('reviews')
				.where('for.id','==',this.$route.params.hotel)
				.orderBy('date_created','desc')
				.onSnapshot(docs => {
					let arr = []
					docs.forEach(doc => {
						arr.push(doc.data())
					})
					// console.log({reviews: arr})
					this.reviews = arr
				})

				// get faq
				db.collection('hotels').doc(this.$route.params.hotel)
				.collection('faqs').get().then(docs => {
					let a = []
					docs.forEach(d => a.push(d.data()))
					this.faqs = a
				})

				

			}
			// console.log(this.$refs)
		},
		selectAdults(){
			// console.log(this.hotel.rooms)
			let allowed_adults = 30
			// this.hotel.rooms.forEach(room => {
			// 	allowed_adults += parseInt(room.sleeps)
			// })

			// console.log(allowed_adults)

			let arr = []
			for(let i=0; i< allowed_adults; i++){
				arr.push(i+1)
			}
			// console.log(arr)
			return arr
		},
		getReviewText(average){
			let av = Math.round((average)) * 2
			
			switch(av){
				
				case 2:
					return 'poor'
				case 4:
					return 'Good'
				case 6:
					return 'Very good'
				case 8:
					return 'Excellent'
				case 10:
					return 'Outstanding'
				default:
					return 'No reviews'
			}
		},
		async getReservationsBtnDates(hotelId, checkin, checkout){
			// retrieve reservations made for a hotel where checkout date is >
			// <checkin> and checkin date is < <checkout>
			try {
				
				let docs = await db.collection('bookings')
					.where('hotelId', '==', hotelId)
					.where('checkout_time', '>', checkin)
					.get()
	
				let arr = []
				docs.forEach(doc => arr.push(doc.data()))

				return arr.filter(item => {
					return item.checkout_time > checkin && item.checkin_time < checkout
					&& item.paid && item.status != 'cancelled'
				})

			} catch (error) {
				console.log(error)
			}
		},
		async checkAvailability(hotels){
			// check the availability of rooms for some hotels 
			// within a certain range of dates

			try {
				
				let checkin = new Date(this.checkin).getTime()
				let checkout = new Date(this.checkout).getTime()

				let available_hotels = await hotels.map(async hotel => {
					// console.log({hotels})
					let rd = await this.getReservationsBtnDates(hotel.docId, checkin, checkout)
					let hotel_rooms = {}
					hotel.rooms.forEach(rm => hotel_rooms[rm.room_type] = rm)
			
					let m = {}
					Object.keys(hotel_rooms).forEach(cat => {
						
						rd.map(itm => itm.rooms).forEach(t => {
							t[cat] ? m[cat] ? m[cat] += t[cat].qty : m[cat] = t[cat].qty : ''
						})
					})

					return {
						...hotel,
						rooms: hotel.rooms.map(itm => {
								return {
									...itm,
									qty_left: itm.qty - (m[itm.room_type] ? m[itm.room_type] : 0)
								}
							})
							
					}
				})

				let all = await Promise.all(available_hotels)
				// console.log({all})
				return all[0]
				
			} catch (error) {
				console.log(error)
			}
		},
		availableRooms(room){
			
			let arr = [0]
			for(let i=0; i< room.qty_left; i++){
				arr.push(i+1)
			}
			return arr
		},
		allowedDates(val){
			// only allow dates greater than or equal to today
			let today = new Date().getTime() - 24*60*60*1000

			let toAllow = new Date(val).getTime()
			
			return toAllow - today >= 0
		},
		allowedDates2(val){
			// only allow dates greater than the checkin date
			let checkin = new Date(this.checkin).getTime()

			let toAllow = new Date(val).getTime()
			let oneDay = 24 * 60 * 60 * 1000
			
			return toAllow - checkin  - oneDay >= 0
		},
		book(){
			
			if(this.totalRooms == 0){
				this.$eventBus.$emit('Snackbar', {
					message: 'Please select at least 1 (one) room',
					color: 'info',
					show: true
				})
			}
			else if(this.numOfNights == 0){
				this.$eventBus.$emit('Snackbar', {
					message: 'Please select at minimum of 1 night',
					color: 'info',
					show: true
				})
			}

			else {

				this.loading = true;

				let data = {
					name: this.hotel.name,
					id: this.hotel.docId,
					rooms: {},
					checkin: this.checkin,
					checkout: this.checkout,
					adults: this.adults,
					children: this.children,
					hotel: this.hotel
				}
				
				let values = Object.values(this.selected_rooms)
				let keys = Object.keys(this.selected_rooms)
				// console.log({keys,values, rooms: this.hotel.rooms})
				keys.forEach(item =>{
					data.rooms[item] = {
						qty: values[keys.indexOf(item)],
						price: this.hotel.rooms.find(room => 
							room.room_type == item
						).price_per_night
					}
				})
				
				// modify room availability
				let modified_rooms = []
				this.hotel.rooms.forEach(room => {
					let this_room = this.selected_rooms[room.room_type]
					modified_rooms.push({
						...room,
						left: room.qty - this_room || room.qty
					})
				})
				data.modified_rooms = modified_rooms
	
				// console.log(data, JSON.stringify(data), modified_rooms)
				let encoded = btoa(JSON.stringify(data))
				this.$router.push('/checkout?id=' + encoded)
			}
		},
		addFavorite(icon, hotelId){
      // console.log(icon)
      let doc = document.getElementById(icon)
      // console.log(doc.classList)
      doc.classList.toggle('red--text')

			let added = doc.classList.contains('red--text')
			if(added){
				// add a hotel as favorite
				db.collection('users').doc(this.auth.user.uid)
				.update({
					favorites: firebase.firestore.FieldValue.arrayUnion(hotelId)
				}).then(() => {

					this.$eventBus.$emit('Snackbar', {
						show: true,
						color: 'black',
						message: 'Added as favorite',
					}) 
				})
			}
			else{
				db.collection('users').doc(this.auth.user.uid)
				.update({
					favorites: firebase.firestore.FieldValue.arrayRemove(hotelId)
				}).then(() => {

					this.$eventBus.$emit('Snackbar', {
						show: true,
						color: 'black',
						message: 'Removed from favorites',
					})
				})
			}
    },
		watchVideo(video){
			this.selected_video = video
			this.video_dialog = true
		},
		setMap(){
			let q = this.hotel.name
			this.frame = `<iframe width='100%' height='400' frameborder='0'  
        scrolling='no' marginheight='0' marginwidth='0'    
        src='https://maps.google.com/maps?&amp;q="   
        ${encodeURIComponent( q )}  
        "&amp;output=embed'></iframe>`
		},
		moreReviews(){
			if(this.slice_review != this.reviews.length){
				this.slice_review = this.reviews.length
			}
			else {
				this.slice_review = 2
			}
		},
		getRecommendations(){
			// recommend more hotels to users
			let fuseOptions = {
				shouldSort: true,
				threshold: 0.4,
				tokenize: true,
  			matchAllTokens: true,
				keys: [
					"name",
					"location.city",
					"location.state",
					"address"
				]
			}

			let query = this.hotel.location.city;

			let fuse = new Fuse(this.listOfHotels, fuseOptions)

			let searchResult = fuse.search(query)
			
			Promise.all(
				searchResult.map(async hotel => {
					return db.collection('hotels').doc(hotel.docId).get()
					.then(doc => doc.data())
				})
			).then(results => {
				// exclude the current hotel from the results
				this.recommendations = results.filter(h => h.docId != this.hotel.docId)
			})
		}

	},
	components: {
		AppFooter,
		AppSubscribe,
		// CheckoutDate,
		'slider': () => import('@/components/slider.vue'),
	},
	mounted(){
		this.initialize()
		
		this.$eventBus.$on('Close_Slider', ()=> this.index = null)
	}
}
// import CheckoutDate from "@/components/CheckoutDate";
// import VueGallery from 'vue-gallery';
import { mapState } from 'vuex'
import moment from 'moment'
import AppFooter from '@/components/footer'
import AppSubscribe from '@/components/subscribe'
import Fuse from 'fuse.js'
import { firebase, db } from '@/plugins/firebase'

</script>
<style scopped>
	.zoom{
		cursor: zoom-in;
		cursor:-webkit-zoom-in;
	}
	.inf .v-list__tile__action{
		min-width: 28px;
	}
</style>
