<template>
  <v-card :height="height" flat>
    <v-layout row wrap justify-center fill-height>
      <v-flex>
        <v-card class="round red lighten-2 pa-1" flat>
          <v-layout row wrap>
            
            <v-flex xs6 sm4>
              <v-menu
                v-model="menu1"
                :close-on-content-click="false"
                full-width
                max-width="500"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field solo flat hide-details
                    :value="format_date1"
                    label="Check In"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker landscape
                  v-model="checkin" :allowed-dates="allowedDates"
                  @change="menu1 = false"
                ></v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs6 sm4>
              <v-menu
                v-model="menu2"
                :close-on-content-click="false"
                full-width
                max-width="500"
              >
                <template v-slot:activator="{ on }">
                  <v-text-field solo flat hide-details
                    :value="format_date2"
                    label="Check Out"
                    v-on="on"
                  ></v-text-field>
                </template>
                <v-date-picker landscape
                  v-model="checkout" :allowed-dates="allowedDates2"
                  @change="menu2 = false"
                ></v-date-picker>
              </v-menu>
            </v-flex>
            <v-flex xs6 sm4>
              <v-menu
                v-model="menu"
                :close-on-content-click="false"
                  
                offset-x
              >
                <template v-slot:activator="{ on }">
                  <v-text-field solo flat hide-details
                    :value="`${adults} Adults, ${children} Children`"
                    label="Adults. Children"
                    v-on="on"
                  ></v-text-field>
                </template>

                <v-card>

                  <v-divider></v-divider>

                  <v-list dense>
                    <v-list-tile>
                      <v-list-tile-title class="font-weight-bold">Rooms</v-list-tile-title>
                      <v-list-tile-action>
                        <v-select label="Rooms" v-model="rooms" :items="[1,2,3,4,5,6,7,8,9,10]" 
                          value="1" placeholder="1" single-line></v-select>
                      </v-list-tile-action>
                      
                    </v-list-tile>

                    <v-list-tile>
                      <v-list-tile-title class="font-weight-bold">Adults</v-list-tile-title>
                      <v-list-tile-action>
                        <v-select label="Adults" v-model="adults" :items="[1,2,3,4,5,6,7,8,9,10]" 
                          value="1" placeholder="1" single-line></v-select>
                      </v-list-tile-action>
                    </v-list-tile>

                    <v-list-tile>
                      <v-list-tile-title class="font-weight-bold">Children [ 0 - 17 years ]</v-list-tile-title>
                      <v-list-tile-action>
                        <v-select label="" v-model="children" :items="[1,2,3,4,5,6,7,8,9,10]" 
                          value="1" placeholder="1" single-line></v-select>
                      </v-list-tile-action>
                    </v-list-tile>
                  </v-list>

                  <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="primary" flat @click="menu = false">Done</v-btn>
                  </v-card-actions>
                </v-card>
              </v-menu>
            </v-flex>
          </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-card>
</template>
<script>
export default {
	data(){
		return {
			checkin: new Date().toISOString().substr(0, 10),
			checkout: new Date(new Date().getTime() + (24 * 60 * 60 * 1000)).toISOString().substr(0, 10),
      menu1: false,
      menu2: false,
      menu: false,
      rooms: 1,
      adults: 1,
      children: 1,
		}
	},
	props: {
		height:{
			default: 100,
			type: Number
		},
		search_offset: {
			default: '40%',
			type: String
		},
	},
	computed: {
    format_date1 () {
      return this.checkin ? moment(this.checkin).format('ddd, MM Do YYYY') : ''
    },
    format_date2 () {
      return this.checkout ? moment(this.checkout).format('ddd, MM Do YYYY') : ''
    },
	},
	methods: {
		allowedDates(val){
			// only allow dates greater than or equal to today
			let today = new Date().getTime()

			let toAllow = new Date(val).getTime()
			
			return toAllow - today >= 0
		},
		allowedDates2(val){
			// only allow dates greater than the checkin date
			let checkin = new Date(this.checkin).getTime()

			let toAllow = new Date(val).getTime()
			let oneDay = 24 * 60 * 60 * 1000
			
			return toAllow - checkin  - oneDay >= 0
		},
	}
}
import moment from 'moment'
</script>
