<template>
	<v-container grid-list-xs dark fluid  class="grey darken-3">
		<v-layout row wrap>
			<v-flex xs6 sm3 >
				<v-card flat dark >
					<v-card-title primary-title class="pb-2 font-weight-bold">
						About Us
					</v-card-title>
					<v-card-text class="pt-0">
						<p class="list_items">HotelSmart is the easiest way to find and book hotels in Nigeria. </p>
					</v-card-text>
				</v-card>
			</v-flex>

			<v-flex xs6 sm3 v-for="(block,i) in footerBlocks" :key="`a${i}`">
				<v-card flat dark >
					<v-card-title primary-title class="pb-2 font-weight-bold">
						{{block.title}}
					</v-card-title>
					<v-card-text class="pt-0">
						<div v-for="item in block.items" :key="item.title">
							<nuxt-link v-if="!item.ext" :to="item.link" class="list_items white--text">
								{{item.title}}
							</nuxt-link>
							<a :href="item.link" v-if="item.ext" class="orange--text">{{item.title}}</a>
						</div>
					</v-card-text>
				</v-card>
			</v-flex>

			<v-flex xs12 sm3 >
				<v-card flat dark >
					<v-card-title primary-title class="pb-2 font-weight-bold">
						Contact Us
					</v-card-title>
					<v-card-text class="pt-0">
						<!-- <p class="">Office #7, 2nd floor, B wing, Akalaka House, 127 Chime Avenue, New Heaven Enugu</p> -->
						<v-icon small class="list_items mr-3">phone</v-icon> +2348036975227 <br>
						<v-icon small class="list_items mr-3">phone</v-icon> +2349043536391 <br>
						<v-icon small class="list_items mr-3">mail</v-icon> hello@hotelsmart.com.ng
					</v-card-text>
				</v-card>
			</v-flex>

		</v-layout>
		<v-divider dark></v-divider>
		<v-footer height="" class="grey darken-3">
			<v-layout row wrap justify-center>
				
				<v-flex xs12 py-0 text-xs-left white--text>
					&copy; {{new Date().getFullYear()}} —
					<strong>HotelSmart</strong>
				</v-flex>
			</v-layout>
		</v-footer>
	</v-container>
</template>
<script>
export default {
	data: ()=> ({

	}),
	computed:{
		footerBlocks(){
			return [
				{
					title: 'Help and Support',
					items: [
						{title: 'Help',link: 'https://help.hotelsmart.com.ng', exact: true, ext: true},
						{title:'Privacy Policy',link: 'privacy-policy'},
						{title:'Terms of Use',link: 'terms-of-use'},
					]
				},
				{
					title: 'Hoteliers',
					items: [
						{title: 'Add Your Property', link: '/hoteliers'},
						{title:'Hotelier Login',link: 'https://hotelier.hotelsmart.com.ng', exact:true, ext: true},
						
					]
				}
			]
		}
	}
	
}
</script>
<style>
	.list_items{
		color:#b5bdbd !important;
	}
	.list_items:hover {
		color: orange !important;
	}
</style>
