<template>
	<v-container grid-list-xs fluid py-0>
		<v-layout row wrap >
			<v-flex xs12>
				<v-card :height="height" flat :img="img ? img : no_bgd ? '' : '/map.jpg'">
					<v-layout row wrap justify-center fill-height>
						<v-flex xs11 sm9>
							<v-card :style="searchStyl" class="round red lighten-1 pa-1">
								<v-layout row wrap>
									<v-flex xs12 sm4 v-if="!hide_search">
										<v-combobox 
											v-model.trim="query"
											:loading="isLoading"
											prepend-inner-icon="place"
											:items="entries"
											:search-input.sync="search"
											item-text="name" item-value="docId"
											solo hide-details
											hide-no-data
											label="Enter city or hotel name"
										>
												
										</v-combobox>
									</v-flex>
									<v-flex xs6 sm3>
										<v-menu
											v-model="menu1"
											:close-on-content-click="false"
											full-width
											max-width="500"
										>
											<template v-slot:activator="{ on }">
												<v-text-field solo flat hide-details
													:value="format_date1"
													label="Check In"
													v-on="on"
												></v-text-field>
											</template>
											<v-date-picker landscape
												v-model="checkin" :allowed-dates="allowedDates"
												@change="menu1 = false"
											></v-date-picker>
										</v-menu>
									</v-flex>
									<v-flex xs6 sm3>
										<v-menu
											v-model="menu2"
											:close-on-content-click="false"
											full-width
											max-width="500"
										>
											<template v-slot:activator="{ on }">
												<v-text-field solo flat hide-details
													:value="format_date2"
													label="Check Out"
													v-on="on"
												></v-text-field>
											</template>
											<v-date-picker landscape
												v-model="checkout" :allowed-dates="allowedDates2"
												@change="menu2 = false"
											></v-date-picker>
										</v-menu>
									</v-flex>
									
									<v-flex xs4 sm1>
										<v-btn color="success" class="ml-1" @click="doSearch" :disabled="!query" >Search</v-btn>
									</v-flex>
								</v-layout>
							</v-card>
						</v-flex>
					</v-layout>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>
<script>
export default {
	data(){
		return {
			checkin: new Date().toISOString().substr(0, 10),
			checkout: new Date(new Date().getTime() + (24 * 60 * 60 * 1000)).toISOString().substr(0, 10),
      menu1: false,
      menu2: false,
      fav: true,
      menu: false,
      message: false,
			hints: true,
			query: '',
      rooms: 1,
      adults: 1,
			children: 1,
			search: null,
			isLoading: false,
			entries: [],
			Fuse: '',
			fuseOptions: {
				shouldSort: true,
				tokenize: true,
				threshold: 0.6,
				location: 0,
				distance: 100,
				keys: [
					"name",
					"location.city",
					"location.state",
					"address"
				]
			},
		}
	},
	props: {
		height:{
			default: 350,
			type: Number
		},
		search_offset: {
			default: '40%',
			type: String
		},
		img: {
			default: '/map.jpg',
			type: String,
		},
		no_bgd: {
			default: false,
			type: Boolean,
		},
		hide_search: {
			default: false,
			type: Boolean,
		}
	},
	watch: {
		search (val) {
			// console.log(val)
			this.isLoading = true
			setTimeout(()=>{
				
				let search = this.Fuse.search(val.toLowerCase());
				
				this.isLoading = false
				this.entries = search
				// console.log(search)
				
			}, 1000)
		},
	},
	computed: {
		...mapState([
			'listOfHotels',
		]),
		searchStyl(){
			return {position: 'relative', top: this.search_offset}
		},
    format_date1 () {
      return this.checkin ? moment(this.checkin).format('ddd, MM Do YYYY') : ''
    },
    format_date2 () {
      return this.checkout ? moment(this.checkout).format('ddd, MM Do YYYY') : ''
    },
	},
	methods: {
		allowedDates(val){
			// only allow dates greater than or equal to today
			let today = new Date().getTime() - 24*60*60*1000

			let toAllow = new Date(val).getTime()
			
			return toAllow - today >= 0
		},
		allowedDates2(val){
			// only allow dates greater than the checkin date
			let checkin = new Date(this.checkin).getTime()

			let toAllow = new Date(val).getTime()
			let oneDay = 24 * 60 * 60 * 1000
			
			return toAllow - checkin  - oneDay >= 0
		},
		doSearch(){
			// console.log(this.query)
			let url = `/search?term=${this.query.name || this.query}&sortby=price&checkin=${this.checkin}&checkout=${this.checkout}&adults=${this.adults}&children=${this.children}&rooms=${this.rooms}`
			this.$router.push(url)
		}
	},
	mounted(){
		
		this.Fuse = new Fuse(this.listOfHotels, this.fuseOptions)
		// console.log('listOfHotels', this.listOfHotels)
	}
}
import { mapState } from 'vuex'
import moment from 'moment'
import Fuse from 'fuse.js'
</script>
