<template>
  <div>
    <v-container grid-list-md pa-0>
      <v-layout row wrap class="">
        <v-flex xs12 sm4 order-xs-2>
          <v-card :height="$vuetify.breakpoint.smAndUp ? '99vh' : '50vh'" style="overflow: auto;border-right: 1px solid #eee;">
            <v-toolbar dense card color="primary" dark>
              <v-toolbar-title style="font-size: 16px;">Hotels Near You</v-toolbar-title>
              <v-spacer></v-spacer>
              <v-btn color="" icon large @click.native="$emit('closemap')">
                <v-icon>close</v-icon>
              </v-btn>
            </v-toolbar>
            <v-card-text>
              <v-subheader v-if="sortByLocation.length == 0">No results match your search</v-subheader>

              <v-progress-circular 
                indeterminate v-if="loading_map" 
                color="primary" 
                class="mx-auto d-block" size="30">
              </v-progress-circular>

              <v-layout row wrap v-for="hotel in sortByLocation" :key="hotel.docId" class="mb-3">
                <v-flex xs3>
                  <v-avatar	size="100%"	color="grey lighten-3" 
                    tile>
                    <img :src="hotel.images ? hotel.images[0] : '/no-img.jpg'" alt="alt">
                  </v-avatar>
                </v-flex>
                <v-flex xs9 class="mapview">
                  <v-list dense>
                    <v-list-tile avatar @click="$emit('closemap'); goto(hotel);">
                      
                      <v-list-tile-content>
                        <v-list-tile-title class="primary--text">{{hotel.name}}</v-list-tile-title>
                        <v-list-tile-sub-title>
                          <v-rating small color="orange" readonly :value="hotel.reviews.average" half-increments></v-rating>
                        </v-list-tile-sub-title>
                      </v-list-tile-content>
                      <v-list-tile-action>
                        <span>&#x20A6; {{avgPrice(hotel)}}</span>
                        <span>{{hotel.distance / 1000  + ' Km'}}</span>
                      </v-list-tile-action>
                    </v-list-tile>
                  </v-list>
                  <v-divider></v-divider>
                </v-flex>
              </v-layout>
            </v-card-text>
            
          </v-card>
        </v-flex>
        <v-flex xs12 sm8 >
          
          <v-card flat tile :height="$vuetify.breakpoint.smAndUp ? '100%' : '50vh'" id="mapContainer" class="" style="width: 100%;"></v-card>
        </v-flex>
      </v-layout>
    </v-container>
    
  </div>
</template>
<script>
export default {
  data: () => ({
    hotelsWithCoords: [],
    loading_map: true,
  }),
  props: ['all_results'],
  watch: {
    'all_results': function(){
      // console.log(this.all_results)
      this.loadMap()
    }
  },
  computed: {
    sortByLocation(){
      // sort results by distance from user's current location
      // console.log(this.hotelsWithCoords)
			return this.hotelsWithCoords.sort((a,b) => {
				if(a.distance > b.distance) return 1
				if(a.distance < b.distance) return -1
				
			})
		},
  },
  methods: {
    avgPrice(hotel){
			// get the lowest price for a hotel
			let prices = hotel.rooms ? hotel.rooms.map(room => room.price_per_night) : [0]
			return parseInt(prices.sort()[prices.length - 1]).toLocaleString()
		},
    async calcDistance(lon2,lat2){
			let loc = await this.getGuestLocation()
			let lat1 = loc.latitude
			let lon1 = loc.longitude
			
			// console.log(lon2, lat2, lon1, lat1)

			var r = 6371e3; // metres
			var φ1 = lon1 * Math.PI / 180;
			var φ2 = lat2 * Math.PI / 180;
			var Δφ = (lat2-lat1) * Math.PI / 180;
			var Δλ = (lon2-lon1)* Math.PI / 180;

			var a = Math.sin(Δφ/2) * Math.sin(Δφ/2) +
							Math.cos(φ1) * Math.cos(φ2) *
							Math.sin(Δλ/2) * Math.sin(Δλ/2);
			var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a));

			var d = r * c;
			return d

			/*Haversine
			  formula:	a = sin²(Δφ/2) + cos φ1 ⋅ cos φ2 ⋅ sin²(Δλ/2)
			  c = 2 ⋅ atan2( √a, √(1−a) )
			  d = R ⋅ c
			  where	φ is latitude, λ is longitude, R is earth’s radius (mean radius = 6,371km);
			  note that angles need to be in radians to pass to trig functions!
			*/


		},
		getGuestLocation(){
			return new Promise((resolve, reject)=>{

				navigator.geolocation.getCurrentPosition(pos =>{
					this.guest_location = pos.coords
          resolve(pos.coords)
          // console.log(pos.coords)
				}, err =>{
					// error occured
					// console.log(err)
					reject(err)
				})
			})
		},
		loadMap(){
			
        this.loading_map = true;
        
      this.getGuestLocation().then(()=>{

        try {
          
          let _this = this
          function geocode(platform, hotel) {
            var geocoder = platform.getGeocodingService(),
              geocodingParameters = {
                searchText: hotel.address,
                jsonattributes : 1
              };
  
            geocoder.geocode(
              geocodingParameters,
              async function(result){
                if(result.response.view[0]) {
  
                  var locations = result.response.view[0].result
                  addLocationsToMap(locations, hotel)

                  hotel.coordinates = locations[0].location.displayPosition
                  let lat = locations[0].location.displayPosition.latitude
                  let lon = locations[0].location.displayPosition.longitude
                  let distance = await _this.calcDistance(lat, lon)
                  hotel.distance =  Math.floor(distance)

                  _this.hotelsWithCoords.push(hotel)
                  _this.loading_map = false
  
                }
                
              },
              onError
            );
          }
  
          /**
           * This function will be called if a communication error occurs during the JSON-P request
           * @param  {Object} error  The error message received.
           */
          function onError(error) {
            console.log('Ooops!');
          }
  
  
          //Step 1: initialize communication with the platform
          var platform = new H.service.Platform({
            app_id: process.env.hereAppId,
            app_code: process.env.hereAppCode,
            useHTTPS: true
          });
  
          var pixelRatio = window.devicePixelRatio || 1;
          var defaultLayers = platform.createDefaultLayers({
            tileSize: pixelRatio === 1 ? 256 : 512,
            ppi: pixelRatio === 1 ? undefined : 320
          });
  
          //Step 2: initialize a map - this map is centered over 'center'
          var map = new H.Map(document.getElementById('mapContainer'),
            defaultLayers.normal.map,{
            center: {lat:9.0765, lng:7.3986},
            zoom: 10,
            pixelRatio: pixelRatio
          });

          var behavior = new H.mapevents.Behavior(new H.mapevents.MapEvents(map));
  
          // Create the default UI components
          var ui = H.ui.UI.createDefault(map, defaultLayers);
  
          // Hold a reference to any infobubble opened
          var bubble;
  
          /**
           * Opens/Closes a infobubble
           * @param  {H.geo.Point} position     The location on the map.
           * @param  {String} text              The contents of the infobubble.
           */
          function openBubble(position, text){
            if(!bubble){
              bubble =  new H.ui.InfoBubble(
                position,
                {content: text});
              ui.addBubble(bubble);
            } else {
              bubble.setPosition(position);
              bubble.setContent(text);
              bubble.open();
            }
          }
  
  
          /**
           * Creates a series of H.map.Markers for each location found, and adds it to the map.
           * @param {Object[]} locations An array of locations as received from the
           *                             H.service.GeocodingService
           */
          function addLocationsToMap(locations, hotel){
            var group = new  H.map.Group(),
              position,
              i;
  
            // Add a marker for each location found
            for (i = 0;  i < locations.length; i += 1) {
              position = {
                lat: locations[i].location.displayPosition.latitude,
                lng: locations[i].location.displayPosition.longitude
              };
              let marker = new H.map.Marker(position);
              marker.label = hotel.name;
              group.addObject(marker);
            }
  
            group.addEventListener('tap', function (evt) {
              map.setCenter(evt.target.getPosition());
              openBubble(
                evt.target.getPosition(), evt.target.label);
            }, false);
  
            // Add the locations group to the map
            map.addObject(group);
            map.setCenter(group.getBounds().getCenter());
          }
  
          // Now use the map as required...
            // console.log(this.all_results) 
          this.all_results.forEach(async hotel => {
            await geocode(platform, hotel);
            // console.log(this.hotelsWithCoords.length, this.all_results.length)

          })
          
  
        } catch (error) {
          // console.log(error)
        }

      }).catch(err => {
        // console.log(err)
        alert('You need to enable location for this feature to work')
      })
			
    },
    goto(hotel){
			// let queryStr = this.buildQuery(this.$route.query)
			this.$router.push(`/hotels/${hotel.docId}`)
		},
  },
  async mounted () {
    await this.loadMap()
    // this.loading_map = false
  },
  components: {
 
  }
}
</script>
