<template>
	<div>
		
		<v-card flat style="border: 1px solid #ccc" class="searchbar round">
			<v-toolbar flat>
				<v-toolbar-title>Filter results</v-toolbar-title>
				<v-spacer></v-spacer>
				<v-btn flat icon class="hidden-sm-and-up"
					@click="$eventBus.$emit('Close_Filter')">
					<v-icon>close</v-icon>
				</v-btn>
			</v-toolbar>
			<v-divider></v-divider>
			<v-expansion-panel
				v-model="panel" flat
				expand
			>
				<v-expansion-panel-content>
					<template v-slot:header>
						<div>Popular filters</div>
					</template>
					<v-divider></v-divider>
					<v-card>
						<v-card-text class=" pt-0">
							<v-checkbox  label="Pool" color="primary" v-model="popular_filters['pool']"></v-checkbox>
    					<v-checkbox  label="Free Wifi" color="primary" v-model="popular_filters['wifi']"></v-checkbox>
    					<v-checkbox  label="Free Breakfast" color="primary" v-model="popular_filters['breakfast']"></v-checkbox>
    					<v-checkbox  label="Restaurant/bar" color="primary" v-model="popular_filters['bar']"></v-checkbox>
    					<v-checkbox  label="Free Parking" color="primary" v-model="popular_filters['parking']"></v-checkbox>
    					<v-checkbox  label="Tight Security" color="primary" v-model="popular_filters['security']"></v-checkbox>
						</v-card-text>
					</v-card>
				</v-expansion-panel-content>

				<v-expansion-panel-content>
					<template v-slot:header>
						<div>Price Per Night</div>
					</template>
					<v-divider></v-divider>
					<v-card>
						<v-card-text class="text-xs-center pb-5">
							&#x20A6;{{price_range[0]}} - &#x20A6;{{price_range[1]}}
							<v-range-slider :step="5000"
								v-model="price_range" :tick-labels="tickLabels"
								:max="30000"
								:min="0"
							></v-range-slider>
						</v-card-text>
					</v-card>
				</v-expansion-panel-content>

				<v-expansion-panel-content>
					<template v-slot:header>
						<div>Guest Reviews</div>
					</template>
					<v-divider></v-divider>
					<v-card>
						<v-card-text class="text-xs-center pt-0 pb-3">
							<v-checkbox color="primary" label="5-Star" :value="ratings['5']"  v-model="ratings['5']"></v-checkbox>
							<v-checkbox label="4-Star" color="primary" :value="ratings['4']" v-model="ratings['4']"></v-checkbox>
							<v-checkbox label="3-Star" color="primary"  :value="ratings['3']" v-model="ratings['3']"></v-checkbox>
							<v-checkbox label="2-Star" color="primary" v-model="ratings['2']"></v-checkbox>
							<v-checkbox label="1-Star" color="primary" v-model="ratings['1']" ></v-checkbox>
							<v-checkbox label="0-Star" color="primary" v-model="ratings['0']" ></v-checkbox>
						</v-card-text>
					</v-card>
				</v-expansion-panel-content>

				<v-expansion-panel-content>
					<template v-slot:header>
						<div>Facilities</div>
					</template>
					<v-divider></v-divider>
					<v-card>
						<v-card-text class="pt-0 pb-3">
							<v-checkbox  label="Restaurant and Bar" color="primary" v-model="facility_filters['bar']"></v-checkbox>
    					<v-checkbox  label="Gym" color="primary" :value="facility_filters['gym']" v-model="facility_filters['gym']"></v-checkbox>
    					<v-checkbox  label="Pet Friendly" color="primary" :value="facility_filters['pets']" v-model="facility_filters['pets']"></v-checkbox>
    					<v-checkbox  label="Smoking Areas" color="primary" v-model="facility_filters['smoking_area']"></v-checkbox>
    					<v-checkbox  label="Non-Smoking" color="primary" :value="facility_filters['no_smoking']" v-model="facility_filters['no_smoking']"></v-checkbox>
    					<v-checkbox  label="Spa" color="primary" v-model="facility_filters['spa']"></v-checkbox>
    					<v-checkbox  label="Bathtubs" color="primary" :value="facility_filters['bathtubs']" v-model="facility_filters['bathtubs']"></v-checkbox>
    					<v-checkbox  label="Business and Meeting Facilities" color="primary" v-model="facility_filters['meeting rooms']"></v-checkbox>
						</v-card-text>
					</v-card>
				</v-expansion-panel-content>
			</v-expansion-panel>
		</v-card>
	</div>
</template>
<script>
export default {
	data(){
		return {
			showUi: false,
			panel: [true, true, true],
			price_range: [0,20000],
			tickLabels: [
				'0',
				'5k',
				'10k',
				'15k',
				'20k',
				'25k'

			],
			popular_filters: {
				pool: false,
				wifi: false,
				breakfast: false,
				bar: false,
				parking: false,
				security: false,
			},
			facility_filters: {
				pool: false,
				wifi: false,
				bar: false,
				security: false,
				parking: false,
				breakfast: false,
				gym: false,
				no_smoking: false,
				smoking_area: false,
				spa: false,
				bathtubs: false,
				'meeting rooms': false
			},
			ratings: {
				5: true,
				4: true,
				3: true,
				2: false,
				1: false,
				0: true,
			},
			filterItems: []
		}
	},
	props: ['results'],
	watch: {
		popular_filters: {

			handler : function(){
				// console.log(this.popular_filters)
				let filter_terms = Object.keys(this.popular_filters).filter(item => this.popular_filters[item])
		
				this.filterByFacilities(filter_terms)
			},
			deep: true
		},
		facility_filters: {

			handler : function(){
				// console.log(this.popular_filters)
				let filter_terms = Object.keys(this.facility_filters).filter(item => this.facility_filters[item])
				// console.log(filter_terms)
				this.filterByFacilities(filter_terms)
			},
			deep: true
		},
		price_range: function(to,from){
		
			this.filterByPrice(to)
		},
		ratings: {
			handler: function(){
				let filter_terms = Object.keys(this.ratings).filter(item => this.ratings[item])
				
				this.filterByReviews(filter_terms)
			},
			deep: true
		}
	},
	methods: {
		avgPrice(hotel){
			// get the lowest price for a hotel
			let prices = hotel.rooms ? hotel.rooms.map(room => room.price_per_night) : [0]
			return prices.sort()[prices.length - 1]
		},
		filterByFacilities(filtrs){
			// sort by all the fields that are checked
			// return val.sort((a,b) => {
			// 	if(a.tstamp.toMillis() > b.tstamp.toMillis()) return -1
			// 	if(a.tstamp.toMillis() < b.tstamp.toMillis()) return 1
			// 	if(a.uid > b.uid) return 1
			// 	if(a.uid < b.uid) return -1
			// })

			let finalValues = this.results

			filtrs.forEach(filter_by => {
				finalValues = finalValues.filter(hotel => {
					let found = hotel.facilities ? 
						hotel.facilities.find(facility => facility.text == filter_by) : false
					// console.log({found}, hotel.facilities)
					return found
				})
				// console.log(finalValues, filter_by)
			})

			this.$eventBus.$emit('FilterResults', finalValues)
			// console.log({finalValues})

			return finalValues
		},
		filterByPrice(price_range){
	
			let filtered = this.results.filter(hotel => {
				let avgPrice = this.avgPrice(hotel)
				return avgPrice <= price_range[1] && avgPrice >= price_range[0]
			})

			this.$eventBus.$emit('FilterResults', filtered)
		},
		filterByReviews(filtrs){
			let survivors = []

			filtrs.forEach((filter_by, index) => {
				
				let hotels = this.results.filter(hotel => {
					return Math.floor(hotel.reviews.average) == filter_by
				})

				survivors = [...survivors, ...hotels]
				// console.log(hotels, filter_by, survivors)
				
			})

			// console.log({survivors})
			this.$eventBus.$emit('FilterResults', survivors)
			return survivors
		}
	},
	mounted(){
		// this.showUi = this.results ? true : false;
	}
}
</script>
<style>
	.v-expansion-panel{
		box-shadow: none !important;
	}

	.theme--light.v-expansion-panel .v-expansion-panel__container{
		background: #f5f5f5;
		background: #fff;
	}
	.searchbar .v-input__control{
		height: 10px;
	}
</style>

