<template>
  <div>
    <gallery :images="images" :index="index_clone" :options="options" @close="close"></gallery>
  </div>
</template>
<script>
export default {
  props:[
    'images',
    'index',
    'options'
  ],
  computed: {
    index_clone: {
      get(){
        return this.index
      },
      set(){
        return null
      }
      // don't mutate prop 'index'
      
    }
  },
  components:{
    'gallery': VueGallery
  },
  methods: {
    close(){
      this.index_clone = null
      this.$eventBus.$emit('Close_Slider')
    }
  }
}
import VueGallery from 'vue-gallery';
</script>
