<template>
	<v-container grid-list-xs dark fluid class="primary">
		<v-layout row wrap>
			<v-flex xs12>
				<v-card color="primary" flat style="min-height:150px;" dark>
					<v-card-text>
						<div class="text-xs-center title">Get Exclusive Deals</div>
						<div class="text-xs-center">Subscribe to get secret deals in your inbox</div>
					</v-card-text>
					<v-card-text class="pt-0">
							<v-form
								ref="form"
								v-model="valid"
								lazy-validation
							>
								<v-layout row wrap justify-center>
									<v-flex xs12 sm4>
										<v-text-field outline color="secondary"
											name="email" type="email" :rules="emailRules"
											label="Enter your email" v-model="email"
										></v-text-field>
									</v-flex>
									<v-flex xs12 sm1>
										<v-btn color="secondary" large :disabled="!valid || disable" :loading="loading" @click="submit">Subscribe</v-btn>
									</v-flex>
								</v-layout>
							</v-form>
					</v-card-text>
				</v-card>
			</v-flex>
		</v-layout>
	</v-container>
</template>

<script>
export default {
	data: () =>({
		valid: true,
		email: '',
		emailRules: [
			v => !!v || 'E-mail is required',
			v => /.+@.+/.test(v) || 'E-mail must be valid'
		],
		loading: false,
		disable: false,
	}),
	methods: {
		submit(){
			
			if (this.$refs.form.validate()) {
				this.loading = true
				this.disable = true
				// add this user's email to the subscriber list
				db.collection('subscribers').doc('list1')
				.update({
					emails: firebase.firestore.FieldValue.arrayUnion(this.email)
				}).then(()=>{
					this.loading = false
					this.$eventBus.$emit('Snackbar', {
						show: true,
						message: 'Thank you for subscribing to our mailing list.',
						color:'purple'
					})
				}).catch(err => {
					this.loading = false
				})
			}
		}
	}
}
import { firebase, db } from '@/plugins/firebase'
</script>