<template>
	<div>
		<v-toolbar color="white" flat>
			<v-breadcrumbs :items="breadcrumbs_items">
				<template v-slot:divider>
					<v-icon>chevron_right</v-icon>
				</template>
			</v-breadcrumbs>
			<div>
				<slot name="left"></slot>
			</div>
			<v-spacer></v-spacer>
			<div class="mr-5" v-show="showSlug">
				<slot name="center"></slot>
			</div>
			<div class="mr-5 font-weight-bold hidden-xs-only" v-show="showSlug">
				{{$helpers.truncateText(smart_hotel.name, 25)}}
			</div>

			<div>
				<slot name="right"></slot>
			</div>
		</v-toolbar>
		<v-divider></v-divider>
	</div>
</template>
<script>
import { mapState } from 'vuex';
export default {
	props: {
		breadcrumbs_items: {
			type: Array,
			// required: true,
			default: []
		}
	},
	computed: {
		...mapState([
			'smart_hotel'
		]),
		showSlug(){
      return this.$route.fullPath.split('/').includes('smart_attendant')
    }
	}
}
</script>
