<template>
  <v-app id="inspire">
    <v-navigation-drawer
      fixed v-if="auth.user"
      width="200"
      style="background: #795548"
      app :mini-variant="mini"
      v-model="drawer">
        <v-list dense dark>
          <v-list-tile to="/">
            <v-list-tile-content>
              <v-list-tile-title class="title ml-3 mr-5">HotelSmart</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-divider dark class="grey lighten-5"></v-divider>

        <div v-show="!mini">

          <v-avatar
            size="70"
            color="grey"
            class="mx-auto d-block mt-3"
            style="line-height: 6em;"
          >
            <img :src="auth.user.photoURL" alt="profile_photo" v-if="auth.user.photoURL">
            <span v-else class="white--text display-1">{{auth.user.displayName.charAt(0)}}</span>
          </v-avatar>
          <div class="text-xs-center text-capitalize white--text font-weight-bold mt-2 mb-4">{{auth.user.displayName}}</div>
        </div>

        <v-list dense dark style="">
          <v-list-tile 
            v-for="item in listItems" 
            :key="item.text" exact
            avatar :to="item.link ? item.link : ''"
            color="grey lighten-2"  @click="item.action ? item.action : ''"
            active-class="primary--text orange--text">
            <v-list-tile-action>
              <v-icon>{{item.icon}}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content v-show="!mini">
              <v-list-tile-title>{{item.text}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile exact
            href="https://help.hotelsmart.com.ng"
            target="blank"
            color="grey lighten-2"
            active-class="primary--text orange--text">
            <v-list-tile-action>
              <v-icon>help</v-icon>
            </v-list-tile-action>
            <v-list-tile-content v-show="!mini">
              <v-list-tile-title>Help</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile
            avatar color="grey lighten-2"
            @click="logout"
            active-class="primary--text orange--text">
            <v-list-tile-action>
              <v-icon>logout</v-icon>
            </v-list-tile-action>
            <v-list-tile-content v-show="!mini">
              <v-list-tile-title>Logout</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>

          <v-list-tile class="hidden-sm-and-up">
           
            <v-list-tile-content v-show="!mini">
              <v-list-tile-title>{{smart_hotel.name}}</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
    </v-navigation-drawer>

    <v-toolbar color="rgb(242, 249, 247)" app flat dense>
      <v-toolbar-side-icon @click.native="$vuetify.mdAndUp ? mini = !mini : drawer = !drawer"></v-toolbar-side-icon>
      <v-btn color="success" 
        depressed small class="text-capitalize" 
        :to="smart_hotel.name ? '/account/smart_attendant' : '/account/select'">
        Smart Attendant
      </v-btn>
      
      <v-spacer></v-spacer>
      <v-toolbar-items>
        <v-menu offset-y max-width="350" v-if="auth.loggedIn">
          <v-badge right color="success" overlap slot="activator" class="mx-4">
            <small slot="badge" v-if="unread_notifications.length > 0">
              {{unread_notifications.length}}
            </small>
            <v-icon medium color="orange">notifications</v-icon>
          </v-badge>
          
          <v-list dense :two-line="unread_notifications.length > 0">
            <v-list-tile @click="''" v-if="unread_notifications.length == 0">
              <v-list-tile-title>All caught up</v-list-tile-title>
            </v-list-tile>

            <template v-for="(item,i) in unread_notifications" >
              <v-list-tile avatar @click="$router.push('/account/messages/open/' + item.docId)" :key="i + 'a'">
                <v-list-tile-content>
                  <v-list-tile-title class="primary--text"> {{item.data.subject}}?</v-list-tile-title>
                  <v-list-tile-sub-title>{{item.data.message}}</v-list-tile-sub-title>
                </v-list-tile-content>
              </v-list-tile>
              <v-divider :key="i + 'b'" v-if="i + 1 < unread_notifications.length"></v-divider>
            </template>
          </v-list>
        </v-menu>
        <v-btn flat class="text-capitalize" small color="grey" href="https://help.hotelsmart.com.ng" target="blank">
          <v-icon class="pr-2" small>help</v-icon>
          Help</v-btn>
        <v-btn flat class="text-capitalize" small color="grey" @click="logout">
          <v-icon class="pr-2" small>logout</v-icon>
          Logout</v-btn>
      </v-toolbar-items>
    </v-toolbar>

    <v-divider></v-divider>

    <v-content>
      <nuxt-child/>
    </v-content>

    <v-snackbar v-model="snackbar.show" top right :color="snackbar.color" :timeout="5000">
      {{snackbar.message}}
      <v-btn flat color="white" @click.native="snackbar.show = false">Close</v-btn>
    </v-snackbar>

    <!-- Send message dialog -->
    <v-dialog v-model="message_dialog" lazy max-width="500" :persistent="sending">
      <v-card>
        <v-toolbar card>
          <v-toolbar-title>Compose Message</v-toolbar-title>
        </v-toolbar>
        <v-card-text>
          <v-select
            name="to"
            label="Select recepient"
            :items="myCheckins"
            item-text="hotel_name"
            hide-details
            return-object
            v-model="form.to"
            class="mb-3"
          ></v-select>
          <v-text-field
            name="subject"
            label="Subject"
            hide-details
            v-model.trim="form.subject"
            class="mb-3"
          ></v-text-field>

          <v-textarea 
            v-model.trim="form.message" name="message" 
            hide-details label="Your message" 
            outline class="mb-3">
          </v-textarea>
        </v-card-text>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn color="info" flat @click="message_dialog = false" :disabled="sending">Cancel</v-btn>
          <v-btn color="info" depressed :loading="sending" :disabled="disabledSend" @click="sendMessage">Send</v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    
    <!-- REVIEW DIALOG -->
		<v-dialog
			v-model="review_dialog"
			scrollable 
			:persistent="saving_review" :overlay="false"
			max-width="500px"
			transition="dialog-transition"
		>
			<v-card>
				<v-toolbar color="" card dense>
					<div class="title font-weight-light">Write a review</div>
          <v-spacer></v-spacer>
          <v-btn flat icon @click="review_dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
				</v-toolbar>
				<v-card-text>
					<span style="font-size: 17px;" class="primary--text">How do you rate this hotel ?</span>
          <v-container grid-list-xs px-0>
						<v-layout row wrap>
							<v-flex xs10>
								<v-slider class="pa-0 mb-0" hide-details
									:label="`Neatness [${rating.neatness}/5]`"
									v-model="rating.neatness"
									color="primary" ticks step="1"
									track-color="accent" :thumb-size="24"
									thumb-color="primary"
									thumb-label max="5" min="1"
								></v-slider>
							</v-flex>
							<v-flex xs10>
								<v-slider
									:label="`Security [${rating.security}/5]`" hide-details
									v-model="rating.security"
									color="primary" max="5" min="1"
									:thumb-size="24"
									thumb-color="primary"
									thumb-label ticks step="1"
								></v-slider> 
							</v-flex>
							<v-flex xs10>
								
								<v-slider hide-details
									:label="`Customer Service [${rating.service}/5]`"
									v-model="rating.service"
									color="primary" max="5" min="1"
									:thumb-size="24"
									thumb-color="primary" thumb-label
									ticks step="1" 
								>{{rating.service}}</v-slider>
							</v-flex>
							<v-flex xs10>
								<v-slider hide-details
									:label="`Comfort [${rating.comfort}/5]`"
									v-model="rating.comfort"
									color="primary" max="5" min="1"
									:thumb-size="24"
									thumb-color="primary"
									thumb-label ticks step="1"
								></v-slider> 
							</v-flex>
							
						</v-layout>
					</v-container>

					<v-text-field
						name="title"
						label="Title"
						outline
						v-model.trim="rating.title"
					></v-text-field>

					<v-textarea
						name="title"
						label="write your review"
						outline hide-details
						v-model.trim="rating.body"
					></v-textarea>
					<small>{{selected_booking.name}}</small>
          <v-checkbox color="primary" label="I acknowledge that am making a honest review..." v-model="aknowledgement" value="value"></v-checkbox>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" 
						depressed 
						class="text-capitalize"
						@click="submitReview"
						:disabled="disable_review"
						:loading="saving_review">
						Submit Review
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>
  </v-app>
</template>

<script>
  export default {
    middleware: 'auth',
    head(){
    return {
        title: 'My account - HotelSmart'
      }
    },
    data: () => ({
      drawer: true,
      mini: false,
      listItems: [
        { icon: 'dashboard', text: 'Overview', link: '/account/' },
        { icon: 'hotel', text: 'My Reservations', link: '/account/reservations'},
        { icon: 'star', text: 'My Reviews', link: '/account/reviews'},
        { icon: 'message', text: 'Messages', link: '/account/messages/inbox'},
        { icon: 'room_service', text: 'Smart Attendant', link: '/account/select' },
        { icon: 'settings', text: 'Settings', link: '/account/settings' },
        // { icon: 'help', text: 'Help', link: '/faq'},
      ],
      snackbar: {},
      message_dialog: false,
      form: {
        subject: '',
        message: '',
        to: {}
      },
      sending: false,
      saving_review: false,
      aknowledgement: false,
      review_dialog: false,
      rating: {
        body: '',
        title: '',
        neatness: 3,
				security: 2,
				service: 4,
				comfort: 3
      },
      selected_booking: {},
    }),
    computed: {
      ...mapState([
        'auth',
        'userInfo',
        'myCheckins',
        'smart_hotel'
      ]),
      ...mapGetters([
        'unread_notifications',
      ]),
      disabledSend(){
        return !this.form.message || !this.form.to || 
        !this.form.subject
      },
      disable_review(){
        return !this.rating.title || 
        !this.rating.body || !this.aknowledgement
      }
    },
    methods:{
      onFileSelect(e){
        // handle file selecting for all components
        let two_mb = 2000000
        let blob_urls = []
        // Allow only images
        let stop = true
        let file_sizes = 0
        for(let file of e.target.files){
          if(file.type == 'image/jpeg' || 
            file.type == 'image/jpg' || file.type == 'image/png'){
              stop = false
            
          }
          else{
            stop = true
            break
          }
          file_sizes += file.size
        }

        if(!stop){
            
          // limit file upload to 1mb
          if(file_sizes < two_mb){
            
            for(let file of e.target.files){
              //console.log(file)
              blob_urls.push(URL.createObjectURL(file))
            }
            this.$eventBus.$emit('Selected_Files', {
              imgSrc: blob_urls,
              selected_files: e.target.files
            })
          }
          else{
            this.snackbar = {
              show: true,
              message: 'Please select an image that is less than 1mb',
              color: 'error'
            }
          }
        }
        else{
          this.snackbar = {
            show: true,
            message: 'Only images are allowed!',
            color: 'error'
          }
        }
      },
      async submit(){
        try{
          this.loading = true

          firebase.auth().signInWithEmailAndPassword(this.form.email, this.form.password)
          .then((result)=>{
            // console.log(result.user)
            this.$store.dispatch('setUser', result.user)
            this.rightDrawer = false
            // this.$router.push({path: '/?login=true'})
                
            firebase.auth().onAuthStateChanged((user)=>{
              if (user) {

                // console.log(user)
                
                
                this.loading = false
              } else {
                // No user is signed in.
              }
            });
            
          }).catch(error=> {
            console.log({error})
            this.loading = false
            function errorMsg(code){
              switch(code){
                case "auth/user-not-found":
                  return "Sorry we couldn't find that account"
                case "auth/wrong-password":
                  return "The email or password is invalid"
                case "auth/network-request-failed":
                  return "Network error, Check your internet connection"
                default:
                  return "Something went wrong, try again"
              }
            }
            this.snackbar = {
              show:true,
              message:errorMsg(error.code),
              color:'error'
            }
          });
        }
        catch(err){
          console.log(err)
          this.loading = false
          
          if(err.errorCode){
            
            this.snackbar = {
              show:true,
              message:err.message,
              color:'error'
            }
          }else{
            console.log(err)
            this.snackbar = {
              show:true,
              message:'Sorry, something went wrong. Try again',
              color:'error'
            }
            
          }
        }
      },
      login(){
        // this.loading = true
        // this.$auth.loginWith('local', {
        //   data: {
        //     email:this.form.email,
        //     password:this.form.password
        //   }
        // })
        // .then((r) => {
        //   this.loading = false
        //   this.rightDrawer = false
        //   this.snackbar = {
        //     show:true,
        //     message:'Your are now logged in',
        //     color:'purple'
        //   }
        // }).catch(err => {
        //   console.log(err)
        //   this.loading = false
        //   this.snackbar = {
        //     show: true,
        //     message: err.response ? err.response.data.message : 'something went wrong',
        //     color: 'error'
        //   }
        // })
      },
      signup(){
        this.loading = true
        firebase.auth().createUserWithEmailAndPassword(this.form.email, this.form.password)
        .then(userRecord=>{
          //console.log(userRecord)
          // update users profile info
          firebase.auth().currentUser.updateProfile({
            displayName: this.form.fname + ' ' + this.form.lname,
          }).catch(function(error) {
              // An error happened.
              console.log(error)
          });

          // store additional user info
          db.collection('users').doc(userRecord.user.uid).set({

            uid: userRecord.user.uid,
            fname: this.form.fname,
            lname: this.form.lname,
            email: this.form.email,

          }).then(done=>{

            this.snackbar = {
              show: true,
              color: 'purple',
              message: 'Account created successfully'
            }
            
            if(this.form.subscribe){
              // subscribe to deals
              db.collection('subscribers').doc('list1')
              .update({
                emails: firebase.firestore.FieldValue.arrayUnion(this.form.email)
              }).then(()=>{
                console.log('subscribed for deals')
              })
            }
            // send email verification message
            this.sendVerificationLInk().then((sent)=>{
              // this.verification_sent = true

              firebase.auth().onAuthStateChanged((user)=>{
                if (user) {

                  this.$store.dispatch('setUser', user)
                  setTimeout(()=> this.$router.push({path: '/?login=true'}), 3000)
                  
                  
                  this.loading = false
                } else {
                  // No user is signed in.
                }
              })

            }).catch(function(error) {
              // An error happened.
              this.loading = false
              console.log(error)
            })
            
          }).catch(err => console.log(err))
        })
        .catch((error) =>{
          console.log(error)
          this.loading = false

          var errorCode = error.code;
          if(errorCode == 'auth/weak-password' || errorCode == 'auth/invalid-email' 
            || errorCode == 'auth/email-already-in-use' || errorCode == "auth/network-request-failed"){

            this.snackbar = {show:true,color:'error', message:error.message}
          }else{
            this.snackbar = {show:true,color:'error', message:'Something went wrong, please try again'}
          }
        });
      },
      sendVerificationLInk(alert){
        this.loading = true
        return new Promise((resolve, reject)=>{
          firebase.auth().currentUser.sendEmailVerification().then(done=>{
            resolve(done)
            if(alert){
              this.disabled = true;
              this.loading = false

              this.snackbar = {
                show: true,
                message: 'Email verification link resent',
                color: 'purple'
              }
            }
          }).catch(err => reject(err))
        })
      },
      logout(){
        this.$store.dispatch('logout')

        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'You are logged out',
          color: 'info'
        })
        this.$router.replace('/');
      },
      submitReview() {
        // submit review
        this.saving_review = true

        let batch = db.batch()

        let reviewRef = db.collection('reviews').doc()
        let av = (this.rating.comfort + this.rating.security + this.rating.service + this.rating.neatness) / 4

        batch.set(reviewRef, {
          docId: reviewRef.id,
          by: {
            name: this.auth.user.displayName,
            uid: this.auth.user.uid
          },
          for: {
            name: this.selected_booking.name,
            id: this.selected_booking.hotelId
          },
          body: this.rating.body,
          title: this.rating.title,
          neatness: this.rating.neatness,
          security: this.rating.security,
          service: this.rating.service,
          comfort: this.rating.comfort,
          score: av,
          date_created: Date.now()
        })

        // TODO: Trigger background function to recalculate hotel average review
        if(this.auth.loggedIn){
          let userRef = db.collection('users').doc(this.auth.user.uid)
          batch.update(userRef, {
            reviews: firebase.firestore.FieldValue.arrayUnion(this.selected_booking.hotelId)
          })
        }

        batch.commit().then(() => {
          this.saving_review = false
          this.review_dialog = false

          this.$eventBus.$emit('Snackbar', {
            show: true,
            message: 'Thank you for writing a review',
            color: 'success'
          })
          
        }).catch(err => {
          this.saving_review = false
          
          this.$eventBus.$emit('Snackbar', {
            show: true,
            message: 'Sorry, something went wrong',
            color: 'error'
          })
        })
      },
      async sendMessage(){
        // send a message
        this.sending = true

        let docRef = db.collection('notifications').doc()
        await docRef.set({
          docId: docRef.id,
          to: {
            name: this.form.to.hotel_name,
            uid: this.form.to.hotelId
          },
          from: {
            name: this.auth.user.displayName,
            uid: this.auth.user.uid,
          },
          read: false,
          date_created: firebase.firestore.FieldValue.serverTimestamp(),
          data: {
            message: this.form.message,
            subject: this.form.subject
          },
          type: 'message'
        })

        this.sending = false
        this.$eventBus.$emit('Snackbar', {
          show: true,
          message: 'Message sent',
          color: 'success'
        })
        this.form = {
          message: '',
          subject: '',
          to: {}
        }
        this.message_dialog = false

      },
      async getCheckins(){
        // get hotels user is checked-in
        return db.collection('bookings')
        .where('userId', '==',this.auth.user.uid)
        .where('status', '==', 'checked_in')
        .onSnapshot(docs => {
          let arr = []
          let userIds = []
          docs.forEach(doc => {
            // get unique hotels
            // console.log(doc.data())
            if(userIds.indexOf(doc.data().hotelId) == -1){
              userIds.push(doc.data().hotelId)
              arr.push(doc.data())
            }
          })
          
          this.$store.dispatch('myCheckins', arr)
          return arr
        })
      },
      async initialize(){
        // get user details
        db.collection('users').doc(this.auth.user.uid)
        .onSnapshot(doc=> {
          this.$store.dispatch('setUserInfo', doc.data())
          // console.log(doc.data())
        }, err => console.log(err))

        // get notifications
        db.collection('notifications')
        .where('to.uid', '==', this.auth.user.uid)
        .onSnapshot(docs => {
          let arr = []
          docs.forEach(doc =>{
            arr.push(doc.data())
          })
          this.$store.dispatch('setNotifications', arr)
        })

        this.getCheckins()
      }
    },
    mounted(){
      this.$eventBus.$on('Snackbar', data =>{
        this.snackbar = data
      })

      this.$eventBus.$on('ShowLogin', () =>{
        // console.log('show-login')
        this.state = 'login'
        this.rightDrawer = true
      })

      this.$eventBus.$on('ShowSignup', () =>{
        
        this.state = 'signup'
        this.rightDrawer = true
      })

      this.$eventBus.$on('WriteReview', data =>{
        this.selected_booking = data
        this.review_dialog = true
      })

      this.$eventBus.$on('SendMessage', data =>{
        
        this.message_dialog = true
      })
    },
    created(){
      firebase.auth().onAuthStateChanged(user =>{
        if (user) {

          this.$store.dispatch('setUser', user)
          this.initialize()
          
        } else {
          // No user is signed in.
          // this.$router.replace('/')
        }
      })
    }
  }
import { mapState, mapGetters } from 'vuex'
import { firebase, db } from '@/plugins/firebase'
</script>

<style>
  #keep main .container {
    height: 660px;
  }
  .navigation-drawer__border {
    display: none;
  }
  .text {
    font-weight: 400;
  }
</style>