<template>
  <v-app>
    
    <v-card flat color="white" tile dark>
      <v-toolbar flat color="white" :style="toolbarAtSm">
        <nuxt-link to="/" class="red--text font-weight-bold">
          <img src="/logo.png" class="linkify" contain width="150" height="30"/>
        </nuxt-link>
        <v-toolbar-title :class="{'ml-2': $vuetify.breakpoint.smAndUp}" primary-title>
        </v-toolbar-title>
        <v-spacer/>

          <v-btn class="text-capitalize hidden-sm-and-down" 
            tile dark to="/hoteliers" depressed nuxt color="primary">
            Add your property
          </v-btn>
          
          <v-menu offset-y class="hidden-xs-only">
            <v-btn class="text-capitalize" slot="activator" color="primary" flat>
              Support
              <v-icon>arrow_drop_down</v-icon>
            </v-btn>
            <v-list dense>
              <v-list-tile to="/how-it-works">
                <v-list-tile-title>How It Works</v-list-tile-title>
              </v-list-tile>
              <v-list-tile href="https://help.hotelsmart.com.ng" target="blank">
                <v-list-tile-title>Knowledgebase</v-list-tile-title>
              </v-list-tile>
              <v-list-tile href="mailto:support@hotelsmart.com.ng" target="blank">
                <v-list-tile-title>Customer Support</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>

          <v-btn color="primary" class="text-capitalize hidden-xs-only" flat @click="$vuetify.goTo('footer', options)">Contact</v-btn>
        
        <v-menu offset-y v-if="$vuetify.breakpoint.xsOnly && !$store.state.auth.loggedIn">
          <template v-slot:activator="{on}">
            <v-btn icon v-on="on" class="hidden-sm-and-up" color="primary">
              <v-icon>menu</v-icon>
            </v-btn>
          </template>
          <v-list>
            <v-list-tile @click="login('login')">
              <v-list-tile-title>Login</v-list-tile-title>
            </v-list-tile>
            <v-list-tile @click="login('signup')">
              <v-list-tile-title>Signup</v-list-tile-title>
            </v-list-tile>
            
            <v-list-tile href="https://help.hotelsmart.com.ng">
              <v-list-tile-title>Support</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>

        <template v-if="!$store.state.auth.loggedIn">

          <v-divider vertical inset class="hidden-xs-only"></v-divider>

          <v-btn outline small class="hidden-xs-only" 
            color="primary"
            @click="login('select')">

            Login
          </v-btn>

          <v-btn outline small class="hidden-xs-only" 
            color="primary"
            @click="login('sign-up')">

            Sign Up
          </v-btn>
        </template>

        <template v-if="$store.state.auth.loggedIn">
          <v-menu offset-y dark>
            <template v-slot:activator="{on}">
              <v-btn color="" dark class="ml-0" v-on="on" flat>
                <v-avatar size="38" color="orange lighten-3">
                  <img v-if="auth.user.photoURL" :src="auth.user.photoURL" alt="profile_photo">
                  <span v-else-if="auth.user.displayName" class="black--text" >{{auth.user.displayName.charAt(0)}}</span>
                </v-avatar>
                <v-icon color="black">arrow_drop_down</v-icon>
              </v-btn>
            </template>
            <v-list dense>
              <v-list-tile to="/account">
                <v-list-tile-title>My Account</v-list-tile-title>
              </v-list-tile>
              <v-list-tile to="/account/smart_attendant">
                <v-list-tile-title>Smart Attendant</v-list-tile-title>
              </v-list-tile>
              <v-list-tile to="/account/settings">
                <v-list-tile-title>Settings</v-list-tile-title>
              </v-list-tile>
              <v-list-tile href="https://help.hotelsmart.com.ng">
                <v-list-tile-title>Support</v-list-tile-title>
              </v-list-tile>
              <v-list-tile @click="logout">
                <v-list-tile-title>Logout</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </template>
        
      </v-toolbar>
    </v-card>
    <v-divider></v-divider>

    <v-snackbar v-model="snackbar.show" top right :color="snackbar.color" :timeout="5000">
      {{snackbar.message}}
      <v-btn flat color="white" @click.native="snackbar.show = false">Close</v-btn>
    </v-snackbar>

    <v-navigation-drawer 
			v-model="mapview" app 
			right temporary width="1000" 
			class="grey lighten-5" 
			height="calc(100vh)"
			 lazy
      v-if="mapview"
		>

			<map-view v-if="mapview" :all_results="mapData" @closemap="mapview = false"/>

		</v-navigation-drawer>
    
    <v-content>
      <nuxt />
    </v-content>

    <!-- REVIEW DIALOG -->
		<v-dialog
			v-model="review_dialog"
			scrollable 
			:persistent="saving_review" :overlay="false"
			max-width="500px"
			transition="dialog-transition">
			<v-card>
				<v-toolbar color="" card dense>
					<div class="title font-weight-light">Write a review</div>
          <v-spacer></v-spacer>
          <v-btn flat icon @click="review_dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
				</v-toolbar>
				<v-card-text>
					<span style="font-size: 17px;" class="primary--text">How do you rate this hotel ?</span>
          <v-container grid-list-xs px-0>
						<v-layout row wrap>
							<v-flex xs10>
								<v-slider class="pa-0 mb-0" hide-details
									:label="`Neatness [${rating.neatness}/5]`"
									v-model="rating.neatness"
									color="primary" ticks step="1"
									track-color="accent" :thumb-size="24"
									thumb-color="primary"
									thumb-label max="5" min="1"
								></v-slider>
							</v-flex>
							<v-flex xs10>
								<v-slider
									:label="`Security [${rating.security}/5]`" hide-details
									v-model="rating.security"
									color="primary" max="5" min="1"
									:thumb-size="24"
									thumb-color="primary"
									thumb-label ticks step="1"
								></v-slider> 
							</v-flex>
							<v-flex xs10>
								
								<v-slider hide-details
									:label="`Customer Service [${rating.service}/5]`"
									v-model="rating.service"
									color="primary" max="5" min="1"
									:thumb-size="24"
									thumb-color="primary" thumb-label
									ticks step="1" 
								>{{rating.service}}</v-slider>
							</v-flex>
							<v-flex xs10>
								<v-slider hide-details
									:label="`Comfort [${rating.comfort}/5]`"
									v-model="rating.comfort"
									color="primary" max="5" min="1"
									:thumb-size="24"
									thumb-color="primary"
									thumb-label ticks step="1"
								></v-slider> 
							</v-flex>
							
						</v-layout>
					</v-container>

					<v-text-field
						name="title"
						label="Title"
						outline
						v-model="rating.title"
					></v-text-field>

					<v-textarea
						name="title"
						label="write your review"
						outline hide-details
						v-model="rating.body"
					></v-textarea>
					<small>{{selected_booking.name}}</small>
          <v-checkbox color="primary" label="I acknowledge that am making a honest review..." v-model="aknowledgement" value="value"></v-checkbox>
				</v-card-text>
				<v-card-actions>
					<v-spacer></v-spacer>
					<v-btn color="primary" 
						depressed 
						class="text-capitalize"
						@click="submitReview"
						:disabled="disable_review"
						:loading="saving_review">
						Submit Review
					</v-btn>
				</v-card-actions>
			</v-card>
		</v-dialog>


    <!-- RESET PASSWORD DIALOG -->
    <v-dialog
      v-model="reset_dialog" 
      persistent
      max-width="500px"
      transition="dialog-transition"
    >
      <v-card>
        <v-card-title >
          Reset Your Password
        </v-card-title>

        <v-card-text>
          <v-text-field
            v-model.trim="reset_email"
            name="email"
            label="Enter your email"
            type="email"
            required
            outlined
          ></v-text-field>
          <v-subheader>We will send a reset link to your email address</v-subheader>
        </v-card-text>

        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn depressed 
            @click="reset_dialog = false"
            :disabled="reseting">Cancel
          </v-btn>
          <v-btn color="success" depressed
            :loading="reseting" 
            @click="sendResetLink">Send
          </v-btn>
        </v-card-actions>

      </v-card>
    </v-dialog>

    <!-- Login Dialog -->
    <v-dialog
      v-model="login_dialog"
      :overlay="true"
      max-width="500px"
      transition="dialog-bottom-transition"
      :fullscreen="$vuetify.breakpoint.xsOnly"
    >
      <v-card>
        <!-- <div class="v-card__title">Login</div> -->
        <v-toolbar dense flat tile class="transparent">
          <v-spacer></v-spacer>
          <v-btn icon @click.native="login_dialog = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-toolbar>
        <v-card-text class="pt-3">
          <client-only>
            <firebase-ui/>
          </client-only>
        </v-card-text>
      </v-card>
    </v-dialog>
    
  </v-app>
</template>

<script>
export default {
  // middleware: 'auth',
  head(){
    return {
      title: 'The smart way to find discounted hotels online - HotelSmart',
      meta: [
        // hid is used as unique identifier. Do not use `vmid` for it as it will not work
        // { hid: 'description', name: 'description', content: 'My custom description' }
      ],
      script: [
        
      ]
    } 
  },
  data() {
    return {
      clipped: false,
      fixed: false,
      state: 'login',
      login_dialog: false,
      title: 'otelSmart',
      valid: false,
      valid2: false,
      options: {
        duration: 1500,
        offset: 0,
        easing: 'easeInOutCubic'
      },
      snackbar: {},
      menu: false,
      loading: false,
      reset_dialog: false,
      reset_email: '',
      reseting: false,
      form: {
        fname: '',
        lname: '',
        email:'',
        password:'',
        password2: '',
        subscribe: true,
      },
      emailRules: [
				v => !!v || 'E-mail is required',
				// v => /^\w+([.-]?\w+)*@\w+([.-]?\w+)*(\.\w{2,3})+$/.test(v) || 'E-mail must be valid'
			],
			passwordRules: [
				v => !!v || 'Password is required'
      ],
      nameRules: [
				v => !!v || 'Name is required'
      ],
      saving_review: false,
      aknowledgement: false,
      review_dialog: false,
      rating: {
        body: '',
        title: '',
        neatness: 3,
				security: 2,
				service: 4,
				comfort: 3
      },
      selected_booking: {},
      mapview: false,
      mapData: [],
      userRef: ''
    }
  },
  watch: {
  },
  computed:{
    ...mapState([
      'auth',
      'userInfo',
    ]),
    ...mapGetters([
      'unread_notifications',
    ]),
    toolbarAtSm(){
      return this.$vuetify.breakpoint.smAndUp ? 
      {paddingLeft:'60px', paddingRight:'60px'} : ''
    },
    disable_review(){
			return !this.rating.title.trim() || 
			!this.rating.body.trim() || !this.aknowledgement
		}
  },
  methods:{
    onFileSelect(e){
      // handle file selecting for all components
      let two_mb = 2000000
      let blob_urls = []
      // Allow only images
      let stop = true
      let file_sizes = 0
      for(let file of e.target.files){
        if(file.type == 'image/jpeg' || 
          file.type == 'image/jpg' || file.type == 'image/png'){
            stop = false
          
        }
        else{
          stop = true
          break
        }
        file_sizes += file.size
      }

			if(!stop){
					
				// limit file upload to 1mb
				if(file_sizes < two_mb){
          
          for(let file of e.target.files){
            //console.log(file)
            blob_urls.push(URL.createObjectURL(file))
          }
          this.$eventBus.$emit('Selected_Files', {
            imgSrc: blob_urls,
            selected_files: e.target.files
          })
				}
				else{
          this.snackbar = {
            show: true,
            message: 'Please select an image that is less than 1mb',
            color: 'error'
          }
				}
			}
			else{
        this.snackbar = {
          show: true,
          message: 'Only images are allowed!',
          color: 'error'
        }
			}
    },
    login(mode){
      this.$router.push({path: this.$route.fullPath, query: {mode: mode}})
      this.login_dialog = true
    },
    async submit(){
      try{
				this.loading = true

				firebase.auth().signInWithEmailAndPassword(this.form.email, this.form.password)
				.then((result)=>{
					// console.log(result.user)
					this.$store.dispatch('setUser', result.user)
          this.rightDrawer = false
          // this.$router.push({path: '/?login=true'})
              
					firebase.auth().onAuthStateChanged((user)=>{
						if (user) {

              // console.log(user)
							
							
							this.loading = false
						} else {
							// No user is signed in.
						}
					});
					
				}).catch(error=> {
					// console.log({error})
					this.loading = false
					function errorMsg(code){
						switch(code){
							case "auth/user-not-found":
								return "Sorry we couldn't find that account"
							case "auth/wrong-password":
								return "The email or password is invalid"
							case "auth/network-request-failed":
								return "Network error, Check your internet connection"
							default:
								return "Something went wrong, try again"
						}
					}
					this.snackbar = {
						show:true,
						message:errorMsg(error.code),
						color:'error'
					}
				});
      }
      catch(err){
        // console.log(err)
				this.loading = false
				
        if(err.errorCode){
          
          this.snackbar = {
            show:true,
            message:err.message,
            color:'error'
          }
        }else{
          // console.log(err)
          this.snackbar = {
            show:true,
            message:'Sorry, something went wrong. Try again',
            color:'error'
          }
          
        }
      }
    },
    logout(){
      
      this.$store.dispatch('logout')
      this.snackbar = {
        show: true,
        message: 'You are logged out',
        color: 'black'
      }
      this.$router.replace('/');
      window.location.reload()
    },
    sendResetLink(){
      
      if(this.reset_email){

        this.reseting = true

        var auth = firebase.auth();
        var emailAddress = this.reset_email
  
        auth.sendPasswordResetEmail(emailAddress).then(() => {
          this.snackbar = {
            show: true,
            message: 'Check your email for the password reset link we sent you',
            color: 'success'
          }
  
          this.reseting = false
          this.reset_dialog = false
          // Email sent.
        }).catch((error) => {
          // An error happened.
          // console.log(error)

          this.snackbar = {
            show: true,
            message: error.message,
            color: 'error'
          }
          this.reseting = false
        });
      }
    },
    submitReview() {
			// submit review
			this.saving_review = true

			let batch = db.batch()

      let reviewRef = db.collection('reviews').doc()
      let av = (this.rating.comfort + this.rating.security + this.rating.service + this.rating.neatness) / 4
      // console.log(this.selected_booking)
			batch.set(reviewRef, {
				docId: reviewRef.id,
				by: {
					name: this.auth.user.displayName,
					uid: this.auth.user.uid
				},
				for: {
					name: this.selected_booking.name,
					id: this.selected_booking.hotelId || this.selected_booking.docId
				},
				body: this.rating.body,
				title: this.rating.title,
				neatness: this.rating.neatness,
				security: this.rating.security,
				service: this.rating.service,
				comfort: this.rating.comfort,
				score: av,
				date_created: Date.now()
			})

			// TODO: Trigger background function to recalculate hotel average review
			if(this.auth.loggedIn){
				let userRef = db.collection('users').doc(this.auth.user.uid)
				batch.update(userRef, {
					reviews: firebase.firestore.FieldValue.arrayUnion(this.selected_booking.hotelId || this.selected_booking.docId)
				})
			}

			batch.commit().then(() => {
				this.saving_review = false
				this.review_dialog = false

				this.$eventBus.$emit('Snackbar', {
					show: true,
					message: 'Thank you for writing a review',
					color: 'success'
				})
				
			}).catch(err => {
        this.saving_review = false
        
				this.$eventBus.$emit('Snackbar', {
					show: true,
					message: 'Sorry, something went wrong',
					color: 'error'
				})
			})
    },
    async getSearchIndex(){
			let lastRetrieved = JSON.parse(window.localStorage.getItem('lastRetrievedTime'))

			if(!lastRetrieved  || (Date.now() - lastRetrieved) >=  30 * 60 * 1000){
				// if its been store for more than 30 min
				// const {searchIndex, listOfHotels} = await this.$axios.$get('https://gentle-hollows-18408.herokuapp.com/get_search_index')
        
        let listOfHotels = await db.collection('hotels_index').doc('indexer').get()
        
				window.localStorage.setItem('listOfHotels', JSON.stringify(listOfHotels.data().data))
				window.localStorage.setItem('lastRetrievedTime', Date.now())

			}

      let list = JSON.parse(localStorage.getItem('listOfHotels'))
      

			this.$store.dispatch('saveHotelsList', list)
			// console.log(list, this.$store.state.listOfHotels)
		},
    async initialize(){
      
      if(window){

        this.getSearchIndex()
      }

      // get user details
      if(this.auth.loggedIn){

        this.userRef = db.collection('users').doc(this.auth.user.uid)
        .onSnapshot(doc=> {
          this.$store.dispatch('setUserInfo', doc.data())
          // console.log(doc.data())
        }, err => console.log(err))

        // get unread_notifications
        db.collection('notifications')
        .where('to', '==', this.auth.user.uid)
        .onSnapshot(docs => {
          let arr = []
          docs.forEach(doc =>{
            arr.push(doc.data())
          })
          this.$store.dispatch('setNotifications', arr)
        })
      }

    }
  },
  mounted(){
    this.$eventBus.$on('Snackbar', data =>{
      this.snackbar = data
    })

    this.$eventBus.$on('ShowLogin', () =>{
      // console.log('show-login')
      this.state = 'login'
      this.login_dialog = true
    })

    this.$eventBus.$on('ShowSignup', () =>{
      
      this.state = 'signup'
      this.login_dialog = true
    })

    this.$eventBus.$on('WriteReview', data =>{
      this.selected_booking = data
      this.review_dialog = true
    })

    this.$eventBus.$on('LoadMap', data => {
			this.mapview = true;
			this.mapData = data
			// console.log(data)
    })

    this.$eventBus.$on('CloseLoginDialog', data => {
      this.login_dialog = data
    })
    
    let returnTo = this.$route.query.returnTo
    if(returnTo){
      this.auth.loggedIn ? '' : this.login_dialog = true
    }
  },
  created(){

    this.initialize()

    firebase.auth().onAuthStateChanged(user =>{
      if (user) {

        this.$store.dispatch('setUser', user)
        
        let returnTo = this.$route.query.returnTo
        
        if(returnTo){
          this.$router.push(returnTo)
        }

      } else {
        // No user is signed in.
      }
    })

  },
  components: {
    MapView,
    FirebaseUi
  }
}
import { mapState, mapGetters } from 'vuex'
import MapView from '@/components/MapView'
import { firebase, db } from '@/plugins/firebase'
import FirebaseUi from '@/components/FirebaseUi'
require('firebaseui/dist/firebaseui.css')
</script>
<style>
  /* @import url('https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.css'); */
  
	html{
		overflow: auto;
	}
  a{
    text-decoration: none;
  }
	.theme--light.v-text-field--outline .v-input__slot{
		border:1px solid rgba(115,114,114,0.54) !important;
	}
  .round{
    border-radius: 7px !important;
    -webkit-border-radius: 7px !important;
    -moz-border-radius: 7px !important;
    -ms-border-radius: 7px !important;
    -o-border-radius: 7px !important;
  }
  .linkify {
    cursor: pointer;
  }
</style>
