<template>
  <div>
    <v-container grid-list-xs>
      <v-layout row wrap fill-height>
        <v-flex xs12>
          <v-card height="300" flat class="py-3">
            <v-img src="/404.svg" height="100%" width="100%" contain/>
          </v-card>
        </v-flex>
        <v-flex xs12>
          <v-card flat>
            <v-card-text class="text-xs-center">
              <h2>Page Not Found</h2>
              <v-btn color="info" depressed @click="$router.replace('/')">Go Back</v-btn>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
export default {

}
</script>