<template>
  <div>
    <top-navigation :breadcrumbs_items="breadcrumbs_items"/>

     <v-container grid-list-xs>
      <v-layout row wrap justify-center justify-space-around>
        <v-flex xs12>
          <v-card height="">
            <v-toolbar flat color="white">
							<v-btn color="grey" class="mb-2 text-capitalize" outline
								@click="$router.push('/account/messages/inbox')">
								<v-icon class="mr-3">arrow_back</v-icon>
								Go to Inbox</v-btn>

                <v-spacer></v-spacer>
                <v-btn color="primary" @click="$eventBus.$emit('SendMessage')">Write message</v-btn>
						</v-toolbar>
						<v-data-table
							:headers="headers"
							:items="items"
							class="elevation-0 linkify"
						>
							<template v-slot:items="props" >
								<td @click="openMessage(props.item)" class="text-xs-left">
									<v-avatar
										size="30"
										color="grey"
									>
										<img v-if="props.item.imgSrc" :src="props.item.imgSrc" alt="item image">
                    <span class="white--text" v-else>{{props.item.name.charAt(0)}}</span>
									</v-avatar>
								</td>
								<td @click="openMessage(props.item)" 
                  class="text-xs-left" 
                  >
                  {{ props.item.name }}
                </td>
								<td @click="openMessage(props.item)" 
                  class="text-xs-left">
                  {{ $helpers.truncateText(props.item.message, $vuetify.breakpoint.mdAndUp ? 80 : 18) }}
                </td>
								<td @click="openMessage(props.item)" class="text-xs-right">{{ props.item.time }}</td>
								
							</template>
							<template v-slot:no-data>
								<v-subheader>Your outbox is empty</v-subheader>
							</template>
						</v-data-table>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

  </div>
</template>
<script>
export default {
  layout: 'account',
  middleware: 'auth',
  data: () =>({
    breadcrumbs_items: [
      {
        text: 'Account',
        disabled: false,
        to: '/account',
        exact: true
      },
      {
        text: 'Messages',
        disabled: true,
        to: '/account/messages',
        exact: true
      },
      {
        text: 'Inbox',
        disabled: true,
        to: '/account/messages/outbox',
        exact: true
      }
    ],
    headers: [
			{
				text: '',
				align: 'left',
				sortable: false,
        value: 'image',
        width: '5'
			},
			{
				text: 'From',
				align: 'left',
				sortable: true,
        value: 'name',
        width: '200'
			},
			{ text: 'Message', align: 'left', value: 'message' },
			{ text: 'Time', align: 'left', value: 'time' }
		],
    items: [],
    sent: [],
  }),
  watch: {
    // 'userInfo': function() {
      
    // }
  },
  computed:{
    ...mapState([
      'auth',
      'userInfo'
    ])
  },
  methods: {
    async initialize(){
      // let sent = await this.getOutbox()
      (await this.getOutbox()).forEach(item => {
        
        this.items.push({
          name: item.from.name,
          message: item.data.message,
          type: item.type,
          to: item.to,
          time: this.$helpers.parseDate(item.date_created.toMillis()),
          docId: item.docId,
        })
      })
    },
    openMessage(item){
      // console.log(item)
      item.docId ? this.$router.push(`/account/messages/open/${item.docId}`) : ''
    },
    async getOutbox () {
			// get user bookings
			let arr = []
			await db.collection('notifications')
      .where('from.uid', '==', this.auth.user.uid)
      .orderBy('date_created', 'desc')
			.get().then( docs => {
				
				docs.forEach(doc => {
					arr.push(doc.data())
				})
			})
      // console.log(bks)
      this.sent = arr
			return arr
    },
    
  },
  mounted(){
    // console.log(this.$route)
    this.userInfo ? this.initialize() : ''
  },
  components: {
    TopNavigation,
  }
}
import { mapState } from 'vuex';
import TopNavigation from '@/components/TopNavigation'
import { firebase, db } from '@/plugins/firebase'
</script>
<style lang="scss" scoped>
  
</style>
