<template>
  <div>
    <top-navigation :breadcrumbs_items="breadcrumbs_items"/>
    <v-container grid-list-xs>
      <v-layout row wrap justify-center justify-space-around>
        <v-flex xs12 sm9>
          <v-card height="" flat>
            <v-subheader class="mb-2">FAQ</v-subheader>

            <v-expansion-panel>
              <v-expansion-panel-content
                v-for="(item,i) in faqs"
                :key="i"
              >
                <template v-slot:header>
                  <div>{{item.question}}</div>
                </template>
                <v-card class="grey lighten-4">
                  <v-card-text>{{item.answer}}</v-card-text>
                </v-card>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>
<script>
export default {
  layout: 'account',
  data: () => ({
    breadcrumbs_items: [
			{
				text: 'Account',
				disabled: false,
        exact: true,
        to: '/account'
			},
			{
				text: 'Smart Attendant',
				disabled: false,
        exact: true,
        to: '/account/smart_attendant'
			},
			{
				text: 'FAQ',
				disabled: true,
        exact: true,
        to: '/faq'
			}
    ],
    faqs: '',
  }),
  computed: {
		...mapState([
      'auth',
      'smart_hotel'
		]),
	},
  methods: {
    initialize(){
      // get faq for hotel
      db.collection('hotels').doc(this.smart_hotel.docId)
        .collection('faqs')
        .get()
        .then(docs => {
          let arr = []
          docs.forEach(doc => arr.push(doc.data()))
          this.faqs = arr
          // console.log(arr)
        })
    }
  },
  mounted(){
    this.initialize()
  },
  components: {
    TopNavigation,
  }
}
import { mapState } from 'vuex';
import TopNavigation from '@/components/TopNavigation'
import { firebase, db } from '@/plugins/firebase'
</script>
