<template>
  <div>
    <top-navigation :breadcrumbs_items="breadcrumbs_items"/>

    <v-container fluid class="" grid-list-lg>
      <v-layout row wrap justify-center justify-space-around>
        <v-flex xs12 sm9>
          <v-layout row wrap justify-center>
            
            <v-flex xs6 v-for="menu in menus" :key="menu.text">
              <v-card height="200" flat style="border: 1px solid #ddd" 
                @click="!menu.link ? clickAction(menu.action) : ''"
                class="ma-auto round" :to="menu.link ? menu.link : ''" hover>
                <v-layout column align-center>
                  <v-flex xs4 mt-5 pb-0>
                    <v-icon large :color="menu.color" class="text-xs-center d-block mb-2">{{menu.icon}}</v-icon>
                      <div class="text-xs-center">{{menu.text}}</div>
                  </v-flex>
                  <v-flex xs4>
                    <div class="primary--text text-capitalize">
                      {{menu.sub}}
                      
                      <v-icon small class="pt-2">arrow_forward</v-icon>
                    </div>
                  </v-flex>
                </v-layout>
              </v-card>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-layout>
    </v-container>

    <v-layout row justify-center>
      <v-dialog v-model="notify_dialog" persistent max-width="500px">
        <v-card>
          <v-card-title>
            <span class="headline text-capitalize">Contact {{curr_action}}</span>
          </v-card-title>
          <v-card-text>
            <v-layout wrap>
              <!-- <v-flex xs12>
                <v-icon class="mr-4" medium color="primary">phone</v-icon>
                {{smart_hotel}}
              </v-flex> -->
              
              <v-flex xs12>
                <v-subheader class="pl-0 mt-3">Send a message</v-subheader>
                <v-textarea label="Type your message" outline v-model.trim="message"/>
              </v-flex>
            </v-layout>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="blue darken-1" flat 
              :disabled="notifying"
              @click.native="notify_dialog = false">Cancel</v-btn>
            <v-btn color="blue darken-1" flat 
              :loading="notifying" :disabled="!message"
              @click.native="sendOrder">Send Message</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
    </v-layout>

  </div>
</template>
<script>
export default {
  layout: 'account',
  data: () => ({
    breadcrumbs_items: [
			{
				text: 'Account',
				disabled: false,
        to: '/account',
        exact: true,
			},
			{
				text: 'Smart Attendant',
				disabled: true,
        to: '/account/smart_attendant',
        exact: true,
			}
    ],
    menus: [
      { text: 'Reception', sub: 'Contact reception', color: 'teal', icon: 'headset_mic', action: 'reception'},
      { text: 'Room Service', sub: 'Contact room service', color: 'success', icon: 'room_service', action: 'room_service'},
      { text: 'Shop', sub: 'Go to shop', color: 'primary', icon: 'shopping_cart', link: 'smart_attendant/shop'},
      // { text: 'My Bills', sub: 'Manage billing', color: 'info', icon: 'account_balance', link: 'smart_attendant/bills'},
      { text: 'FAQ', sub: 'Find answers', color: 'brown', icon: 'help', link: 'smart_attendant/faq'},
      // { text: 'Offers', sub: 'Special offers', color: 'success', icon: 'redeem', link: 'smart_attendant/offers'},
    ],
    notify_dialog: false,
    notifying: false,
    curr_action: '',
    message: ''
  }),
  props: ['user'],
	computed: {
		...mapState([
      'auth',
      'smart_hotel'
		]),
  },
  methods: {
    clickAction(action){
      this.curr_action = action.split('_').join(' ')
      this.notify_dialog = true
    },
    sendOrder(){
      try {
        
        this.notifying = true
        let batch = db.batch()
  
        let ordersRef = db.collection('orders').doc()
          batch.set(ordersRef, {
            date_created: firebase.firestore.FieldValue.serverTimestamp(),
            requester: {
              name: this.smart_hotel.booking_details.booking_for.customer_name, // this.auth.user.displayName,
              phone: this.smart_hotel.booking_details.booking_for.customer_phone,
              uid: this.auth.user.uid,
              room: 'customer_room'
            },
            hotelId: this.smart_hotel.docId,
            order_type: this.curr_action.split(' ').join('_'),
            docId: ordersRef.id,
            request: {
              message: this.message,
              subject: 'contact ' + this.curr_action
            },
            status: 'pending'
          })
    
          batch.commit().then(() => {
            this.notifying = false;
            this.$eventBus.$emit('Snackbar', {
              show: true,
              message: 'Your message has been sent',
              color: 'success'
            })
            this.notify_dialog = false;
            this.message = ''
            // console.log('dispatched')
          }).catch(err => console.log(err))
      } catch (error) {
        // console.log(error)
      }
      
    }
  },
  components: {
    TopNavigation,
  },
  created(){
    // console.log(this.smart_hotel)
    this.smart_hotel.name ? '' : this.$router.push('/account/select')
  }
}
import { mapState } from 'vuex';
import TopNavigation from '@/components/TopNavigation'
import { firebase, db } from '@/plugins/firebase'
</script>
