<template>
  <div>
    <v-container grid-list-md class="px-0">

      <v-snackbar
        top right
        v-model="snackbar.show"
      >
        {{snackbar.message}}
        <v-btn flat dark :color="snackbar.color" @click.native="snackbar.show = false">Close</v-btn>
      </v-snackbar>
			<h2 class="text-xs-center mb-4">Add Your Property</h2>
			<!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium fugiat vero facere
				 earum atque. Error ea, quae ipsum totam quis deleniti impedit minus optio labore at pariatur vel quidem quod.
			</p> -->
			
			<v-layout row wrap justify-center>
				<v-flex xs12 sm10>
					<v-stepper v-model="step" vertical :class="[{'elevation-0': $vuetify.breakpoint.xsOnly}]">
						<v-stepper-step :complete="step > 1" step="1">
							Create account
							<small>Lets know who you are</small>
						</v-stepper-step>

						<v-stepper-content step="1">
							<v-card color="grey lighten-4" flat class="mb-5" height="">
								<v-card-text>
									First create an account with us or login to an existing account. <br>
									We will associate this account to your property.
									
								</v-card-text>
							</v-card>

							<v-btn color="primary" v-if="auth.loggedIn" @click="step = 2">Next</v-btn>
							<template v-else>
								<v-btn color="primary" @click="$eventBus.$emit('ShowSignup')">Sign Up</v-btn> Or
								<v-btn flat @click="$eventBus.$emit('ShowLogin')">Login</v-btn>
							</template>
						</v-stepper-content>

						<v-stepper-step :complete="step > 2" step="2">Add Hotel Information</v-stepper-step>

						<v-stepper-content step="2">
							<v-card color="grey lighten-5" class="mb-5">
								<v-card-text>
									<form>
										<v-layout row wrap class="mb-4">
											<v-flex xs12 sm2 class="text-xs-left">
												<div class="mt-1 font-weight-bold">Property Name</div>
											</v-flex>
											<v-flex xs12 sm4>
												<input 
													type="text" 
													v-model="form.name" 
													required placeholder="Hotel Name" 
													class="custom-input">
											</v-flex>
										</v-layout>
										<v-layout row wrap class="mb-4">
											<v-flex xs12 sm2 class="text-xs-left">
												<div class="mt-1 font-weight-bold">Full Address</div>
											</v-flex>
											<v-flex xs12 sm4>
												<input 
													type="text" 
													v-model="form.full_address" 
													class="custom-input"
													required placeholder="Address of your hotel">
											</v-flex>
										</v-layout>
										<v-layout row wrap class="mb-4">
											<v-flex xs12 sm2 class="text-xs-left">
												<div class="mt-1 font-weight-bold">Location</div>
											</v-flex>
											<v-flex xs6 sm2>
												<select placeholder="State" v-model="form.state" class="custom-input" required>
													<option v-for="state in states" :value="state.toLowerCase()" :key="state">{{state}}</option>
												</select>
											</v-flex>
											<v-flex xs6>
												<input 
													type="text" 
													placeholder="City" 
													v-model="form.city" 
													class="custom-input"
													required>
											</v-flex>
										</v-layout>
										<v-layout row wrap class="mb-4">
											<v-flex xs12 sm2>
												<div class="mt-1 font-weight-bold">Contact Information</div>
											</v-flex>
											<v-flex xs6 sm2>
												<input 
													type="email" 
													placeholder="Contact Email" 
													v-model="form.email" 
													class="custom-input"
													required>
											</v-flex>
											<v-flex xs6>
												<input type="phone" placeholder="Contact Phone Number" v-model="form.phone" class="custom-input">
											</v-flex>
										</v-layout>
										<v-layout row wrap class="mb-4">
											<v-flex xs12 sm2>
												<div class="mt-1 font-weight-bold">Property Description</div>
											</v-flex>
											<v-flex xs12 sm6>
												<v-textarea
													v-model="form.description"
													label="Describe your hotel"
													rows='10' auto-grow outline
												></v-textarea>
											</v-flex>
										</v-layout>
										<v-layout row wrap class="mb-4">
											<v-flex xs12 sm2>
												<div class="mt-1 font-weight-bold">Time in/out</div>
											</v-flex>
											<v-flex xs6 sm2>
												<input 
													type="text" 
													placeholder="Checkin time" 
													v-model="form.checkin_time" 
													class="custom-input">
											</v-flex>
											<v-flex xs6>
												<input 
													type="text" 
													placeholder="Checkout time" 
													v-model="form.checkout_time" 
													class="custom-input">
											</v-flex>
										</v-layout>
									</form>
								</v-card-text>
							</v-card>
							<v-btn color="success"
								depressed large :disabled="disabled"
								:loading="loading"
								type="submit"
								@click.native="addProperty">
								Create Property
							</v-btn>
						</v-stepper-content>

						<v-stepper-step :complete="step > 3" step="3">Finish</v-stepper-step>

						<v-stepper-content step="3">
							<v-card color="grey lighten-4" flat class="mb-5" height="120px">
								<v-card-text>
									<h3 class="mb-3">Congratulations!</h3>
									<p>You have successfully listed your hotel. You can now 
										customize your hotel, update your rates, availability, view reservations,
										manage guests and lots more.
									</p>
									
								</v-card-text>
							</v-card>
							<v-btn color="success"
								depressed large
								href="https://hotelier.hotelsmart.com.ng?new=true"
								>
								Manage Your Hotel
							</v-btn>
						</v-stepper-content>
					</v-stepper>
				</v-flex>
			</v-layout>
		</v-container>

    <!-- SUBSCRIBE -->
		<app-subscribe/>

		<!-- FOOTER -->
		<app-footer/>
  </div>
</template>
<script>
export default {
	head(){
    return {
      title: 'Add your property - HotelSmart'
    }
  },
  data: () => ({
		step: 1,
    loading: false,
    snackbar: {},
    form: {
			name: '',
			full_address: '',
			state: '',
			city: '',
			email: '',
      phone: '',
			description: '',
			checkin_time: '',
			checkout_time: '',
			langs_spoken: 'en-us',
			images: 'none'
		},
		states: [
			'Abia',
			'Adamawa',
			'Akwa-Ibom',
			'Anambara',
			'Bauchi',
			'Bayelsa',
			'Benue',
			'Borno',
			'Cross-River',
			'Delta',
			'Ebonyi',
			'Edo',
			'Enugu',
			'Ekiti',
			'Gombe',
			'Imo',
			'Jigawa',
			'Kaduna',
			'Kano',
			'Katsina',
			'kebbi',
			'Kogi',
			'Kwara',
			'Lagos',
			'Nassarawa',
			'Niger',
			'Ogun',
			'Ondo',
			'Oshun',
			'Oyo',
			'Plateau',
			'Rivers',
			'Sokoto',
			'Taraba',
			'Yobe',
			'Zamfara',
			'Abuja'
		]
	}),
	watch: {
		'auth': function(){
			this.auth.loggedIn ? this.step = 2 : ''
		}
	},
  computed: {
    ...mapGetters([
      
    ]),
    ...mapState([
      'auth'
    ]),
    disabled(){
			
			return !this.auth.loggedIn || Object.values(this.form).find(item => !item.trim())
		}
  },
  methods: {
		createSearchIndex(str){
			let splited = str.toLowerCase().split('')
			let broken = []
			splited.forEach((s,i) => {
				broken.push(str.toLowerCase().substr(0, i+1))
				
			})
			return broken
		},
		async isHotelier(){
			// check if user is already a hotelier
			// let doc = await db.collection('users').doc(this.auth.user.uid).get()
			// return doc.data().is_hotelier
			return false
		},
    async addProperty(){
			// create property
			this.loading = true
			// first check if user has a hotelier account and prevent them if so
			if(await this.isHotelier()){
				this.alert = {
					show: true,
					message: 'Sorry, this account is already registered as a hotelier'
				}
				this.loading = false
			}
			else {
	
				// create hotel
				let batch = db.batch()
				let randomNum = function(){
					let text = "";
					let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

					for( let i=0; i < 8; i++ )
						text += possible.charAt(Math.floor(Math.random() * possible.length));

					return text;
				}

				let hotelId = this.form.name.split(' ').join('-') + '-' + randomNum()
				let hotelRef = db.collection('hotels').doc(hotelId)
				batch.set(hotelRef, {
					// owner: this.auth.user.uid,
					// admins: firebase.firestore.FieldValue.arrayUnion(this.auth.user.uid),
					roles: {
						owners: firebase.firestore.FieldValue.arrayUnion(this.auth.user.uid)
					},
					docId: hotelRef.id,
					name: this.form.name,
					address: this.form.full_address,
					location: {
						country: 'NGN',
						state: this.form.state,
						city: this.form.city,
						postal_address: this.form.postal_address || 'none'
					},
					reviews: {
						average: 0,
						total: 0,
						comfort: 0,
						neatness: 0,
						security: 0,
						service: 0
					},
					facilities: [],
					checkin_time: this.form.checkin_time || 'All Day',
					checkout_time: this.form.checkout_time || '12PM daily',
					email: this.form.email,
					phone: this.form.phone,
					description: this.form.description,
					langs_spoken: 'en-us',
					active_status: 'inactive',
					date_created: firebase.firestore.FieldValue.serverTimestamp()
				})
	
				// set current user as hotelier
				let userRef = db.collection('users').doc(this.auth.user.uid)
				batch.update(userRef, {
					is_hotelier: true,
					properties: firebase.firestore.FieldValue
						.arrayUnion({hotelId: hotelRef.id, role: 'owner'}),
					
				})

				let settingsRef = hotelRef.collection('settings').doc('reservation_settings')
				batch.set(settingsRef, {
					docId: 'reservation_settings',
					last_updated: firebase.firestore.FieldValue.serverTimestamp(),
					allow_online_payments: true,
					auto_room_allocation: true,
					online_checkin: true,
				})
	
				batch.commit().then(()=>{
	
					this.loading = false
					this.snackbar = {
						show: true,
						message: 'Property created successfully',
						color: 'success'
					}
					this.step = 3
				}).catch(err => {
	
					console.log(err)
					this.snackbar = {
						show: true,
						message: 'Something went wrong. Try again',
						color: 'error'
					}
				})
			}
        
    }
	},
	mounted(){
		if(!this.auth.loggedIn){
			// this.$router.push('/')
		}

		this.auth.loggedIn ? this.step = 2 : ''
	},
  components: {
    AppFooter,
    AppSubscribe
  }
}
import AppFooter from '@/components/footer'
import AppSubscribe from '@/components/subscribe'
import { mapGetters, mapState } from 'vuex'
import { firebase, db } from '@/plugins/firebase'
</script>
<style lang="scss" scoped>
	.custom-input {
		padding: 5px;
		border: 1px solid rgba(115, 114, 114, 0.54);
		border-radius: 2px;
		width: 100%;
		color: #9E9E9E;
		-webkit-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	}
</style>
