<template>
	<div>
		<v-container grid-list-md v-if="showUi">
			<h3>Complete Your Booking</h3>
			<v-layout row wrap>
				<v-flex xs12>
					<v-layout row wrap justify-space-between>
						<v-flex xs12 md7>
							<v-stepper v-model="stepper">
								<v-stepper-header>
									<v-stepper-step step="1" :complete="stepper > 1">Your Details</v-stepper-step>
									<v-divider></v-divider>
									<v-stepper-step step="2" :complete="stepper > 2">Payment Information</v-stepper-step>
									<v-divider></v-divider>
									<v-stepper-step step="3" :complete="stepper > 2">Confirmed</v-stepper-step>
								</v-stepper-header>
								<v-stepper-items>
									<v-stepper-content step="1">
										<v-card color="lighten-5" flat class="mb-5">
											<div class="mb-0 pl-3 ">
												Let us know who you are 
												<span class="ml-5" v-if="!auth.loggedIn">Or 
													<v-btn small flat color="primary"
														@click="$eventBus.$emit('ShowLogin')">
														Login
													</v-btn> to auto fill your details
												</span>
											</div>
											
											<v-card-text class="pt-0">
												<v-layout row wrap>
													<v-flex xs12 sm6>
														
														<v-text-field
															name="name" hide-details v-model.trim="customer_name"
															label="Your full name" width="300"
														></v-text-field>
													</v-flex>
													<v-flex xs12 sm6>
														<v-text-field
															name="email" hide-details
															label="Your email" v-model.trim="customer_email"
															
														></v-text-field>
														
													</v-flex>
													<v-flex xs12 sm6>
														<v-text-field
															name="phone" hide-details
															label="Your phone number" v-model="customer_phone"
															
														></v-text-field>
														
													</v-flex>
													<v-flex xs12 sm6>
														<v-select
															name="gender" hide-details
															label="Gender" v-model="customer_gender"
															:items="['male', 'female']"
														></v-select>
														
													</v-flex>
													<v-flex sm12>
														<v-checkbox label="This booking for someone else"
															v-model="for_someone_else"
															:value="for_someone_else" color="primary">
														</v-checkbox>
													</v-flex>
													<v-flex v-if="for_someone_else" xs12 sm6>
														<v-text-field
															name="guest_name"
															label="Guest Name" v-model="guest_name"
															hide-details
														></v-text-field>
													</v-flex>
													<v-flex v-if="for_someone_else" xs12 sm6>
														<v-text-field
															name="guest_email" v-model="guest_phone"
															label="Guest Phone"
															hide-details type="phone"
														></v-text-field>
													</v-flex>
													<v-flex v-if="for_someone_else" xs12 sm6>
														<v-text-field
															name="guest_email" v-model="guest_email"
															label="Guest Email (Optional)"
															hide-details
														></v-text-field>
													</v-flex>
												</v-layout>
											</v-card-text>

										</v-card>
										<v-btn color="primary" @click.native="stepper = 2" :disabled="disabled_step_one">Continue</v-btn>
									</v-stepper-content>
									<v-stepper-content step="2">
										<v-card color="grey lighten-4" flat class="mb-5">
											<v-card-text>
												
												<h3 class="mb-3">You Are Almost Done</h3>
												<p>Paying for your booking guarantees that your rooms will be reserved. and kept ready prior to your arrival.  
													We will send a printable receipt of your payment to your email address. 
												</p>
												<v-subheader class="pl-0">Payment methods</v-subheader>
												<ul>
													<template v-if="!hotel.allowed_payments || hotel.allowed_payments.online">
														<li>Bank payment</li>
														<li>Debit/Credit Cards</li>
														<li>GTB 737</li>
													</template>
													<!-- <li v-if="hotel.allowed_payments && hotel.allowed_payments.front_desk">Pay on arrival</li> -->
												</ul>

												<v-subheader class="pl-0 mt-3">Accepted cards</v-subheader>
												<v-img src="/cards-we-accept.png" width="200"/>

												<!-- <v-btn color="info lighten-1"
													v-if="hotel.allowed_payments && hotel.allowed_payments.front_desk"
													class="mt-4 text-capitalize" 
													depressed :loading="creating"
													@click="createBooking(false)">
													Pay on arrival
												</v-btn> -->

												<v-btn color="primary" class="mt-4 ml-0" large depressed
													v-if="!hotel.allowed_payments || hotel.allowed_payments.online">
													<client-only>
														<paystack
																:amount="total * 100"
																:email="customer_email"
																:paystackkey="paystackkey"
																:reference="reference"
																:callback="callback"
																:close="close"
																:subaccount="subaccount"
																:transaction_charge="10"
																bearer="subaccount"
																:embed="false"
														>
															
															Pay Now
														</paystack>
													</client-only>
												</v-btn>
												
												<v-subheader></v-subheader>
												<v-expansion-panel class="elevation-0">
													<v-expansion-panel-content>
														<div slot="header">Can't pay online?</div>
														<v-divider></v-divider>
														<v-card flat>
															<v-card-text>
																You can pay into any of the accounts below. <br>
																Once you have paid, send an email with the details of your payment to
																<strong>support@hotelsmart.com.ng</strong> or call <tel>+2348036975227</tel> to complete your booking. <br>
																<div class="mt-3">
																	<strong>
																		Use this as the reference when making payment: {{this.reference}}
																	</strong>
																</div>

																<div class="mt-4">
																	<div><strong>Bank Name</strong> : United Bank For Africa (UBA)</div>
																	<div><strong>Account Number</strong> : 1019286032</div>
																</div>
															</v-card-text>
															<v-card-actions>
																<v-btn color="success" 
																	@click="createBooking(false)" 
																	:loading="creating">
																	Save booking
																</v-btn>
															</v-card-actions>
														</v-card>
													</v-expansion-panel-content>
												</v-expansion-panel>
											</v-card-text>
										</v-card>
										<v-btn color="" @click.native="stepper = 1" flat>Previous</v-btn>
										<v-btn color="primary" @click.native="stepper = 3" :disabled="!paid">Finish</v-btn>
										
									</v-stepper-content>
									<v-stepper-content step="3">
										<v-card color="grey darken-3" flat class="mb-5 white--text" height="220px">
											<v-card-text>
												<v-btn flat icon large class="d-block mx-auto">
													<v-icon color="success" large>check_circle</v-icon>
												</v-btn>
												<template v-if="paid">
												</template>
												<h3 class="text-xs-center title">
													{{paid ? 'Your Booking is confirmed!' : 'Your reservation has been saved.'}}
												</h3>
												<div class="text-xs-center my-3">
													<p v-if="paid">
														We have sent a receipt of your payment to your email. You can now checkin to this hotel.

													</p>
												</div>

											</v-card-text>
											<v-card-actions>
												<v-btn block depressed
													color="primary" dark 
													v-if="auth.loggedIn"
													@click="$router.push('/account')">
													Manage your bookings
												</v-btn>
											</v-card-actions>
										</v-card>
										<!-- <v-btn color="primary" @click.native="stepper = 2">Back</v-btn> -->
									</v-stepper-content>
								</v-stepper-items>
							</v-stepper>
						</v-flex>

						<!-- BOOKING DETAILS -->
						<v-flex xs12 md4>
							<v-card flat>
								<v-card-title>
									Booking Details
								</v-card-title>
								<v-card-text>
									<v-card flat>
										<v-img :src="hotel.images ? hotel.images[0] : '/no-img.jpg'" height="200" width="100%"/>
										<v-card-title class="title px-0 pb-0 primary--text text-capitalize">
											{{data.name}}
										</v-card-title>
										<v-card-text class="px-0 pt-2 font-weight-bold">
											<v-layout row wrap >
												<v-flex xs4 >
													Rooms:
												</v-flex>
												<v-flex xs6>
													<div v-for="(room_val, room_key) in data.rooms" :key="room_val['qty'] + 'rv'" style="width:100%; overflow: auto;">
														<div class="d-inline-block" style="width:100%; float: left">{{room_val['qty']}} {{room_key}} rooms</div> 
														
													</div>
												</v-flex>
												
												<v-flex xs4>
													Arrival Date
												</v-flex>
												<v-flex xs6>
													{{checkin}}
												</v-flex>
												<v-flex xs4>
													Departure Date
												</v-flex>
												<v-flex xs6>
													{{checkout}}
												</v-flex>
												<v-flex xs4>
													Total Amount: 
												</v-flex>
												<v-flex xs6>
													&#x20A6; {{(total || 0).toLocaleString()}}
													( {{numOfNights}} Nights ) 
												</v-flex>
											</v-layout>
										</v-card-text>
										<v-card-actions class="pl-0">
											<v-btn 
												color="primary" 
												class="text-capitalize" 
												depressed small
												:to="`/hotels/${data.id}?checkin=${data.checkin}&checkout=${data.checkout}&adults=${data.adults}&children=${data.children}`"
												:disabled="stepper == 3"
											>
												Modify booking
											</v-btn>
										</v-card-actions>
									</v-card>
								</v-card-text>
							</v-card>
						</v-flex>
					</v-layout>
				</v-flex>
			</v-layout>	
		</v-container>

		<v-layout row justify-center>
			<v-dialog v-model="creating" persistent max-width="290">
				<v-card flat class="pa-4 text-xs-center" height="150">
					<v-progress-circular class="d-block mx-auto mb-2" indeterminate color="primary"></v-progress-circular>
					<div>Making Reservations. Please wait..</div>
				</v-card>
			</v-dialog>
		</v-layout>

		<!-- SUBSCRIBE -->
    <subscribe/>

    <!-- FOOTER -->
    <footr/>
	</div>
</template>
<script>
export default {
	head(){
    return {
      title: 'Complete your booking - Hotel Smart'
    }
  },
	data(){
		return {
			showUi: false,
			data: '',
			stepper: 1,
			customer_name: '',
			customer_email: '',
			customer_phone: '',
			customer_gender: '',
			for_someone_else: false,
			guest_name: '',
			guest_phone: '',
			guest_email: '',
			paystackkey: 'pk_live_86473306ed74ede0daaba3be6bd6dc785245c414',
			paid: false,
			creating: false,
		}
		
	},
	watch: {
		'auth': function(to, from){
			// console.log({to, from})
			if(to.loggedIn){
				this.customer_name = to.user.displayName
				this.customer_email = to.user.email
				this.customer_phone = to.user.phone || ''
			}
		}
	},
	computed: {
		...mapState([
			'auth',
    ]),
		disabled_step_one(){
			return !this.customer_name || !this.customer_email || 
			!this.customer_gender || !this.customer_phone || 
			(!this.guest_name && !this.guest_phone && this.for_someone_else)
		},
		checkin(){
			return moment(this.data.checkin).format('ddd, MM Do YYYY')
		},
		checkout(){
			return moment(this.data.checkout).format('ddd, MM Do YYYY')
		},
		numOfNights(){
			function treatAsUTC(date) {
				var result = new Date(date);
				result.setMinutes(result.getMinutes() - result.getTimezoneOffset());
				return result;
			}

			function daysBetween(startDate, endDate) {
				var millisecondsPerDay = 24 * 60 * 60 * 1000;
				return (treatAsUTC(endDate) - treatAsUTC(startDate)) / millisecondsPerDay;
			}

			return daysBetween(this.data.checkin, this.data.checkout)
		},
		total(){
			// console.log(this.data.rooms)
			let items = Object.values(this.data.rooms)
			
			let total_prices = 0
			items.forEach(item =>{
				total_prices += item.price * item.qty
			})

			return total_prices * this.numOfNights
			
		},
		reference(){
			let text = "";
			let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

			for( let i=0; i < 10; i++ )
				text += possible.charAt(Math.floor(Math.random() * possible.length));

			return text;
		},
		hotel(){
			return this.data.hotel
		},
		subaccount(){
			return this.hotel
				.bank_details.subaccount_code
		}
	},
	methods: {
		callback: function(response){
			// console.log(response)
			this.createBooking(true)
			
		},
		close: function(){
			// console.log("Payment closed")
		},
		createBooking(paid){
			// create a booking
			try {
				
				this.creating = true
				let batch = db.batch()
	
				let bookingRef = db.collection('bookings').doc()
				batch.set(bookingRef, {
					docId: bookingRef.id,
					userId: this.auth.loggedIn ? this.auth.user.uid : false,
					hotelId: this.data.id,
					hotel_name: this.data.name,
					customer_name: this.customer_name,
					customer_email: this.customer_email,
					customer_phone: this.customer_phone || '',
					customer_gender: this.customer_gender,
					booking_for: {
						customer_name: !this.for_someone_else ? this.customer_name : this.guest_name,
						customer_email: !this.for_someone_else ? this.customer_email : this.guest_email,
						customer_phone: !this.for_someone_else ? this.customer_phone : this.guest_phone
					},
					checkin: this.data.checkin,
					checkout: this.data.checkout,
					checkin_time: new Date(this.data.checkin).getTime(), // checkin time in Number format
					checkout_time: new Date(this.data.checkout).getTime(),
					status: 'no-show',
					rooms: this.data.rooms,
					guests: {
						adults: this.data.adults,
						children: this.data.children
					},
					total_price: this.total,
					payment_ref: this.reference,
					paid: paid,
					mode_of_payment: paid ? 'online' : 'manual', // maybe for analytics
					channel: 'online', // channel/mode of reservation
					date_created: firebase.firestore.FieldValue.serverTimestamp(),
					last_updated: firebase.firestore.FieldValue.serverTimestamp()
				})
	
				if(this.auth.loggedIn) {
					// increase user's booking
					let userRef = db.collection('users').doc(this.auth.user.uid)
					batch.update(userRef, {
						bookings: firebase.firestore.FieldValue.increment(1)
					})
				}

				// reduce room qty by 1
				// let hotelRef = db.collection('hotels').doc(this.data.id)
				// batch.update(hotelRef, {
				// 	rooms: this.data.modified_rooms,
				// 	bookings: firebase.firestore.FieldValue.increment(1)
				// })

				batch.commit().then(()=> {
					this.paid = paid
					this.stepper = 3
					this.creating = false
					this.$eventBus.$emit('Snackbar', {
						show: true, 
						message: paid ? 'You have successsfully completed your booking!' : 'Reservation saved', 
						color: 'success'
					})
				}).catch(err => console.log(err))
			} catch (error) {
				console.log(error)
			}
		}
	},
	mounted(){
		let encoded = this.$route.query.id
		try {
			
			this.data = JSON.parse(atob(encoded))
			this.showUi = true
	
			if(this.auth.loggedIn){
				this.customer_name = this.auth.user.displayName
				this.customer_email = this.auth.user.email
				this.customer_phone = this.auth.user.phone
			}
		} catch (error) {
			this.$router.push('/')
		}
		// console.log(this.data)
	},
	components: {
		paystack: () => import('vue-paystack'),
		Footr,
		Subscribe,
	},
}
// import paystack from 'vue-paystack';
import { mapState, mapGetters } from 'vuex'
import moment from 'moment'
import Footr from '@/components/footer'
import Subscribe from '@/components/subscribe'
import { firebase, db } from '@/plugins/firebase'
</script>
<style>
	.bordered{
		border: 1px solid #ddd !important;
	}
</style>
