<template>
  <div>
    <v-card flat color="white" tile dark>
      <v-toolbar flat color="white" dark>

        <v-toolbar-title :class="{'ml-5': $vuetify.breakpoint.smAndUp}" primary-title>
          <nuxt-link to="/hoteliers" class="red--text font-weight-bold">Smart Hotelier</nuxt-link>
        </v-toolbar-title>
        <v-spacer/>

        <v-toolbar-items>

          <v-chip flat color="white lighten-1" dense class="black--text mr-4 hidden-sm-and-down">
            <v-avatar color="success">
              <!-- <img src="src" alt="alt"> -->
              <v-icon>phone</v-icon>
            </v-avatar>
            +2348036975227
          </v-chip>

          <v-btn flat color="primary" to="/" small class="hidden-xs-only">Home</v-btn>
          <v-btn flat color="primary" @click="$vuetify.goTo('footer', options)" small class="hidden-xs-only">About</v-btn>
          <v-btn flat color="primary" href="https://help.hotelsmart.com.ng" target="blank" small>Help</v-btn>
          <v-btn flat color="primary" @click="$vuetify.goTo('footer', options)" small>Contact</v-btn>
        
        </v-toolbar-items>
        <v-btn 
          class="red text-capitalize round hidden-xs-only" 
          to="/add-your-property" nuxt dark depressed>
          Get Started
        </v-btn>
        
        
      </v-toolbar>
    </v-card>
    <v-divider></v-divider>

    <!-- BANNER -->
    <v-container fluid pa-0>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card flat tile dark color="primary" style="position: relative; z-index:5; min-height: 450px;">
            <v-card-text>
              <v-layout row wrap justify-center>
                <v-flex xs12 sm5>
                  <h2 class="display-2 mt-5 mb-3">Property Management Made Easy</h2>
                  <p class="mb-5 banner-text">
                   Smart Hotelier Property Management System 
                   is easy-to-use and completely integrated. Streamline 
                   your daily operations with one powerfully simple system.
                  </p>
                   <v-btn depressed 
                    large class="ml-0 white primary--text text-capitalize" 
                    to="/add-your-property" nuxt>
                    Get started
                  </v-btn>
                </v-flex>
                <v-flex xs12 sm6>
                  <v-card flat tile color="transparent">
                    <v-img src="/home-banner.png" class="mt-5" contain :height="imgHeight"></v-img>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container fluid pa-0>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card flat tile  style="min-heigth: 400px;">
            <v-card-text>
              <v-layout row wrap justify-space-around align-center>
                <v-flex xs12 sm4 order-md1>
                  <v-layout row wrap>
                      <v-flex>
                        <h4 class="headline primary--text mt-5 mb-2  ">Property Management System</h4>
                        <p class="mb-3 banner-text">
                          Front desk operations - Rate and availability management - Unlimited users 
                          - Full reporting - Access anywhere
                        </p>
                      </v-flex>
                      <v-flex >
                        <h4  class="headline primary--text mb-2  ">Channel Manager</h4>
                        <p class="mb-5 banner-text">
                          Sync rates, avaialability with 100s of channels including Booking.com, Airbnb, Expedia.
                          Smart Hotelier lets you manage all the channels you need in real-time. 
                        </p>
                      </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-card flat tile color="transparent">
                    <v-img src="/channels.png" class="mt-5" contain :height="$vuetify.breakpoint.xsOnly ? '' : 400"></v-img>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container fluid pa-0>
      <v-layout row wrap align-center>
        <v-flex xs12>
          <v-card flat tile  style="min-heigth: 400px;" color="grey lighten-4">
            <v-card-text>
              <v-layout row wrap justify-space-around align-center>
                <v-flex xs12 sm4>
                  <v-layout row wrap>
                      <v-flex >
                        <h4  class="headline primary--text mt-5 mb-2  ">Smart Analytics and Reports</h4>
                        <p class="mb-3 banner-text">
                          Get a comprehensive understanding of the
                          performance of your property. Analyze past data and forecast future metrics and growth.
                        </p>
                        <ul>
                          <li>Detailed availability</li>
                          <li>Guests in house</li>
                          <li>Lodging and statistics reports</li>
                          <li>KPIs - ADR, Occupancy, RevPar.</li>
                        </ul>
                      </v-flex>
                  </v-layout>
                </v-flex>
                <v-flex xs12 sm5>
                  <v-card flat tile color="transparent">
                    <v-carousel cycle hide-delimiters :show-arrows="false" height="400" class="elevation-0">
                      <v-carousel-item >
                        <v-img src="/reports-device.png" class="" height="400" contain></v-img>
                      </v-carousel-item>
                      <!-- <v-carousel-item>
                        <v-img src="/reports-device2.png" class="" height="400" contain></v-img>
                      </v-carousel-item>
                      <v-carousel-item>
                        <v-img src="/reports3.png" class="" height="400" contain></v-img>
                      </v-carousel-item> -->
                    </v-carousel>
                    
                  </v-card>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container fluid pa-0>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card flat tile style="min-heigth: 400px;">
            <v-card-text>
              <v-layout row wrap justify-space-around align-center>
                <v-flex xs12 sm4 order-md2>
                 <v-layout row wrap>
                    <v-flex >
                      <h4  class="headline primary--text mt-5 mb-2  ">Online Checkin</h4>
                      <p class="mb-3 banner-text"> 
                        Save time and manpower with the online checkin feature. Make guests happy 
                        by making their rooms ready before arrival.
                      </p>
                    </v-flex>
                    <v-flex >
                      <h4  class="headline primary--text mb-2  ">Upselling</h4>
                      <p class="mb-5 banner-text">
                        Increase your revenue by
                        upselling breakfast and other services during check-in using our Smart Attendant feature.
                      </p>
                    </v-flex>
                 </v-layout>
               </v-flex>
                <v-flex xs12 sm5>
                  <v-card flat tile color="transparent">
                    <v-carousel cycle hide-delimiters :show-arrows="false" :height="carouselHeight" class="elevation-0">
                      <v-carousel-item >
                        <v-img src="/shop1.png" :height="carouselHeight" contain></v-img>
                      </v-carousel-item>
                    </v-carousel>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-container fluid pa-0>
      <v-layout row wrap>
        <v-flex xs12>
          <v-card flat tile style="min-heigth: 400px;" class="mb-5" color="grey lighten-4">
            <v-card-text>
              <v-layout row wrap justify-space-around align-center >
                <v-flex xs12 sm4 order-md1>
                  <v-layout row wrap>
                      <v-flex >
                        <h4  class="headline primary--text mt-5 mb-2  ">House Keeping</h4>
                        <p class="mb-3 banner-text">
                          Create work orders and customizable checklists to meet your guests needs and requirements. 
                          Print or share them with your staff. Receive real-time updates.
                        </p>
                      </v-flex>
                      <v-flex >
                        <h4  class="headline primary--text mb-2  ">Shift Management</h4>
                        
                        <ul>
                          <li>Calendar view</li>
                          <li>Assign and monitor staff shifts</li>
                          <li>See who is on duty - when and where</li>
                        </ul>
                      </v-flex>
                  </v-layout>
                  
                </v-flex>
                <v-flex xs12 sm5>
                  <v-card flat tile color="transparent" >
                    <v-carousel cycle hide-delimiters :show-arrows="false" :height="carouselHeight" class="elevation-0">
                      <v-carousel-item >
                        <v-img src="/shift1.png" class="" :height="carouselHeight" contain></v-img>
                      </v-carousel-item>
                      <v-carousel-item>
                        <v-img src="/shift2.png" class="" :height="carouselHeight" contain></v-img>
                      </v-carousel-item>
                      <v-carousel-item>
                        <v-img src="/shift4.png" class="" :height="carouselHeight" contain></v-img>
                      </v-carousel-item>
                    </v-carousel>
                  </v-card>
               </v-flex>
              </v-layout>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- TESTIMONIALS -->
    <v-container grid-list-xs fluid class="testimonial">
      <v-layout row wrap justify-end>
        <v-flex xs8>
          <v-card class="transparent" flat tile dark>
            <v-card-text>
              <div  class="title text-xs-right">
                Our sales doubled this year. With Smart Hotelier I spend
                less time on manual tasks and more time thinking about
                growing my business."
              </div>
              <div class="text-xs-right mt-3">
                David Grey, Owner at Grand Primordial Hotels
              </div>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- FEATURES -->
    <v-container grid-list-md>
      <v-layout row wrap justify-center >
        <v-flex xs12 sm10>
          <v-container grid-list-lg>
            <v-layout row wrap class="py-5">
              <v-flex xs6 sm3 v-for="item in highlights" :key="item.title">
                <v-card flat class="grey lighten-5">
                  <v-card-text class="text-xs-center">
                    <v-img :src="item.img" height="100" contain/>
                    <h4 class="mt-3">{{item.title}}</h4>
                  </v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- PLANS -->
    <v-container fluid pa-0 id="plans" tag="div">
      <v-layout row wrap>
        <v-flex xs12>
          <v-card flat tile color="primary lighten-2">
            <v-parallax
              dark height="350"
              src="cta.jpg"
            >
              <v-card-text>
                <v-layout row wrap justify-center align-center>
                  <v-flex xs12 sm5>
                    <h4 class="display-1 mt-5 mb-3 white--text">
                      Let Smart Hotelier help you automate operations and simplify your life.
                    </h4>
                    <p></p>
                    <v-btn color="success" large depressed to="/add-your-property">Get Started For Free</v-btn>
                    
                  </v-flex>
                </v-layout>
              </v-card-text>
            </v-parallax>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- SUBSCRIBE -->
		<app-subscribe/>

		<!-- FOOTER -->
		<app-footer id="footer"/>
  </div>
</template>
<script>
export default {
  layout:'hotelier',
  data(){
    return {
      options: {
        duration: 1500,
        offset: 0,
        easing: 'easeInOutCubic'
      },
      highlights: [
        {title: 'Easy to use', img: '/easy-to-use.png'},
        {title: 'Affordable', img: '/affordable.png'},
        {title: 'Mobile Friendly', img:'/mobile-friendly.png'},
        {title: 'Secure', img: '/security.png'},
      ]
    }
  },
  head: {
    scripts: [

    ]
  },
  computed: {
    title(){
      return 'Smart Hotelier - Property management made easy'
    },
    carouselHeight(){
      return this.$vuetify.breakpoint.xsOnly ? '300' : '400'
    },
    imgHeight(){
      return this.$vuetify.breakpoint.xsOnly ? '' : '400'
    }
  },
  components: {
    AppFooter,
    AppSubscribe
  },
  mounted(){
    if(typeof document){

      var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
      (function(){
      var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
      s1.async=true;
      s1.src='https://embed.tawk.to/5d8222859f6b7a4457e250cb/default';
      s1.charset='UTF-8';
      s1.setAttribute('crossorigin','*');
      s0.parentNode.insertBefore(s1,s0);
      })();
    }
  }
}
import AppFooter from '@/components/footer'
import AppSubscribe from '@/components/subscribe'
// import * as easings from 'vuetify/es5/util/easing-patterns'
</script>

<style lang="scss" scoped>
  .banner-text {
    line-height: 2.3em;
  }
  .testimonial {
    background: #607D8B;

    .title {
      line-height: 1.5em !important;
      font-weight: normal;
    }
  }
</style>
