<template>
<div>
  
  <v-layout justify-center>
    <v-flex xs12 sm8>
      <v-card flat class="my-5">
        <h1 class="text-xs-center">How It works</h1>
        <v-card-text>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, magni vero. 
            Labore laboriosam veritatis quisquam ad dignissimos ipsam, cupiditate sit 
            doloribus! Cum ab quo molestias expedita id ratione dolor nostrum!
            Labore laboriosam veritatis quisquam ad dignissimos ipsam, cupiditate sit 
            doloribus! Cum ab quo molestias expedita id ratione dolor nostrum!
            Labore laboriosam veritatis quisquam ad dignissimos ipsam, cupiditate sit 
            doloribus! Cum ab quo molestias expedita id ratione dolor nostrum!
          </p>
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem, magni vero. 
            Labore laboriosam veritatis quisquam ad dignissimos ipsam, cupiditate sit 
            doloribus! Cum ab quo molestias expedita id ratione dolor nostrum!
            Labore laboriosam veritatis quisquam ad dignissimos ipsam, cupiditate sit 
            doloribus! Cum ab quo molestias expedita id ratione dolor nostrum!
            Labore laboriosam veritatis quisquam ad dignissimos ipsam, cupiditate sit 
            doloribus! Cum ab quo molestias expedita id ratione dolor nostrum!
          </p>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>

  <!-- SUBSCRIBE -->
  <app-subscribe/>

  <!-- FOOTER -->
  <app-footer id="footer"/>
</div>
</template>

<script>
  export default {

    data: () => ({

    }),
    components: {
      AppFooter,
      AppSubscribe
    },
  }

import AppFooter from '@/components/footer'
import AppSubscribe from '@/components/subscribe'
</script>

<style>
</style>