<template>
	<div>
		<v-layout>
			<v-flex text-xs-center>
				<v-card flat height="490" img="/homepage-hotelsmart.jpg">
				<!-- <img src="/2757.jpg" width="100%" height="100%" style=""/> -->
					<v-container pt-5>
						<v-layout row wrap>
							<v-flex xs12>
								<v-card class="pa-0 mt-5" height="" color="rgba(0,0,0,0.5)">
									
									<v-card-title primary-title class="headline orange--text font-weight-bold">
										Find A Place To Stay
									</v-card-title>

									<v-container grid-list-lg>
										<v-layout row wrap>

											<v-flex xs12 sm6>

												<v-combobox 
													v-model="model"
													:loading="isLoading"
													prepend-inner-icon="place"
													:items="items"
													:search-input.sync="search"
													item-text="name" item-value="docId"
													solo
													single-line hide-details
													hide-no-data
													label="Enter a city or hotel name"
												>
														
												</v-combobox>
											</v-flex>
										</v-layout>
										
										<v-layout>

											<v-flex xs12 sm4>
												<v-menu
													v-model="menu1"
													:close-on-content-click="true"
													full-width
													max-width="500"
												>
													<template v-slot:activator="{ on }">
														<v-text-field solo flat hide-details
															:value="format_date1"
															label="Check In" prepend-inner-icon="event"
															v-on="on"
														></v-text-field>
													</template>
													<v-date-picker :landscape="$vuetify.breakpoint.smAndUp" color="primary"
														v-model="checkin" :allowed-dates="allowedDates"
														@change="selectCheckin"
													></v-date-picker>
												</v-menu>
											</v-flex>

											<v-flex xs12 sm4>
												<v-menu
													v-model="menu2"
													:close-on-content-click="false"
													full-width
													max-width="500"
												>
													<template v-slot:activator="{ on }">
														<v-text-field solo flat hide-details
															:value="format_date2"
															label="Check Out" prepend-inner-icon="date_range"
															v-on="on"
														></v-text-field>
													</template>
													<v-date-picker :landscape="$vuetify.breakpoint.smAndUp"
													 :allowed-dates="allowedDates2"
														v-model="checkout" color="primary" :events="events"
														@change="menu2 = false"
													></v-date-picker>
												</v-menu>
											</v-flex>

										</v-layout>
										<v-layout row wrap>
											<v-flex shrink>
												<v-btn class="orange d-inline-block ml-0" 
													 @click="submit" dark
													
												>
													Search
												</v-btn>
												<span class="white--text ml-3">OR</span>
												
											</v-flex>

											<v-flex shrink>
												<v-btn color="orange" flat
													 @click="getHotelsNearby" class="ml"
													
													:loading="loading" dark
												>
													Find hotels nearby
												</v-btn>
												
											</v-flex>
										</v-layout>
									</v-container>
								</v-card>
							</v-flex>
						</v-layout>
					</v-container>
				</v-card>
			</v-flex>
		</v-layout>

		<!-- FEATURES -->
		<v-container grid-list-xl mb-5>
			<v-subheader>Features</v-subheader>
			<v-layout row wrap>
				<v-flex v-for="(feature, i) in features" :key="i+'f'">
					<v-hover v-slot:default="{ hover }">
						<v-card  height="150" class="linkify" :color="feature.color" style="border: 1px solid #ddd;">
							<v-img
								:src="feature.img"
								height="150px"
								:contain="feature.contain"
								gradient="to bottom, rgba(0,0,0,.1), rgba(0,0,0,.5)"
							>
								<v-expand-transition>
									<div
										v-if="hover"
										class="d-flex transition-fast-in-fast-out px-2 orange lighten-1 v-card--reveal white--text"
										style="height: 100%;"
									>
										{{feature.body}}
									</div>
								</v-expand-transition>
								<v-card-title class="fill-height align-end title white--text">
									{{feature.title}}
								</v-card-title>
							</v-img>

						</v-card>
					</v-hover>
				</v-flex>
			</v-layout>
		</v-container>
		<!-- POPULAR DESTINATIONS -->
		<v-container grid-list-lg>
			<v-subheader>Popular Destinations</v-subheader>
			<v-layout column>
				<v-flex>
					<v-layout row wrap>
						<v-flex xs12 sm8 d-flex order-sm2>
							<v-card hover to="/destinations/lagos" flat>
								<v-img
									class="white--text"
									height="420"
									src="/lagos-hotelsmart.jpg"
								>
									<v-container fill-height fluid>
										<v-layout fill-height align-center justify-center>
											<v-flex xs6 sm3>
												<div class="headline ma-auto">Lagos</div>
												<div class="">Find hotels in Lagos</div>
											</v-flex>
										</v-layout>
									</v-container>
								</v-img>
							</v-card>
						</v-flex>
						<v-flex xs12 sm4 d-flex>
							<v-layout column>
								<v-flex d-flex>
									<v-card hover height="200" to="/destinations/abuja" flat>
										<v-img
											class="white--text"
											height="200px"
											src="/abuja-hotelsmart.jpg"
										>
											<v-container fill-height fluid>
												<v-layout fill-height align-center justify-center>
													<v-flex xs6>
														<div class="headline">Abuja</div>
														<div class="">Find hotels in Abuja</div>
													</v-flex>
												</v-layout>
											</v-container>
										</v-img>
									</v-card>
								</v-flex> 
								<v-flex d-flex>
									<v-card  class="mx-auto" hover height="200" to="/destinations/kano" flat>
										<v-img
											class="white--text"
											height="200px"
											src="/kano-hotelsmart.jpg"
										>
											<v-container fill-height fluid>
												<v-layout fill-height align-center justify-center>
													<v-flex xs6>
														<div class="headline">Kano</div>
														<div class="">Find hotels in Kano</div>
													</v-flex>
												</v-layout>
											</v-container>
										</v-img>
									</v-card>
							</v-flex> 
							</v-layout>
						</v-flex>
						
					</v-layout>
				</v-flex>
				<v-flex>
					<v-layout row wrap>
						<v-flex xs12 sm4 v-for="place in places" :key="place[0]">
							<v-card height="200" hover :to="place[2]" flat>
								<v-img
									class="white--text"
									height="200px"
									:src="`/${place[1]}`"
								>
									<v-container fill-height fluid>
										<v-layout fill-height align-center justify-center>
											<v-flex xs6>
												<div class="headline text-capitalize">{{place[0]}}</div>
												<div class="text-capitalize">Find hotels in {{place[0]}}</div>
											</v-flex>
										</v-layout>
									</v-container>
								</v-img>
							</v-card>
						</v-flex>
					</v-layout>
				</v-flex>
			</v-layout>
		</v-container>
		
		<v-btn 
			color="primary" style="display: table;"
			class="text-capitalize mx-auto pt-2" 
			outline nuxt large
			to="/hoteliers"
		>
			Add Your Property
		</v-btn>

		<!-- SUBSCRIBE -->
		<app-subscribe/>

		<!-- FOOTER -->
		<app-footer class="footer"/>
	</div>
</template>

<script>

export default {
	layout:'default',
	data(){
		return {
			checkin: new Date().toISOString().substr(0, 10),
			checkout: new Date(new Date().getTime() + (24 * 60 * 60 * 1000)).toISOString().substr(0, 10),
			events: null,
      menu1: false,
			menu2: false,
			fav: true,
      menu: false,
			message: false,
			page: 1,
			loading: false,
			hints: true,
			query: '',
      rooms: 1,
      adults: 1,
      children: 1,
			isLoading: false,
			Fuse: '',
			fuseOptions: {
				shouldSort: true,
				tokenize: true,
				threshold: 0.6,
				location: 0,
				distance: 100,
				keys: [
					"name",
					"location.city",
					"location.state",
					"address"
				]
			},
			//items: [],
			entries: [],
			descriptionLimit: 60,
			model: '',
			search: null,
			select: null,
			features: [
				{title: 'Cheapest deals', 
					body: 'Save big. Find 4-star hotels at 2-star prices.', img: '/deals-n-offers.jpg'},
				{title: 'Instant bookings', 
					body: 'Instant booking confirmation when you pay online. Your rooms are kept ready before your arrival.', 
					img: '/instant-booking.png', 
					color: 'teal lighten-3', contain: true
				},
				{
					title: 'Online checkin', 
					body: 'Checkin online. Cut the queue. More time for you.', 
					img: '/online-checkin.jpg'
				},
				{title: 'Room ordering', 
					body: 'Make orders and purchases all from the comfort of your hotel room using Smart Attendant.', 
					img: '/room-ordering.png', 
					contain: true, color: 'grey lighten-5'
				}
			]
		}
	},
	watch: {
		search (val) {

			this.isLoading = true
			setTimeout(()=>{
				
				let search = this.Fuse.search(val.toLowerCase());
				
				this.isLoading = false
				this.entries = search
				// console.log(search)
				
			}, 1000)
		},
		'listOfHotels': function(to, from){
			this.initialize()
		}
	},
	computed: {
		...mapState([
			'listOfHotels',
		]),
		format_date1 () {
      return this.checkin ? moment(this.checkin).format('ddd, MM Do YYYY') : ''
    },
    format_date2 () {
      return this.checkout ? moment(this.checkout).format('ddd, MM Do YYYY') : ''
    },
		items () {
			
			return this.entries
		},
		disabled_submit(){
			// console.log(this.model, typeof this.model)
			return !this.model|| 
			!this.checkin || 
			!this.checkout || 
			!this.adults > 0 || 
			!this.rooms > 0 || 
			!this.children > 0
		},
		places(){
			return [
				['enugu','enugu-hotelsmart.jpg','/destinations/enugu'],
				['benin','benin-hotelsmart.jpg','/destinations/benin',],
				['Port Harcourt','ph-hotelsmart.jpg', '/destinations/port harcourt']
			]
		}
	},
	methods:{
		allowedDates(val){
			// only allow dates greater than or equal to today
			let today = new Date().getTime()

			let toAllow = new Date(val).getTime()
			
			return toAllow - today >= 0
		},
		allowedDates2(val){
			// only allow dates greater than the checkin date
			let checkin = new Date(this.checkin).getTime()

			let toAllow = new Date(val).getTime()
			let oneDay = 24 * 60 * 60 * 1000
			
			return toAllow - checkin  - oneDay >= 0
		},
		selectCheckin(){
			this.menu1 = false
			this.menu2 = true
			let checkin = new Date(this.checkin)
			// set the checkout date to the next day
			this.checkout = new Date(checkin.getTime() + (24 * 60 * 60 * 1000)).toISOString().substr(0, 10)
			this.events = [new Date(checkin).toISOString().substring(0, 10)]
		},
		submit(){
			if(this.model){

				let url = `/search?term=${this.model.name || this.model}&sortby=price&checkin=${this.checkin}&checkout=${this.checkout}`
				this.$router.push(url)
			}
		},
		getGuestLocation(){
			return new Promise((resolve, reject)=>{

				navigator.geolocation.getCurrentPosition(pos =>{
					this.guest_location = pos.coords
          resolve(pos.coords)
          // console.log(pos.coords)
				}, err =>{
					// error occured
					// console.log(err)
					reject(err)
				})
			})
		},
    async searchByLocation(){
			
			return new Promise(async (resolve, reject) => {

				let coords = await this.getGuestLocation()
	
				// Create the parameters for the reverse geocoding request:
				var reverseGeocodingParameters = {
						prox: `${coords.latitude},${coords.longitude},150`,
						mode: 'retrieveAddresses',
						maxresults: 1
					};
	
				var platform = new H.service.Platform({
					app_id: process.env.hereAppId,
					app_code: process.env.hereAppCode,
					useHTTPS: true
				});
	
				// Get an instance of the geocoding service:
				var geocoder = platform.getGeocodingService();
	
				// Call the geocode method with the geocoding parameters,
				// the callback and an error callback function (called if a
				// communication error occurs):
				geocoder.reverseGeocode(
					reverseGeocodingParameters,
					onSuccess,
					function(e) { reject(e)});
	
					function onSuccess(result){
						// console.log({result})
						let address = result.Response.View[0].Result[0].Location.Address
						resolve({
							state: address.State,
							city: address.City,
							label: address.Label,
							coords: coords
						})
						
					}
			})
		},
		async getHotelsNearby(){

			this.loading = true

			let location = await this.searchByLocation()
			
			// console.log({location})

			let fuseOptions = {
				shouldSort: true,
				threshold: 0.4,
				tokenize: true,
  			matchAllTokens: true,
				keys: [
					// "name",
					"location.city",
					"location.state",
					"address"
				]
			}

			let query = location.city;

			let fuse = new Fuse(this.listOfHotels, fuseOptions)

			let searchResult = fuse.search(query)
			
			Promise.all(
				searchResult.map(async hotel => {
					return db.collection('hotels').doc(hotel.docId).get()
					.then(doc => doc.data())
				})
			).then(results => {
				this.$eventBus.$emit('LoadMap', results)
				this.loading = false
				// console.log({results})
			})

		},
		initialize(){
			this.Fuse = new Fuse(this.listOfHotels, this.fuseOptions)
			// console.log('index', this.listOfHotels)
		}
	},
	mounted(){
		this.initialize()
		
	},
	components: {
		AppFooter,
		AppSubscribe,
		HotelSearch
	}
}
import moment from 'moment'
import lunr from 'lunr'
import AppFooter from '@/components/footer'
import AppSubscribe from '@/components/subscribe'
import HotelSearch from '@/components/HotelSearch'
import Fuse from 'fuse.js'
import { mapState } from 'vuex';
import { firebase, db } from '@/plugins/firebase'
</script>
<style>
	.round{
		border-radius: 7px !important;
		-webkit-border-radius: 7px !important;
		-moz-border-radius: 7px !important;
		-ms-border-radius: 7px !important;
		-o-border-radius: 7px !important;
	}
	.outlined{
		border: 1px solid #ddd !important;
	}
	.linkify{
		cursor: pointer;
	}
	.v-card--reveal {
		align-items: center;
		bottom: 0;
		justify-content: center;
		opacity: .9;
		position: absolute;
		width: 100%;
	}
</style>

