<template>
  <div>
    <v-container grid-list-sm>
      <v-layout row wrap justify-center>
        <v-flex xs12 md8>
          <h1>Hotelsmart Privacy Policy</h1>
          <div style="font-size:;">
            

            <h3 class="my-4">Introduction</h3>
            Hotelsmart respects your right to privacy and takes your privacy seriously. Hotelsmart is committed to protecting and securing any personal information you give us. This Privacy Policy explains who we are; how we collect, use and share personal information about you; how you can manage the information you give us and exercise your privacy rights; and how we protect your information. This Privacy Policy relates to our use of any personal information we collect from you via our online services including our Website, App and online booking APIs (i.e., online-booking tools used by our partners) ("Online Services") or give us in any other way (together, the “Services”).
            What does Hotelsmart do?
            Hotelsmart provides you with travel-related services and enables you to book a hotel room and a selection of travel packages via our Services. We also offer our services through travel partners' websites. We offer customer support to you through our customer services team to deal with any issues you have with your booking.
            
            <h3 class="my-4">Key things you should know about how we use your information:</h3>
            <ul>
              
              <li>We use your information (and the information of those travelling with you) for purpose of completing hotel bookings.</li>
              <li>This includes sharing your booking information with our Suppliers or Property Owners in order for them to fulfil your booking.</li>
              <li>We also engage other third-party vendors who provide services or functions on our behalf.</li>
              <li>When you choose to receive marketing communications, we will let you know about any special offers that may be of interest to you. You have the option of opting out of promotional communications at any time.</li>
              <li>You can contact us about updating or accessing your information through our customer services portal or our contact information within the How to Contact Us section.</li>
              <li>We use information like cookies to improve your experience on Online Services; provide us with analytics information that will help us improve our Services generally; and to collect information about travel destinations of interest to you so that you may see ads and offers that are more relevant to you</li>
              <li>From time to time and usually following an interaction with us, we will ask you for your feedback to ensure we are providing the best service we can.</li>
            </ul>
            <p>We recommend that you read this Privacy Policy in full to ensure you are completely informed. However, if you only want to access a particular section of this Privacy Policy, then you can click on the relevant quick link in the menu.</p>
            <p>If you have any questions or concerns about our use of your personal information, then please contact us via our Customer Services Portal found in the “How to Contact Us” section at the bottom of this policy.</p>
            
            <h3 class="my-4">External Links</h3>
            If any parts of our Online Services link you to other websites or Apps, those newly opened links do not operate under this Privacy Policy. We therefore recommend you examine the privacy policies posted on those other online areas to understand their procedures for collecting, using, and disclosing personal information.

            <h3 class="mt-4 mb-3">What personal information do we collect, and why?</h3>

            <h4 class="my-4">Information that you provide directly to us</h4>
            <p>We may ask you to provide personal information directly to us. For example, we may ask you to provide your contact details such as full name, street address, telephone number, email address, and date of birth as necessary, in order to:</p>
            <ul>
              <li>Enable your hotel booking</li>
              <li>Create or register an account with us</li>
              <li>Provide the services and information you request such as details about your booking</li>
              <li>Have an emergency contact number for you</li>
              <li>Update loyalty program information</li>
              <li>Subscribe you to our marketing communications; and/or</li>
              <li>Submit enquiries to us</li>
            </ul>

            <p>You will also need to provide your billing information (such as credit card number, cardholder name and expiration date) to make a payment.</p>
            
            <p>You may also be required to provide information about any other travelers/ lodgers on your booking, your marketing preferences, and additional information if you participate in a survey or competition. When creating an account, you will provide a login name/member ID as well as a password.</p>
            
            <p>Your personal information may also be linked to Cookies to enable the proper operation of our Online Services, store your hotel searches on our Online Services, and collect information on how you used our Online Services.</p>
            If you’re an employee of a corporate account, a vendor or other type of business partner such as a Property Owner, Property Manager, travel agent, other information collected can include employer, employee identification number, or other relevant details. 
            
            <h4 class="my-3">Special Categories of Personal Information</h4>
            
            <p>Certain types of personal information, such as some government-issued identification numbers, religion, health or sexuality, are considered sensitive and require additional protection under applicable laws. We limit the circumstances under which we may collect sensitive personal information; examples of this information include the following:</p>
            <ul>
              <li>Health-related information may be needed to provide appropriate travel accommodation and accessibility or facility requirements.</li>
              <li>Government-issued identification numbers like passport or driver’s license number may be required for flights, vehicle rental or other travel reservation.</li>
              <li>Other information that you can specify at your option and which may imply or suggest information like religion, health or other information, such as dietary needs.</li>
            </ul>
            
            <h4 class="my-3">Information Voluntarily Provided About Your Travel/ lodging Companion(s)</h4>
            <p>When you make a reservation for someone else through our Online Services, we will request personal information and travel preferences about that individual. You should obtain the consent of any other individual(s) prior to providing us with their personal information and travel preferences. Your travel companion's information will only be available to view and amend through your account. Should your travel companion want to amend or delete their information themselves they can contact us directly at the information provided at the bottom of this Privacy Policy.</p>
            <h4>Information that we collect automatically</h4>
            <p>When you visit us on our Online Services, we may collect certain information automatically from your device. In some countries, including countries in the European Economic Area, this information may be considered personal information under applicable data protection laws.
            <p>Specifically, the information we collect automatically may include information like your IP address, device type, unique device identification numbers, browser-type (such as Firefox, Safari, or Internet Explorer), your Internet Service Provider (ISP), your operating system and carrier. For website users, details of any referring website or exit pages as well as broad geographic location (e.g., country or city-level location) are also collected.
            <p>We may also collect other technical information such as how your device has interacted with our Online Services, including the pages accessed and links clicked, i.e., hotels viewed and the time and date of these.</p>
            <p>Collecting this information enables us to better understand the visitors who come to our Online Services, where they come from, and what content on our Online Services is of interest to them. We use this information for our internal analytics purposes and to improve the quality and relevance of our Online Services for our visitors, for example, to customize your user experience, tailor your searches and show you advertisements that may be of interest. We also use this automatic information to prevent and detect fraud.</p>
            <p>Some of this information may be collected using cookies and similar tracking technology, as explained further under the heading “Cookies and similar tracking technology”.</p>
            
            
            <h4>Information we collect when you use Apps</h4>
            <p>When you use one of your smart phone app, tablet app, or applications for other platforms (collectively “App” or “Apps” as applicable), we also collect:</p>
            <p>Information about the functionality of the Apps you access and use. This allows us to identify those areas of the Apps that are of interest to our customers so that we can refine and continuously improve the Apps.</p>
            <p>Each App sends us the device's unique device identifier (or "UID"), a sequence of numbers or characters that are unique to your device. We use this only on the first opening of the App so that we can confirm to our advertising networks the number of downloads resulting from clicks on their respective ad banners and other marketing tools. When an email address is provided, we associate this with your current UID/cookie ID for the purposes of providing a seamless experience across your devices.</p>
            <p>When you use an App’s ’find hotels near your current location’ or similar features that suggest relevant content based on location, we use information about your current location – provided by your device using GPS or similar technologies – to show relevant content or other localized information. We do not collect location data unless you expressly use a location-based feature, and you can switch off location data collection at any time through your phone settings menu.</p>
            <p>Each App will also send us error-reporting information in the event that it crashes or hangs. This enables us to investigate the error and to improve the stability of the App for future releases. As part of these error reports, the App sends us information about the mobile device type and version, the UID, the time the error occurred, the feature being used and the state of the application when the error occurred. We do not use this information for any purpose other than investigating and remedying the error. We may use this information to investigate and remediate the error and to assist you in completing an impacted booking</p>
            <p>You always have the ability to control what information an App sends to us. You can exercise this control either by changing the settings of the App under its setting menu or changing the settings of your mobile device. Alternatively, you can remove the App from your device entirely and access our services through our website.</p>
            
            <h3 class="my-4">Information that we obtain from third party sources</h3>

            <p>Periodically, we lawfully obtain personal information about you from affiliated entities, business partners and other independent third-party sources and add it to our account information. Examples of information we may receive include: updated contact information like email, purchase history, and demographic information.</p>
            <h4>Information we collect when you communicate with us via the following methods</h4>
            <p><b>Social Media</b>: If you make use of any of our social media features on our Online Services or otherwise through a social media provider, we may access information about you via that social media provider in accordance with their privacy policy. For example, we offer the option to register with our website via the “Facebook Connect” feature, enabling you to register with our website using your Facebook account data without entering the required data manually on our webpage.</p>
            <p>When using a social media feature, if you have chosen to include it in your social media account, we may access information such as your name, profile picture, gender, birthday, email address, town or district and any other information you have chosen to make available. Subject to your privacy settings, we access information that you provide to a social media provider regarding your respective locations (“Location Data”) to provide you with relevant content. We do not store or use any data related to the friends you are connected with on a social media site.</p>
            <p>We may also access information from social media providers about your use of an App that we run on their website. Therefore, we encourage you to review the privacy policy of any social media provider you use.</p>
            <p><b>Call Monitoring and Recording</b>: Calls to and from our customer service teams may be recorded or monitored for quality control purposes, analytics, to protect us in the event of a legal dispute and for staff training. Call recordings will be maintained consistent with this Privacy Policy. Any personal information obtained from you during the call will be treated in accordance with the provisions of this Privacy Policy.</p>
            <p><b>Other Online Communications</b>: Any interactions you have with us through our Online Services, such as chat, will be recorded and monitored for quality control purposes, to protect us in the event of a legal dispute and for staff training. This information will be processed and maintained consistent with this Privacy Policy.</p>

            <h3 class="my-4">Cookies and similar tracking technology</h3>

            <p>We use cookies and similar tracking technology (collectively, “Cookies”) to collect and use personal information about you, including to serve interest-based advertising. For further information about the types of Cookies we and our vendors use, why, and how you can control Cookies, please see our Cookie Policy. We may combine the information you give us with information related to your transactions and information we receive about you from third parties who carry out services on our behalf. The information received via Cookies and similar technologies may allow us to cross track devices and users' clickstream data associated with the Cookies.</p>
            <p>In general, we will use the personal information we collect from you only for the purposes described in this Privacy Policy or for purposes that we explain to you at the time we collect your personal information.</p>

            <h3 class="my-4">Who do we share your personal information with?</h3>

            <p>We may disclose your personal information to the following categories of recipients:</p>
            <p><b>Our group companies</b> at times will share your personal information with our affiliated companies within the Expedia Group family, listed at expediagroup.com. This sharing enables us to provide you, with your consent as legally required, with information about products and services, both travel-related and other, which we believe, might interest you. Also, if you inquire about booking a vacation rental stay through another Expedia Group brand, such as HomeAway, we may on occasions share the number of your prior stays and any status level you have with an Expedia Group brand (but no other details) with the vacation rental owner so they may have additional reassurance in approving your stay. To the extent that our parent company and corporate affiliates have access to your information, they will follow practices that are at least as restrictive as the practices described in this Privacy Policy. They will also comply with applicable laws governing the transmission of promotional communications and, at a minimum, give you an opportunity in any commercial email they send to choose not to receive such email messages in the future.</p>
            <p><b>Third party services providers</b> who provide data processing services to us (for example, to support the delivery of; provide functionality on; or help to enhance the security of our Online Services), or who otherwise process personal information for purposes such as credit card processing, business analytics, customer service, marketing, distribution of surveys or sweepstakes programs, to facilitate the delivery of online advertising tailored to your interests and fraud prevention. Where third-party service providers have access to data they will only collect information as needed to perform their functions. They are not permitted to share or use the information for any other purpose.</p>
            <p><b>Business partners</b> with whom we may jointly offer products or services, or whose products or services may be offered on our Online Services. You can tell when a third-party business partner is involved in a product or service you have requested because their name will appear, either alone or with ours. If you choose to access these optional services, we will on occasions share information about you, including your personal information, with those partners. An example of a business partner would be a third-party loyalty program that you will earn points for, through a booking.</p>
            <p><b>Travel suppliers</b> such as hotel, airline, car rental, insurance, Property Owners, and, where available, activity providers, rail and cruise lines, who fulfil your travel reservations. All services provided by a third-party supplier are described as such. Please note that these suppliers also may contact you as necessary to obtain additional information about you, facilitate your travel reservation, or respond to a review you may submit in accordance with their own independent Privacy Policy. From time to time we share anonymous reviews with our hotel suppliers. On such occasions we do not share reviewer names or contact information unless you have explicitly told us that we may. We are not responsible for the hotel deducing your identity from the content of your review and contacting you directly.</p>
            <p><b>Social media providers</b> when you access certain social media features through our Online Services, you will share information with the social media provider (such as Facebook). The information you share will be governed by the social media's privacy policy (including any data we may access via the social media provider). Social media providers should inform you about how you can modify your privacy settings on their site.
            <p>If you connect your Hotelsmart account to a social media provider, such as through “Facebook Connect,” we may make available on that social media provider's platform the information related to your use of our Services, such as our rewards and loyalty program or the reviews you post on our Online Services. Such information may also be published on that social media provider’s websites or services. Information made available on the social media provider's platform will be attributed to the social media provider account to which your Hotelsmart account is connected.</p>
            <p>You may choose to disable automatic publishing by the social media provider of such information by editing your privacy settings for that social media provider. We will not provide any other social media provider with access to your Hotelsmart account number or information. If you connect your Hotelsmart account to a social media provider, we may also share your user name and your profile picture from that social media provider to other Hotelsmart members. You may choose to disable such sharing of information by editing your privacy settings on that social media provider’s site</p>
            <p>Any competent law enforcement body, regulatory, government agency, court or other third party where we believe disclosure is necessary (i) as a matter of applicable law or regulation, (ii) to exercise, establish or defend our legal rights, or (iii) to protect your interests or those of any other person.</p>
            <p>When we believe it is appropriate to investigate, prevent, or take action regarding illegal or suspected illegal activities; to protect and defend the rights, property, or safety of our company or this website, our customers, or others; and in connection with our Terms of Service and other agreements.</p>
            <p>In connection with a corporate transaction, such as a divestiture, merger, consolidation, or asset sale, or in the unlikely event of bankruptcy. In the case of any acquisition, we will inform the buyer it must use your personal information only for the purposes disclosed in this Privacy Policy; or any other person with your consent to the disclosure.</p>
            <p>We are not able to list every specific recipient in this Privacy Policy due to the volume of recipients and frequency of changes to this information. The categories of recipients are explained in more detail in the sub paragraphs of this section above, for example, travel suppliers such as hotels, airlines, car rental companies and activity providers, who enable us to fulfil your booking. If you have any questions about third-party data sharing, please contact us at the information provided at the bottom of this Privacy Policy.</p>
            <p>On occasion, we share aggregate or anonymous information with third parties, including advertisers and investors. For example, we may tell our advertisers the number of visitors our website receives or the most popular hotels and vacation destinations. This information does not contain any personal information and is used to develop content and services we hope will be of interest to our users.</p>

            <h3 class="my-4">How do we use your information?</h3>

            <h4>Our legal bases for processing personal information (EEA visitors only)</h4>
            <p>If you are a visitor from the European Economic Area, our legal basis for collecting and using the personal information described in this Privacy Policy will depend on the personal information concerned and the specific context in which we collect it.</p>
            <p>We will normally collect personal information from you only (i) where we need the personal information to perform a contract with you, (ii) where the processing is in our legitimate interests and not overridden by your rights, or (iii) where we have your consent to do so. In some cases, we will have a legal obligation to collect personal information from you such as where it is necessary to use your transaction history to complete our financial and tax obligations under the law.</p>
            <p>If we ask you to provide personal information to comply with a legal requirement or to perform a contract with you, we will make this clear at the relevant time and advise you whether the provision of your personal information is mandatory or not (as well as of the possible consequences if you do not provide your personal information).</p>
            <p>If we collect and use your personal information in reliance on our legitimate interests (or those of any third party), this interest will normally be to operate our platform and communicate with you as necessary to provide our services to you, for security verification purposes when you contact us and for our legitimate commercial interest, for instance, when responding to your queries, improving our platform, undertaking marketing, or for the purposes of detecting or preventing illegal activities. We may have other legitimate interests and if appropriate we will make clear to you at the relevant time what those legitimate interests are.</p>
            
            <h4>How do we determine what our Legitimate Business Interests are?</h4>
            <p>We carry out an assessment to ensure that:</p>
            <li>Our interest in the use of your data is legitimate (i.e., we have a clear business need); and</li>
            <li>The business need, on balance, does not override your privacy rights</li>
            <p>When determining this, we assess the potential impact a specific use of the data may have on you as a customer and weigh this against our own business needs to ensure that we get the balance right. We also apply a series of security measures to minimise any potential risks.</p>
            <p>By way of example in practice we would consider that the collection of our customers’ marketing preferences in the course of a booking is a legitimate business interest to have as an online ecommerce company. We believe that this does not unduly impact your privacy rights as you may want to hear about our products and services going forward. However, to protect your privacy rights we ensure that you can opt out of these promotional communications at any time, in your account, in the email itself or through customer services.</p>
            <p>In accordance with the legal grounds above, we use the information we collect to:</p>
            <ul>
              <li>Fulfil the transactions that you make, such as booking a hotel;
              <li>Provide you with booking confirmations and important updates for your upcoming lodging (via email, SMS and/or push messages).</li>
              <li>Verify your identity for fraud prevention purposes.</li>
              <li>Manage your account, including processing payments.</li>
              <li>Communicate with you in general, particularly if there is a change to your booking.</li>
              <li>Provide customer services related to your booking or to respond to any inquiry you make.</li>
              <li>Measure interest in and improve our products, services, and website functionality.</li>
              <li>Notify you about special offers, coupons, sweepstakes and travel-related products and services that may be of interest to you. You may receive these by email, SMS, push messages, post or via advertisements on third-party sites, including through social media.</li>
              <li>Otherwise customize your experience with this website or App.</li>
              <li>Reward you as part of any reward and recognition program you choose to join (whether this is our program or that of a third party).</li>
              <li>Obtain information from you, including through feedback you give or surveys you complete.</li>
              <li>Carry out statistical analysis about the use of our website and Apps and the services we offer to improve each aspect of what we do.</li>
              <li>Protect our rights as a company including our intellectual property for example.</li>
              <li>Resolve disputes, collect fees, or troubleshoot problems.</li>
              <li>Enforce our Terms of Use.</li>
              <li>As otherwise described to you at the point of collection.</li>
            </ul>
            <p>If you have questions about or need further information concerning the legal basis on which we collect and use your personal information, please contact us at the information provided at the bottom of this Privacy Policy.</p>

            <h3 class="my-4">How do we protect your personal information?</h3>

            <p>We want you to feel confident about using our Online Services to make travel arrangements, and we are committed to protecting the information we collect. While no Online Services can guarantee absolute security, we have implemented appropriate technical and organisational measures to protect the personal information that we collect and process about you. For example, we use encryption when transmitting your sensitive personal information between your system and ours, and we employ firewalls and intrusion detection systems to help prevent unauthorised persons from gaining access to your information. In addition, only authorised employees are permitted to access personal information, and they may only do so for permitted business functions.</p>
            
            <h3 class="my-4">International data transfers</h3>
            <p>Your personal information may be transferred to, and processed in, countries other than the country in which you are resident. These countries may have data protection laws that are different to the laws of your country (and, in some cases, may not be as protective).</p>
            <p>Specifically, the servers of our Online Services are located in Nigeria, and our group companies and third-party service providers operate around the world. This means that when we collect your personal information we may process it in any of these countries.</p>
            <p>We have taken appropriate safeguards to require that your personal information will remain protected in accordance with this Privacy Policy when transferred outside Nigeria. Any data transfers between our group companies are governed by our intergroup agreement which incorporates strict data transfer terms approved by the European Commission (known as Standard Contractual Clauses) and requires all group companies to protect the personal information they process from the EEA in accordance with European Union data protection law.</p>
            <p>We ensure that any of our third-party service providers to whom a data transfer is made has appropriate safeguards in place to protect your personal information. The adequacy mechanism may be (i) adequate country status, i.e., based in a country that the European Commission has deemed "adequate" since its data protection standards are similar to the European Union; (ii) Standard Contractual Clauses; or (iii) the EU-US and Swiss-US Privacy Shield.</p>
            
            <h3 class="my-4">Data Retention</h3>

            <p>We retain the personal information we collect from you where we have an ongoing legitimate business need to do so (for example, to provide you with a service you have requested or to comply with applicable legal, tax or accounting requirements).</p>
            <p>When we have no ongoing legitimate business need to process your personal information, we will either delete or anonymise the data or, if this is not possible (for example, because your personal information has been stored in backup archives), then we will securely store your personal information and isolate it from any further processing until deletion is possible.</p>
            <p>We will anonymise or aggregate your data if we intend to use it for analytical purposes or trend analysis over longer periods.</p>
            
            <h3 class="my-4">Your information rights</h3>

            <p>You can access or update your contact information in the Account section of our Online Services. You can de-activate your account at any time either by contacting us through the customer services portal link or at the email address listed below. After you de-activate an account, you will not be able to sign in or access any of your personal information. However, you can open a new account at any time. If you wish to delete your data, please contact us through the customer services portal link or at the information provided at the bottom of this Privacy Policy.</p>
            <p>If you wish to contact us in relation to any personal information that is not displayed in your account, you can contact us at the information provided at the bottom of this Privacy Policy.</p>

            <h3 class="my-4">Your data protection rights</h3>

            <p>If you are a resident of the European Economic Area, you have the following data protection rights:</p>
            <ul>
              <li>If you wish to access, correct, update or request deletion of your personal information, you can do so at any time by contacting us through the customer services portal or at the information provided at the bottom of this Privacy Policy.</li>
              <li>If you request access to your personal data we will confirm whether we hold your information and provide you with a copy, explaining how we process it and why, how long we store it for and your rights associated with it.</li>
              <li>If you request deletion of your personal information, we will erase it. Please do note that we will need to retain any information that we require to fulfil our legal obligations or to establish, exercise or defend a legal claim.</li>
              <li>You can object to processing of your personal information, ask us to restrict processing of your personal information or request portability of your personal information. Again, you can exercise these rights by contacting us through the customer services portal or at the information provided at the bottom of this Privacy Policy.</li>
              <li>You have the right to opt-out of marketing communications we send you at any time. You can exercise this right by clicking on the “unsubscribe” or “opt-out” link in the marketing e-mails we send you.</li>
              <li>Similarly, if we have collected and process your personal information with your consent, then you can withdraw your consent at any time. Withdrawing your consent will not affect the lawfulness of any processing we conducted prior to your withdrawal, nor will it affect processing of your personal information conducted in reliance on lawful processing grounds other than consent.</li>
              <li>You have the right to complain to a data protection authority about our collection and use of your personal information. For more information, please contact your local data protection authority. Contact details for data protection authorities in the European Economic Area, Switzerland and certain non-European countries (including the US and Canada) are available <a target="blank" href="http://ec.europa.eu/justice/article-29/structure/data-protection-authorities/index_en.htm">here.</a></li>
            </ul>

            <h3 class="my-4">Display of Tailored Advertising</h3>

            <h4>Data collected by this website to serve you with relevant advertising</h4>
            <p>We are committed to providing you with relevant content and information. To do this, we may, through cookies and other technologies, collect information about your travel-related searches, such as whether you are looking for flights or hotels. We use this information, together with other information we have collected about you, to serve you with more relevant ads on our website, across the internet, and on other devices that you may use. So, for example, if you search for a property in London on this site, you may see an ad for a London travel package on this site or on another website you visit.</p>
            <p>Please note that we do not combine the information we collect about your hotel-related searches on this website with personal information (such as email address) to serve you with ads across other websites. We also do not share your personal information with third parties so they can serve you with advertisements. You can choose not to receive tailored online advertising on other websites, based on your hotel-related searches on this website and learn more about opting out of having your information used for tailored advertising purposes by accessing one of the following resources:</p>
            <ul>
              <li>http://www.youronlinechoices.eu/</li>
              <li>http://youradchoices.ca/choices/</li>
              <li>http://www.aboutads.info/choices/</li>
              <li>http://optout.networkadvertising.org/</li>
            </ul>
            <p>Note that if you choose not to receive tailored ads, you will still see online advertisements, but they will be more general and less relevant to you.</p>

            <h3 class="my-4">Data collected by business partners and ad networks to serve you with relevant advertising</h3>

            <p>The advertisements you see on this website are served by us or by our service providers. But we also allow third parties to collect information about your online activities through cookies and other technologies. These third parties include (1) business partners, who collect information when you view or interact with one of their advertisements on our sites; and (2) advertising networks, which collect information about your interests when you view or interact with one of the advertisements they place on many different websites on the Internet. The information gathered by these third parties is used to make predictions about your characteristics, interests or preferences and to display advertisements on our sites and across the Internet tailored to your apparent interests. We do not permit these third parties to collect personal information about you (such as email address) on our site, nor do we share with them any personal information about you.</p>
            <p>Please note that we do not have access to or control over cookies or other technologies these third parties may use to collect information about your interests, and the information practices of these third parties are not covered by this Privacy Policy. Some of these companies are members of the Network Advertising Initiative, which offers a single location to opt out of ad targeting from member companies.</p>

            <h3 class="my-4">Data collected by companies that operate cookie-based exchanges to serve you with relevant advertising</h3>

            <p>Like other companies operating online, we participate in cookie-based exchanges where anonymous information is collected about your browsing behaviour through cookies and other technologies and segmented into different topics of interest (such as travel). These topics of interest are then shared with third parties, including advertisers and ad networks, so they can tailor advertisements to your apparent interests. We do not share personal information (such as your email address) with these companies and we do not permit these companies to collect any such information about you on our site. </p>

            <h3 class="my-4">Do-Not-Track Signals and Similar Mechanisms</h3>

            <p>Some web browsers may transmit "do-not-track" signals to websites with which the browser communicates. Because of differences in how web browsers incorporate and activate this feature, it is not always clear whether users intend for these signals to be transmitted, or whether they even are aware of them. Participants in the leading Internet standards-setting organization that is addressing this issue are in the process of determining what, if anything, websites should do when they receive such signals. We currently do not take action in response to these signals. If and when a final standard is established and accepted, we will reassess how to respond to these signals.</p>

            <h3 class="my-4">How to Contact Us</h3>
            Phone: +234 815 658 9210 <br>
            Email: hello@hotelsmart.com.ng

            <h3 class="my-4">Updates to this Privacy Policy</h3>
            Changes to this Privacy Policy will be made when required in response to changing legal, technical or business developments. When we update our Privacy Policy, we will take appropriate measures to inform you, consistent with the significance of the changes we make. We will obtain your consent to any material Privacy Policy changes if and where this is required by applicable data protection laws.

          </div>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- SUBSCRIBE -->
		<app-subscribe/>

		<!-- FOOTER -->
		<app-footer/>
  </div>
</template>
<script>
export default {
  head(){
    return {
      title: 'Privacy Policy - Hotel Smart'
    }
  },
  components: {
    AppFooter,
    AppSubscribe
  }
}
import AppFooter from '@/components/footer'
import AppSubscribe from '@/components/subscribe'
</script>
