<template>
	<div>

		<hotel-search :height="250" search_offset="25%" ></hotel-search>

		<v-container grid-list-md >
			<v-layout row wrap justify-center>
				
				<!-- SIDEBAR -->
				<v-flex xs12 sm3 d-flex>
					<template class="hidden-xs-only" v-if="ready && $vuetify.breakpoint.smAndUp">
						<search-side-bar :results="all_results" />
					</template>

					<v-btn color="info" 
						depressed small 
						class="hidden-sm-and-up"
						@click="filter_dialog = true">
							Filter results
					</v-btn>
					<v-dialog v-model="filter_dialog" v-if="ready && $vuetify.breakpoint.xsOnly"
						disable-resize-watcher>
						
						<search-side-bar :results="all_results" v-if="$vuetify.breakpoint.xsOnly"/>
					</v-dialog>
				</v-flex>

				<!-- MAIN -->
				<v-flex xs12 sm9 d-flex>
					<v-card flat class="grey lighten-5">

						<!-- FILTER TOOLBAR -->
						<v-toolbar dense card>
							<v-toolbar-title class="title font-weight-light">Sort By: </v-toolbar-title>
							<v-spacer></v-spacer>
							<v-toolbar-items>
								
								<v-btn :class="{secondary: sortby == 'av_price'}" 
									class="text-capitalize" @click="sortby = 'av_price'" append flat>
									Price
								</v-btn>
								<v-btn :class="{secondary: sortby == 'av_review'}" 
									class="text-capitalize hidden-xs-only" @click="sortby = 'av_review'" flat>
									Highest Rating
								</v-btn>
								<v-btn class="text-capitalize hidden-xs-only" @click="$eventBus.$emit('LoadMap', all_results)" flat>
									Distance
								</v-btn>

								<v-menu offset-y v-if="$vuetify.breakpoint.xsOnly">
									<v-btn  icon dark slot="activator">
										<v-icon color="primary lighten-3">menu</v-icon>
									</v-btn>
									<v-list>
										<v-list-tile @click="sortby = 'rating'">
											<v-list-tile-title>Sort By Highest Rating</v-list-tile-title>
										</v-list-tile>
										<v-list-tile @click="$eventBus.$emit('LoadMap', all_results)">
											<v-list-tile-title>Sort By Distance</v-list-tile-title>
										</v-list-tile>
									</v-list>
								</v-menu>

							</v-toolbar-items>
						</v-toolbar>

						<!-- Loading... -->
						<v-progress-circular v-if="!ready" indeterminate color="primary" class="d-block mx-auto mt-5"></v-progress-circular>
						
						<v-layout column v-else pt-2>
							<v-subheader v-if="results && results.length == 0">No results found</v-subheader>
							<v-flex xs12 v-for="(h, i) in sortedResults" :key="h.docId + i + 'h'">
								<v-card height="" class="round" flat style="border:1px solid #ddd; ">
									<v-layout row wrap>

										<v-flex xs12 sm4 pb-0>
											<v-card height="178" flat class="" style="border-top-left-radius: 5px; border-bottom-left-radius: 5px;">
												<v-img style="cursor:zoom-in; border-top-left-radius: 5px; border-bottom-left-radius: 0px; 
													border-bottom-right-radius: 0px; border-top-right-radius: 0px;" 
													@click="index = 1; images = h.images"
													height="100%"
													:src="h.images ? h.images[0] : '/no-img.jpg'"
												></v-img>
												<div style="position:absolute;top:10px;right:5px;">
													<v-icon color="white">collections</v-icon>
												</div>
												<div style="position:absolute;top:10px;left:5px;" v-if="auth.loggedIn">
													<v-tooltip bottom>
														<v-icon :class="{'red--text': user.favorites && user.favorites.find(item => item == h.docId)}"
															@click="addFavorite('icon' + i, h.docId)" :id="'icon' + i" slot="activator">
															favorite
														</v-icon>
														<span>Save as favorite</span>
													</v-tooltip>
													
												</div>
											</v-card>
										</v-flex>

										<v-flex xs12 sm8 pb-0 >
											<v-card-title style="position: relative">
												<div>
													<div class="title">
														<span class="primary--text linkify" @click="goto(h)">
															{{$helpers.truncateText(h.name, 32)}}
														</span>
													</div>
													<div class="mt-2"><v-icon small>place</v-icon> {{$helpers.truncateText(h.address, 30)}}</div>
													
												</div>
												<div class="hidden-xs-only text-xs-right" 
													style="position: absolute; top:15px; right:15px; text-align: right;">
													<div class="pl-3">
														<span class="primary--text">
															{{getReviewText(h.reviews.average)}}
														</span>
														<span class="primary white--text pa-1 round">
															{{h.reviews.average.toFixed(1)}}
														</span>
													</div>
													<small>{{h.reviews.total}} Reviews</small>
													
												</div>
											</v-card-title>
											
											<v-layout row wrap>
												<v-flex xs12 sm6 class="pl-3">

													<v-tooltip bottom>
														<v-chip color="primary" dark slot="activator" small
															v-if="h.allowed_payments && h.allowed_payments.online_checkin">
															Online check-in
														</v-chip>
														<span>You can checkin online after booking</span>
													</v-tooltip>

													<v-chip outline color="info" 
														small v-for="(facility, i) in chipItems(h)" 
														:key="facility.code + i">
														{{facility.text}}
													</v-chip>
													
												</v-flex>
												<v-flex xs12 sm6>
													<v-divider class="hidden-sm-and-up mb-2"></v-divider>
													<div class="text-xs-left pl-3 hidden-sm-and-up" style="float:left;">
														<div>
															<span class="primary--text">
																{{getReviewText(h.reviews.average)}}
															</span>
															<span class="primary white--text pa-1 round">
																{{h.reviews.average.toFixed(1)}}
															</span>
														</div>
														<small>{{h.reviews.total}} Reviews</small>
													</div>

													<div class="text-xs-right px-3 pt-2">
														<span class="font-weight-bold title black--text">
															&#x20A6; {{(lowestAvailablePrice(h) || 0).toLocaleString()}}
														</span><br>
														<small>price per night</small>
														<div class="mt-4">
															<small v-if="roomsLeft(h) !== true" class="orange--text lighten-2 d-block">{{roomsLeft(h) + ' rooms left at this price'}} </small>
															<div v-if="roomsLeft(h) == 0" class="red--text text-uppercase"><i>Fully Booked</i></div>
															<v-btn v-else color="primary" class="mb-3" depressed @click="goto(h)">Book Now</v-btn>
														</div>
													</div>
												</v-flex>
											</v-layout>
											
											
										</v-flex>
										
									</v-layout>
								</v-card>
							</v-flex>

							<v-flex shrink class="text-xs-center mt-4" v-if="searchResult.length > items_per_page && 
								searchResult.length > all_results.length">
								<v-btn color="primary" class="text-capitalize" 
									outline @click="nextPage"
									:loading="loading_more">
									Load more
								</v-btn>
							</v-flex>
						</v-layout>
					</v-card>
				</v-flex>
			</v-layout>
		</v-container>


		<client-only placeholder="Loading...">
			<slider :images="images" :index="index" :options="options" @close="index = null"></slider>
		</client-only>

		<!-- SUBSCRIBE -->
    <subscribe/>

    <!-- FOOTER -->
    <footr/>
	</div>
</template>
<script>
export default {
	head(){
    return {
      title: 'Search results - HotelSmart'
    }
  },
	data(){
		return {
			ready: false,
			mapview: false,
			page: 1,
			loading_more: false,
			filter_dialog: true,
			images: [],
			index: null,
			results: [],
			all_results: [],
			options: {
				indicatorContainer: 'ol',
				// The class for the active indicator:
				activeIndicatorClass: 'active',
				// The list object property (or data attribute) with the thumbnail URL,
				// used as alternative to a thumbnail child element:
				thumbnailProperty: 'thumbnail',
				// Defines if the gallery indicators should display a thumbnail:
				thumbnailIndicators: true
			},
			filterItems: [],
			user: {}, // logged in user
			guest_location: {},
			maploaded: false,
			hotelsWithCoords: [],
			searchResult: [],
			items_per_page: 10,
			Fuse: '',
			fuseOptions: {
				shouldSort: true,
				threshold: 0.4,
				tokenize: true,
  			matchAllTokens: true,
				keys: [
					"name",
					"location.city",
					"location.state",
					"address"
				]
			},
			sortby: 'av_price',
			last_query: '',
		}
	},
	watch: {
		'listOfHotels': function(){
			// this.ready = false
			this.initialize('new_query')
		},
		'$route': function(){
			this.ready = false
			this.results = []
			this.all_results = []
			this.initialize()
		},
		'sortby': function(){
			
		},
		'hotelsWithCoords': function(to, from){
			
		}
	},
	computed: {
		...mapState([
			'auth',
			'listOfHotels'
		]),
		sortedResults(){

			let items = this.results.map(item => {
				return {
					...item,
					av_price: this.lowestAvailablePrice(item),
					av_review: item.reviews.average
				}
			})

			if(this.sortby == 'av_price'){
				let f = sortBy(items, 'av_price')
				// console.log({f}, sortBy(items, 'av_review').reverse())
				return f
			}
			if(this.sortby = 'av_review'){
				let b = sortBy(items, 'av_review').reverse()
				// console.log({b})
				return b

			}
				
			return f
		},
		
	},
	components: {
		HotelSearch,
		SearchSideBar,
		'slider': () => import('@/components/slider.vue'),
		Footr,
		Subscribe,
	},
	methods:{
		async initialize(){
			// retreive and show search results
			let query = this.$route.query
			// console.log('initializing... ', query.term)
			let fuse = new Fuse(this.listOfHotels, this.fuseOptions)

			this.searchResult = fuse.search(query.term)
			// console.log(this.searchResult)

			await this.nextPage()
			


			if(this.auth.loggedIn){

				db.collection('users').doc(this.auth.user.uid)
				.get().then(doc => {
					this.user = doc.data()
				})
			}
		},
		nextPage(){

			let offset = this.page * this.items_per_page
			let start = offset - this.items_per_page
			
			this.loading_more = true

			Promise.all(
				this.searchResult.slice(start, offset).map(async hotel => {
					return db.collection('hotels').doc(hotel.docId).get()
					.then(doc => doc.data())
				})
			)
			.then(async results => {
				if(results.length > 0 && this.$route.query == this.last_query){
					this.page += 1
				}
				
				let with_rooms = results.filter(h => h.rooms)
				this.all_results.push(...with_rooms)
				
				let avl = await this.checkAvailability(with_rooms)

				this.results.push(...avl)
				this.last_query = this.$route.query
				
				this.loading_more = false
				this.ready = true
				
			})
		},
		chipItems(h){
			if(h.facilities){

				if(this.$vuetify.breakpoint.xsOnly){
					return h.facilities.slice(0,5)
				}
				else if (this.$vuetify.breakpoint.smAndDown){
					return h.facilities.slice(0,2)
				}
				else {
					return h.facilities.slice(0,7)
				}
			}
			else {
				return []
			}
		},
		addFavorite(icon, hotelId){
      // console.log(icon)
      let doc = document.getElementById(icon)
      // console.log(doc.classList)
      doc.classList.toggle('red--text')

			let added = doc.classList.contains('red--text')
			if(added){
				// add a hotel as favorite
				db.collection('users').doc(this.auth.user.uid)
				.update({
					favorites: firebase.firestore.FieldValue.arrayUnion(hotelId)
				}).then(() => {

					this.$eventBus.$emit('Snackbar', {
						show: true,
						color: 'black',
						message: 'Added as favorite'
					}) 
				})
			}
			else{
				db.collection('users').doc(this.auth.user.uid)
				.update({
					favorites: firebase.firestore.FieldValue.arrayRemove(hotelId)
				}).then(() => {

					this.$eventBus.$emit('Snackbar', {
						show: true,
						color: 'black',
						message: 'Removed from favorites'
					})
				})
			}
    },
		buildQuery(data) {

			// If the data is already a string, return it as-is
			if (typeof (data) === 'string') return data;

			// Create a query array to hold the key/value pairs
			var query = [];

			// Loop through the data object
			for (var key in data) {
				if (data.hasOwnProperty(key)) {

					// Encode each key and value, concatenate them into a string, and push them to the array
					query.push(encodeURIComponent(key) + '=' + encodeURIComponent(data[key]));
				}
			}

			// Join each item in the array with a `&` and return the resulting string
			return query.join('&');

		},
		goto(hotel){
			let queryStr = this.buildQuery(this.$route.query)
			this.$router.push(`/hotels/${hotel.docId}?${queryStr}`)
		},
		lowestAvailablePrice(hotel){
			// get the lowest price for a hotel
				// console.log(hotel)
				if(hotel && hotel.rooms){

					let filtrd = hotel.rooms
						.filter(room => room.qty_left != 0)
		
					if(filtrd.length > 0){
						// some rooms are left
						let p = filtrd.map(room => room.price_per_night)
					
						return parseInt(p.sort()[p.length - 1])
					}
					else {
						// no rooms are left in hotel
						let prices = hotel.rooms.map(room => room.price_per_night)
						console.log(parseInt(prices.sort()[prices.length - 1]))

						return parseInt('two ', prices.sort()[prices.length - 1])
					}
				}
			 // make sure there are rooms left
		},
		roomsLeft(hotel){
			let rooms_left = hotel.rooms ? 
				hotel.rooms
					.map(room => room.qty_left || room.qty) : [0];

			let cheapest_available_room = hotel.rooms
				.find(room => 
					room.qty_left != 0 && room.price_per_night == this.lowestAvailablePrice(hotel)
				);

			if(cheapest_available_room && cheapest_available_room.qty_left <= 5){
				// console.log('cheapest_av_roo: ', cheapest_available_room.qty_left)
				return cheapest_available_room.qty_left
			}
			else if(!cheapest_available_room){
				// console.log(hotel.name, cheapest_available_room)
				return false
			}
			else return true
		},
		async getReservationsBtwDates(hotelId, checkin, checkout){
			// retrieve reservations made for a hotel where checkout date is >
			// <checkin> and checkin date is < <checkout>
			try {
				
				let docs = await db.collection('bookings')
					.where('hotelId', '==', hotelId)
					.where('checkout_time', '>', checkin)
					.get()
	
				let arr = []
				docs.forEach(doc => arr.push(doc.data()))

				return arr.filter(item => {
					return item.checkout_time > checkin && item.checkin_time < checkout
					&& item.paid && item.status != 'cancelled'
				})

			} catch (error) {
				console.log(error)
			}
		},
		async checkAvailability(hotels){
			// check the availability of rooms for some hotels 
			// within a certain range of dates

			try {
				
				let query = this.$route.query
				let checkin = new Date(query.checkin).getTime()
				let checkout = new Date(query.checkout).getTime()

				let available_hotels = await hotels
				.filter(item => item.rooms)
				.map(async hotel => {
					
					if(hotel.rooms){
						
						let rd = await this.getReservationsBtwDates(hotel.docId, checkin, checkout)
						let hotel_rooms = {}
						hotel.rooms.forEach(rm => hotel_rooms[rm.room_type] = rm)
				
						let m = {}
						Object.keys(hotel_rooms).forEach(cat => {
							
							rd.map(itm => itm.rooms).forEach(t => {
								t[cat] ? m[cat] ? m[cat] += t[cat].qty : m[cat] = t[cat].qty : ''
							})
						})
	
						return {
							...hotel,
							rooms: hotel.rooms.map(itm => {
									return {
										...itm,
										qty_left: itm.qty - (m[itm.room_type] ? m[itm.room_type] : 0)
									}
								})
								
						}
					}
				})
				return await Promise.all(available_hotels)
				
			} catch (error) {
				console.log(error)
			}
		},
		getReviewText(average){
			let av = Math.round((average)) * 2
			
			switch(av){
				
				case 2:
					return 'poor'
				case 4:
					return 'Good'
				case 6:
					return 'Very good'
				case 8:
					return 'Excellent'
				case 10:
					return 'Outstanding'
				default:
					return 'No reviews'
			}
		}
	},
	mounted(){
		this.initialize()

		this.$eventBus.$on('FilterResults', data => {
			this.results = data
		})
		this.$eventBus.$on('Close_Slider', ()=> this.index = null)
		this.$eventBus.$on('Close_Filter', ()=> this.filter_dialog = null)

	}
}

import { mapState } from 'vuex'
import HotelSearch from '@/components/HotelSearch'
import SearchSideBar from '@/components/SearchSideBar'
import Footr from '@/components/footer'
import Subscribe from '@/components/subscribe'
import Fuse from 'fuse.js'
import { sortBy } from 'underscore'
import { firebase, db } from '@/plugins/firebase'
</script>
<style lang="scss">
	.mapview .v-rating .v-icon {
		padding: 0 !important;
	}
</style>
