<template>
  <div>
    <v-container grid-list-sm>
      <v-layout row wrap justify-center>
        <v-flex xs12 sm10 md8>
          <h1>Terms And Conditions</h1>

          <p>&nbsp;</p>
          <p>Hotelsmart.com.ng is a business arm of Audisys Global Ltd. The terms "we", "us", "Company" and "Hotelsmart" refers to Hotelsmart.com.ng, its affiliates and/or their respective suppliers and providers ("Hotelsmart"), and "you" refers to the individual person creating an account with us and/or the customer booking a reservation through us, directly through this website, or indirectly through any of our affiliates through whom we provide services. This website is offered to you and is conditioned on your acceptance without modification of the terms, conditions and notices contained herein as they exist at the time the reservation is made. All use of your account by you and utilization by us of the information related to your account together with reservations you book through us are subject to the following terms, conditions and notices. Your use of this website constitutes your agreement to all such terms, conditions, and notices. If you do not agree with these terms and conditions then you are not authorized to use this website. Hotelsmart may extend the benefit of the arrangements in this agreement to its affiliates which offer an online travel service under the Hotelsmart name in the Nigeria.</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>PERSONAL AND NONCOMMERCIAL USE LIMITATION</p>
          <p>&nbsp;</p>
          <p>This website is for your personal and non-commercial use. The content and information on this website (including, without limitation, price and availability of travel services), as well as the infrastructure used to provide such content and information, is proprietary to Hotelsmart or its suppliers and providers. Accordingly, as a condition of using this website, you agree not to use this website or its contents or information for any commercial or non-personal purpose (direct or indirect). While you may make limited copies of your travel itinerary (and related documents) for travel or services purchased through this website, you agree not to modify, copy, distribute, transmit, display, perform, reproduce, publish, license, create derivative works from, transfer, or sell or resell any information, software, products, or services obtained from this website. In addition, whether or not you have a commercial purpose, you agree not to:</p>
          <p>&nbsp;</p>
          <ul>
          <li>access, monitor or copy any content or information of this website using any robot, spider, scraper or other automated means or any manual process for any purpose without express written permission of Audisys Global Ltd.;</li>
          <li>violate the restrictions in any robot exclusion headers on this website or bypass or circumvent other measures employed to prevent or limit access to this website;</li>
          <li>take any action that imposes, or may impose, in the discretion of Hotelsmart, an unreasonable or disproportionately large load on the Hotelsmart infrastructure; or</li>
          <li>Deeplink to any portion of this website (including, without limitation, the purchase path for any hotel services) for any purpose without express written permission of Hotelsmart</li>
          </ul>
          <p>&nbsp;</p>
          <p>LIABILITY DISCLAIMER</p>
          <p>&nbsp;</p>
          <p>NOTHING IN THIS AGREEMENT SHALL, NOR SHALL BE DEEMED, TO LIMIT OR EXCLUDE OUR LIABILITY FOR OUR FRAUD NOR FOR PERSONAL INJURY OR DEATH CAUSED BY OUR NEGLIGENCE.</p>
          <p>&nbsp;</p>
          <p>THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES PUBLISHED ON THIS WEBSITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. IN PARTICULAR, HOTELSMART AND ITS AFFILIATES DO NOT GUARANTEE THE ACCURACY OF, AND DISCLAIM LIABILITY FOR INACCURACIES RELATING TO HOTEL AND OTHER SUPPLIER PHOTOGRAPHS, HOTEL PROPERTY, CRUISE, AUTOMOBILE AND OTHER PRODUCT DESCRIPTIONS AND LISTS OF HOTEL AMENITIES AND OTHER PRODUCT DESCRIPTIONS DISPLAYED ON THIS WEBSITE, MUCH OF WHICH INFORMATION IS PROVIDED BY THE RESPECTIVE SUPPLIERS. HOTEL RATINGS DISPLAYED ON THIS WEBSITE ARE INTENDED AS ONLY GENERAL GUIDELINES, AND HOTELSMART AND ITS AFFILIATES DO NOT GUARANTEE THE ACCURACY OF THE RATINGS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. HOTELSMART, ITS AFFILIATES, AND/OR THEIR RESPECTIVE SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES ON THIS WEBSITE AT ANY TIME.</p>
          <p>&nbsp;</p>
          <p>HOTELSMART, IT&rsquo;S AFFILIATES, AND/OR THEIR RESPECTIVE SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY OF THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES CONTAINED ON THIS WEBSITE FOR ANY PURPOSE, AND THE INCLUSION OR OFFERING FOR SALE OF ANY PRODUCTS OR SERVICES ON THIS WEBSITE DOES NOT CONSTITUTE ANY ENDORSEMENT OR RECOMMENDATION OF SUCH PRODUCTS OR SERVICES BY HOTELSMART OR ITS AFFILIATES. ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES ARE PROVIDED "AS IS" WITHOUT WARRANTY OF ANY KIND. HOTELSMART, ITS AFFILIATES, AND/OR THEIR RESPECTIVE SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES, AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES, INCLUDING ALL IMPLIED WARRANTIES AND CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE, AND NONINFRINGEMENT.</p>
          <p>&nbsp;</p>
          <p>THE CARRIERS, HOTELS AND OTHER SUPLIERS PROVIDING TRAVEL OR OTHER SERVICES FOR HOTELSMART ARE INDEPENDENT CONTRACTORS AND NOT AGENTS OR EMPLOYEES OF HOTELSMART OR ITS AFFILIATES. HOTELSMART AND ITS AFFILIATES ARE NOT LIABLE FOR THE ACTS, ERRORS, OMISSIONS, REPRESENTATIONS, WARRANTIES, BREACHES OR NEGLIGENCE OF ANY SUCH SUPPLIERS OR FOR ANY PERSONAL INJURIES, DEATH, PROPERTY DAMAGE, OR OTHER DAMAGES OR EXPENSES RESULTING THEREFROM. HOTELSMART AND ITS AFFILIATES HAVE NO LIABILITY AND WILL MAKE NO REFUND IN THE EVENT OF ANY DELAY, CANCELLATION, OVERBOOKING, STRIKE, FORCE MAJEURE OR OTHER CAUSES BEYOND THEIR DIRECT CONTROL, AND THEY HAVE NO RESPONSIBILITY FOR ANY ADDITIONAL EXPENSE, OMISSIONS, DELAYS OR ACTS OF ANY GOVERNMENT OR AUTHORITY.</p>
          <p>&nbsp;</p>
          <p>IN NO EVENT SHALL HOTELSMART, ITS AFFILIATES, AND/OR THEIR RESPECTIVE SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, OR CONSEQUENTIAL DAMAGES ARISING OUT OF, OR IN ANY WAY CONNECTED WITH, THE USE OF THIS WEBSITE OR WITH THE DELAY OR INABILITY TO USE THIS WEBSITE, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES OBTAINED THROUGH THIS WEBSITE, OR OTHERWISE ARISING OUT OF THE USE OF THIS WEBSITE, WHETHER BASED ON CONTRACT, TORT, STRICT LIABILITY, OR OTHERWISE, EVEN IF HOTELSMART, ITS AFFILIATES, AND/OR THEIR RESPECTIVE SUPPLIERS HAVE BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU.</p>
          <p>&nbsp;</p>
          <p>INDEMNIFICATION</p>
          <p>&nbsp;</p>
          <p>You agree to defend and indemnify Hotelsmart, its affiliates, and/or their respective suppliers and any of their officers, directors, employees and agents from and against any claims, causes of action, demands, recoveries, losses, damages, fines, penalties or other costs or expenses of any kind or nature including but not limited to reasonable legal and accounting fees, brought by:</p>
          <p>&nbsp;</p>
          <ul>
          <li>You or on your behalf in excess of the liability described above; or</li>
          <li>Third parties as a result of</li>
          </ul>
          <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your breach of this agreement or the documents referenced herein;</p>
          <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your violation of any law or the rights of a third party; or</p>
          <p>-&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Your use of this website.</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>NO UNLAWFUL OR PROHIBITED USE</p>
          <p>&nbsp;</p>
          <p>As a condition of your use of this website, you warrant that you will not use this website for any purpose that is unlawful or prohibited by these terms, conditions, and notices.</p>
          <p>&nbsp;</p>
          <p>LINKS TO THIRD-PARTY SITES</p>
          <p>&nbsp;</p>
          <p>This website may contain hyperlinks to websites operated by parties other than Hotelsmart. Such hyperlinks are provided for your reference only. Hotelsmart does not control such websites and is not responsible for their contents or your use of them. Hotelsmart's inclusion of hyperlinks to such websites does not imply any endorsement of the material on such websites or any association with their operators.</p>
          <p>&nbsp;</p>
          <p>SOFTWARE AVAILABLE ON THIS WEBSITE</p>
          <p>&nbsp;</p>
          <p>Any software that is made available to download from this website ("Software") is the copyrighted work of Hotelsmart, its affiliates, and/or their suppliers. Your use of the Software is governed by the terms of the end user license agreement, if any, which accompanies, or is included with, the Software ("License Agreement"). You may not install or use any Software that is accompanied by or includes a License Agreement unless you first agree to the License Agreement terms.</p>
          <p>&nbsp;</p>
          <p>For any Software not accompanied by a License Agreement, Audisys Global Ltd. hereby grants to you, the user, a personal, non-transferable license to use the Software for viewing and otherwise using this website in accordance with these terms and conditions and for no other purpose.</p>
          <p>&nbsp;</p>
          <p>Please note that all Software, including, without limitation, all HTML code and Active X controls contained on this website, is owned by Audisys Global Ltd, its affiliates, and/or their suppliers, and is protected by copyright laws and international treaty provisions. Any reproduction or redistribution of the Software is expressly prohibited by law, and may result in severe civil and criminal penalties. Violators will be prosecuted to the maximum extent possible.</p>
          <p>&nbsp;</p>
          <p>WITHOUT LIMITING THE FOREGOING, COPYING OR REPRODUCTION OF THE SOFTWARE TO ANY OTHER SERVER OR LOCATION FOR FURTHER REPRODUCTION OR REDISTRIBUTION IS EXPRESSLY PROHIBITED. THE SOFTWARE IS WARRANTEED, IF AT ALL, ONLY ACCORDING TO THE TERMS OF THE LICENSE AGREEMENT.</p>
          <p>&nbsp;</p>
          <p>You acknowledge that the Software and any accompanying documentation and/or technical information are subject to applicable export control laws and regulations of the USA. You agree not to export or re-export the Software, directly or indirectly, to any countries that are subject to USA export restrictions.</p>
          <p>Conditions of use for discount codes</p>
          <p>Discount codes ("Coupons") may be applied to pre-paid hotel bookings, excluding bookings at non-participating hotels whose list will be made available along with each specific Coupon.</p>
          <p>Participating hotels are subject to change at any time.</p>
          <p>Coupons with a discount in a specific currency (e.g. 10 Naira off) cannot be used for bookings paid for in a different currency.</p>
          <p>If the discount is based on a percentage (e.g. 10% off), in case of booking of multiple rooms (i.e., when you books 2 or more rooms in the same booking) the discount only applies to the price of the first room included in the booking request.</p>
          <p>For specific restrictions on use of Coupons please see the relevant Coupon communication.</p>
          <p>Only one Coupon per booking may be used. Usual booking terms and conditions apply and all bookings are subject to availability. Coupons cannot be sold or transferred.</p>
          <p>&nbsp;</p>
          <p>All taxes, fees, charges, and surcharges are applicable to reservations made using Coupons. These charges must be paid at the time of the reservation or directly at the hotel and are your responsibility. Coupons have value only when redeemed in accordance with all terms and conditions of the offer. Coupons cannot be returned for cash or its equivalent.</p>
          <p>&nbsp;</p>
          <p>Single-use Coupons will be deemed fully used once a qualifying reservation has been made and will not be returned or replaced and there will be no refund if a Coupon is redeemed in part. Multiple-use Coupons will be deemed fully used in accordance with the restrictions set out in the individual Coupon terms and conditions.</p>
          <p>&nbsp;</p>
          <p>If the travel stay dates are changed after the use of a Coupon, then that Coupon will not apply to the changed travel schedule. Coupons may not be used for any previously purchased reservation.</p>
          <p>Coupons cannot be used by travel agencies affiliated to the Hotelsmart travel agency program.</p>
          <p>Hotelsmart reserves the right to vary these conditions of use or to withdraw Coupons at any time.</p>
          <p>&nbsp;</p>
          <p>TERMS, CONDITIONS AND WARRANTIES</p>
          <p>&nbsp;</p>
          <p>Tax Recovery Charge</p>
          <p>&nbsp;</p>
          <p>The tax charge on Hotelsmart Special Internet Rate hotel transactions is a recovery of all applicable transaction taxes (e.g. sales and use, occupancy, room tax, excise tax, value added tax, etc.) that Hotelsmart pays to the vendors (e.g. hotels, etc.) in connection with your travel arrangements.</p>
          <p>&nbsp;</p>
          <p>Hotelsmart is not the vendor collecting and remitting said tax to the applicable tax authorities. The vendors bill all applicable taxes to Hotelsmart and Hotelsmart remits such tax directly to the vendor. Hotelsmart is not a co-vendor associated with the vendor with whom we book or reserve our customer's hotel arrangements.</p>
          <p>&nbsp;</p>
          <p>Taxability and the appropriate tax rate vary greatly by location. Hotelsmart's actual tax cost paid to the vendor may vary from the tax recovery charge, depending upon the rates, taxability, etc. in effect at the time of the actual use of the hotel, automobile, etc. by our customer.</p>
          <p>&nbsp;</p>
          <p>Service Fee</p>
          <p>&nbsp;</p>
          <p>We retain service fees as compensation in servicing your hotel reservation. Service fees vary based on the amount and type of hotel reservation.</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>PAY NOW ONLINE OR PAY LATER AT HOTEL DETAILS</p>
          <p>&nbsp;</p>
          <p>With certain hotels, you may be presented with the option to pay online immediately or to pay later at the hotel itself. If you select the option to pay online immediately, you will be charged the amount in the currency that you select immediately.</p>
          <p>&nbsp;</p>
          <p>If you select to pay later at the hotel itself, the hotel will charge you in the local currency of the relevant hotel at the time of your stay. Tax rates and foreign exchange rates could change in the time between booking and stay. You shall provide the details of your payment card and the supplier or Hotelsmart will often have to verify: (i) the validity of the payment card (through a charge of a nominal value that is either refunded within a few days or deducted from the final payment due to the supplier) and, (ii) the availability of funds on the payment card (to be confirmed by the bank issuing your credit card). Hotelsmart reserves the right to cancel your booking if full payment is not received in a timely fashion (please see Supplier Rules and Restrictions).</p>
          <p>Many bank and credit card companies charge their account holders a transaction fee when the card issuer and the merchant location (as defined by the card brand (e.g. Visa, MasterCard, American Express) are in different countries. The currency exchange rate, if applicable, and any transaction fee are determined solely by the bank or other agency processing the transaction. These fees may be applied by the card issuer as a charge to the cardholders account. This means the amount listed on your credit or debit card statement may be a different figure than the figure shown on the billing summary page for a reservation booked on this Website. If you have any questions about these fees or any exchange rate applied to your booking, please contact your bank.</p>
          <p>&nbsp;</p>
          <p>PRICES</p>
          <p>&nbsp;</p>
          <p>The price of the hotel services will be as quoted on the website from time to time, except in cases of obvious error. Prices are liable to change at any time, but changes will not affect bookings already accepted.&nbsp; Despite Hotelsmart&rsquo;s best efforts, some of the hotel services listed on the website may be incorrectly priced. HOTELSMART EXPRESSLY RESERVES THE RIGHT TO CORRECT ANY PRICING ERRORS ON OUR WEBSITE AND/OR ON PENDING RESERVATIONS MADE UNDER AN INCORRECT PRICE. IN SUCH EVENT, IF AVAILABLE, WE WILL OFFER YOU THE OPPORTUNITY TO KEEP YOUR PENDING RESERVATION AT THE CORRECT PRICE OR WE WILL CANCEL YOUR RESERVATION WITHOUT PENALTY. Hotelsmart is under no obligation to provide hotel services to you at an incorrect (lower) price, even after you have been sent confirmation of your booking.</p>
          <p>&nbsp;</p>
          <p>You acknowledge that Hotelsmart pre-negotiates certain room rates with hotel suppliers to facilitate the booking of reservations. You also acknowledge that Hotelsmart provides you services to facilitate such booking of reservations for a consideration (the "facilitation fee"). The room rate displayed on the Website is a combination of the pre-negotiated room rate for rooms reserved on your behalf by Hotelsmart, and the facilitation fee retained by Hotelsmart for their services. You authorize Hotelsmart to book reservations for the total reservation price, which includes the room rate displayed on the Website, plus tax recovery charges, service fees, and where applicable, taxes on the Hotelsmart services. You agree that your credit card will be charged by Hotelsmart for the total reservation price. Upon submitting your reservation request you authorize Hotelsmart, to facilitate hotel reservations on your behalf, including making payment arrangements with hotel suppliers.</p>
          <p>&nbsp;</p>
          <p>CHANGES OR CANCELLATIONS</p>
          <p>&nbsp;</p>
          <p>You can change or cancel your lodging booking either online under your Reservations when signed into your Hotelsmart account, by emailing our customer services at help@hotelsmart.com.ng. You can change your guest name, bed type, smoking preference, special requests, accessibility options, room type, number of guests and travel dates at no charge to you by Hotelsmart. Lodging suppliers may impose other change and/or cancellation fees.&nbsp; Charges vary by reservation, so please review your confirmation email for details.</p>
          <p>You agree to pay any supplier required cancellation or change fees that you incur. In limited cases, some hotels do not permit changes to or cancellations of reservations after they are made, as indicated in the rules and restrictions for the hotel reservation. You agree to abide by the terms and conditions imposed with respect to your prepaid hotel reservations.</p>
          <p>You do not have an automatic right to cancellation unless such rights are provided by hotels under their specific rules and restrictions which are provided to you prior to booking. In the event that a hotel is unable to honour your booking, Hotelsmart will not be liable for any cost incurred due to relocation.</p>
          <p>If you do not show for the first night of your reservation but plan to check-in for subsequent nights in the reservation, you must confirm the reservation with Hotelsmart no later than the original date of check-in to prevent cancellation of the whole booking. If you do not confirm the booking changes with Hotelsmart the whole booking may be cancelled and refunds will only be due to you in line with the Rules and Restrictions of the particular hotel, as notified in the booking process.</p>
          <p>These terms and conditions may not be changed by any unauthorized person, including employees of Hotelsmart.</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>MODIFICATION OF THESE TERMS AND CONDITIONS</p>
          <p>&nbsp;</p>
          <p>Hotelsmart reserves the right to change the terms, conditions, and notices under which this website is offered and you agree to accept and be bound by those terms, conditions, and notices that are in effect at the time of your use of this website and its facilities.</p>
          <p>&nbsp;</p>
          <p>GENERAL</p>
          <p>&nbsp;</p>
          <p>This agreement is governed by the laws of Nigeria. Use of this website is unauthorized in any jurisdiction that does not give effect to all provisions of these terms and conditions, including, without limitation, this paragraph.</p>
          <p>&nbsp;</p>
          <p>You agree that no joint venture, partnership, employment, or agency relationship exists between you and Hotelsmart as a result of this agreement or use of this website.</p>
          <p>&nbsp;</p>
          <p>Hotelsmart's performance of this agreement is subject to existing laws and legal process, and nothing contained in this agreement is in derogation of Hotelsmart's right to comply with law enforcement requests or requirements relating to your use of this website or information provided to or gathered by Hotelsmart with respect to such use.</p>
          <p>&nbsp;</p>
          <p>If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and agreement shall continue in effect.</p>
          <p>&nbsp;</p>
          <p>This Agreement (and any other terms and conditions referenced herein) constitutes the entire agreement between you and Hotelsmart with respect to this website and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral, or written, between the customer and Hotelsmart with respect to this website. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.</p>
          <p>&nbsp;</p>
          <p>Fictitious names of companies, products, people, characters, and/or data mentioned herein are not intended to represent any real individual, company, product, or event.</p>
          <p>&nbsp;</p>
          <p>Any rights not expressly granted herein are reserved.</p>
          <p>&nbsp;</p>
          <p>USE OF HOTELSMART WEBSITE</p>
          <p>&nbsp;</p>
          <p>The Hotelsmart website is provided solely to assist customers in determining the availability of hotel-related goods and services and to make legitimate reservations or otherwise transact business with suppliers, and for no other purposes. You warrant that you are at least 18 years of age and possess the legal authority to enter into this agreement and to use this website in accordance with all terms and conditions herein. You agree to be financially responsible for all of your use of this website (as well as for use of your account by others, including, without limitation, minors living with you). You agree to supervise all usage of this website by minors under your name or account. You also warrant that all information supplied by you or members of your household in using this website is true and accurate.</p>
          <p>Without limitation, any speculative, false, or fraudulent reservation or any reservation in anticipation of demand is prohibited. You agree that the travel services reservations facilities of this website shall be used only to make legitimate reservations or purchases for you or for another person for whom you are legally authorized to act. You understand that overuse, suspicious activity, signs of fraud, or abuse of the travel services reservation facilities of this website may result in Hotelsmart cancelling any bookings associated with your name, email address, or account, and closing any associated Hotelsmart accounts. If you have conducted any fraudulent activity, Hotelsmart reserves the right to take any necessary legal action and you may be liable for monetary losses to Hotelsmart, including litigation costs and damages.&nbsp; To contest the cancellation of a booking, or freezing or closure of an account, please contact customer service.</p>
          <p>&nbsp;</p>
          <p>SUPPLIER RULES AND RESTRICTIONS</p>
          <p>&nbsp;</p>
          <p>Separate terms and conditions will apply to your reservation and purchase of travel-related goods and services that you select. Please read these terms and conditions carefully. You agree to abide by the terms or conditions of purchase imposed by any supplier with whom you elect to deal, including, but not limited to, payment of all amounts when due and compliance with the supplier's rules and restrictions regarding availability and use of fares, products, or services. We reserve the right to cancel your booking if full payment is not received in a timely fashion. You acknowledge that some third-party providers offering certain services and/or activities may require you to sign their liability waiver prior to participating in the service and/or activity they offer. You understand that any violation of any such supplier's conditions of purchase may result in cancellation of your reservation(s) or purchase, in your being denied access to any flights, hotels, or automobiles, in your forfeiting any monies paid for such reservation(s) or purchase, and in Hotelsmart debiting your account for any costs Hotelsmart incurs as a result of such violation. You shall be completely responsible for all charges, fees, duties, taxes, and assessments arising out of the use of this website.</p>
          <p>&nbsp;</p>
          <p>CURRENCY CONVERTER</p>
          <p>&nbsp;</p>
          <p>Currency rates are based on various publicly available sources and should be used as guidelines only. Rates are not verified as accurate, and actual rates may vary. Currency quotes are not updated every day. Check the date on the Currency Converter for the day that currency was last updated. The information supplied by this application is believed to be accurate, but Hotelsmart, its affiliates, and/or their suppliers do not warrant or guarantee such accuracy. When using this information for any financial purpose, Hotelsmart advises the customer to consult a qualified professional to verify the accuracy of the currency rates. Hotelsmart, its affiliates, and/or their suppliers do not authorize the use of this information for any purpose other than personal use and prohibit to the maximum extent allowable the resale, redistribution, and use of this information for commercial purposes.</p>
          <p>&nbsp;</p>
          <p>USER REVIEWS, COMMENTS, PHOTOS AND CONTENT</p>
          <p>&nbsp;</p>
          <p>Hotelsmart may display reviews, comments, photos and other material in relation to hotels as well as other holiday and travel experiences ("Reviews"). Hotelsmart may also offer a facility allowing users of this website to post Reviews ("User Reviews"). You disclaim any proprietary rights you may have in such User Reviews, and the same may be freely used, copied, distributed and made available in any medium and in any form by Hotelsmart or its affiliates without your permission. Where this posting facility is offered, you expressly agree only to submit User Reviews that are appropriate to that service, complying with these terms and conditions and also any accompanying guidelines made available on this website. You grant Hotelsmart and its subsidiaries and corporate affiliates (collectively, the "Hotelsmart Companies") and the affiliated, co-branded and/or linked website partners through whom we provide service (collectively, the "Hotelsmart Affiliates"), a nonexclusive, royalty-free, perpetual, transferable, irrevocable and fully sub-licensable right to (a) use, reproduce, modify, adapt, translate, distribute, publish, create derivative works from and publicly display and perform such User Reviews throughout the world in any media, now known or hereafter devised; and (b) use the name that you submit in connection with such User Reviews. You acknowledge that the Hotelsmart Companies may choose to provide attribution of your User Reviews (for example, listing your name and hometown on a hotel review that you submit) at our discretion, and that such User Reviews may be shared with our supplier partners. You further grant the Hotelsmart Companies the right to pursue at law any person or entity that violates your or the Hotelsmart Companies' rights in the User Reviews by a breach of these Terms of Use. You acknowledge and agree that User Reviews are non-confidential and non-proprietary. You expressly waive any and all &lsquo;moral rights&rsquo; (including rights of attribution or integrity) that may subsist in your User Reviews and agree that you have no objection to the publication, use, modification, deletion or exploitation of your User Reviews by us, the Hotelsmart Affiliates or any of our partners or licensees.</p>
          <p>&nbsp;</p>
          <p>Specifically, by using such a service, you represent and warrant that:</p>
          <p>&nbsp;</p>
          <ul>
          <li>you own or otherwise control all of the rights to the User Reviews that you post;</li>
          <li>as at the date of posting, the User Reviews submitted are accurate;</li>
          <li>User Reviews that you supply do not breach any Hotelsmart terms and conditions of use, guidelines or policies (as applicable from time to time);</li>
          <li>you will not intentionally or recklessly post information that could cause injury or offend any person or their business and in particular: you will not post any comments, information or material that is untrue; malicious; defamatory; abusive; obscene or could reasonably be taken as such;</li>
          <li>you will not act in any way to deceive or mislead and will not engage in or encourage any fraudulent or illegal activity;</li>
          <li>you will not to post or distribute any information or material that is owned by any third party without the express written consent of such party to do so;</li>
          <li>All photos submitted are subject to our photo submission guidelines</li>
          </ul>
          <p>&nbsp;</p>
          <p>We draw your attention to the fact that the reviews displayed on this web page originate from verified users who stayed in a hotel booked on Hotelsmart. Hotelsmart claims no ownership, affiliation with, or endorsement of any photos that are submitted by end users through our sites.</p>
          <p>&nbsp;</p>
          <p>Hotelsmart does not edit Reviews or User Reviews submitted and to the fullest extent permitted by law will not be in any way responsible or liable for such Reviews or User Reviews or their subsequent posting, use or distribution. In addition, Hotelsmart does not verify, endorse or approve the views or comments expressed in any Reviews or User Reviews which are the personal views of the individuals submitting them. Any decisions made on the basis of reviews or comments appearing on the service are taken at your own risk. From time to time Hotelsmart may offer customers incentives to leave User Reviews (i.e. discount coupon, entry into prize draws etc.). It is important to us that User Reviews are impartial and honest; these incentives will be available to customers regardless of whether the User Review is positive or negative.</p>
          <p>&nbsp;</p>
          <p>Hotelsmart reserves the right for any reason in its sole discretion to refuse to post or remove (without notice) any Reviews or User Reviews. Amongst other things, this includes situations where Hotelsmart receives a third party complaint and/or has reason to believe that there has been a breach of these terms and conditions.</p>
          <p>&nbsp;</p>
          <p>If you have a complaint about any reviews, comments or material posted on this website you should put such complaint in writing (giving as much information as possible about the circumstances) to: support@hotelsmart.com.ng</p>
          <p>&nbsp;</p>
          <p>Note that Hotelsmart reserves the right to ask for further information in relation to nature of such complaint and, if necessary, may ask you to verify your identify.</p>
          <p>&nbsp;</p>
          <p>Photo Submission Guidelines</p>
          <p>&nbsp;</p>
          <p>Any photos you submit must be:</p>
          <p>&nbsp;</p>
          <ul>
          <li>On topic &ndash; All photos must be relevant to accommodation, restaurant, location, or general travel experiences.</li>
          <li>Community/family friendly &ndash;</li>
          </ul>
          <p>&Oslash;&nbsp; Do not submit any photos or materials that are illegal, obscene, pornographic, profane, vulgar, offensive or insulting.</p>
          <p>&Oslash;&nbsp; Do not submit photos or materials that invade the privacy or violate any personal right of any person or entity.</p>
          <p>&Oslash;&nbsp; Do not submit photos or information about children or any third parties without their consent (or their parent&rsquo;s consent in the case of a child under 13 years of age).</p>
          <p>&Oslash;&nbsp; Children under 13 may not submit photos or other materials.</p>
          <ul>
          <li>Original &ndash; You may only submit your own photos. Do not submit photos from any other source (personal or commercial).&nbsp; Do not submit photos that infringe the copyright, trademark, or other property right of any third party.</li>
          <li>Non-commercial &ndash; Do not submit photos that include logos, branding, promotional material, or any other content intended for commercial purposes.</li>
          <li>No harmful files &ndash; Do not submit photos that contain viruses or other harmful code that is either intended or may result in damage to the computers and systems of Hotelsmart and/or those using it.</li>
          <li>File properties: No individual photo may exceed 5MB file size. Photos submitted must be either .jpg, .bmp, .gif or .png format.</li>
          <li>NOTICE OF INFRINGING MATERIAL</li>
          <li>If you believe in good faith that materials hosted by us infringe your copyright, you (or your agent) may send us a written notice that includes the following information. Please note that we will not process your complaint if it is not properly filled out or is incomplete. Any misrepresentations in your notice regarding whether content or activity is infringing may expose you to liability for damages.</li>
          <li>1. A clear identification of the copyrighted work you claim was infringed.</li>
          <li>2. A clear identification of the material your claim is infringing is on the Website, such as a link to the infringing material.</li>
          <li>3. Your address, email address and telephone number.</li>
          <li>4. A statement that you have a "good faith belief that the material that is claimed as copyright infringement is not authorized by the copyright owner, its agent, or the law."</li>
          <li>5. A statement that "the information in the notification is accurate, and under penalty of perjury, the complaining party is authorized to act on behalf of the owner of an exclusive right that is allegedly infringed."</li>
          <li>6. A signature by the person authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.</li>
          </ul>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>&nbsp;</p>
          <p>ACCOUNT TERMINATION</p>
          <p>&nbsp;</p>
          <p>In accordance with the Digital Millennium Copyright Act ("DMCA") and other applicable law, Hotelsmart has adopted a policy of terminating, in appropriate circumstances and at Hotelsmart&rsquo;s sole discretion, subscribers or account holders who are deemed to be repeat infringers. Hotelsmart may also at its sole discretion limit access to the Site and/or terminate the accounts of any users who infringe any intellectual property rights of others, whether or not there is any repeat infringement. If you believe that an account holder or subscriber is a repeat infringer, please provide information sufficient for us to verify that the account holder or subscriber is a repeat infringer when filing your notice.</p>
          <p>If we fail, at any time during the term of these Terms of Use, to insist upon strict performance of any of your obligations under these Terms of Use, or if we fail to exercise any of the rights or remedies to which we are entitled under these Terms of Use, this shall not constitute a waiver of such rights or remedies and shall not relieve you from compliance with such obligations. A waiver by us of any default shall not constitute a waiver of any subsequent default. No waiver by us of any of these Terms of Use shall be effective unless it is expressly stated to be a waiver and is communicated to you in writing.</p>
          <p>&nbsp;</p>
        </v-flex>
      </v-layout>
    </v-container>

    <!-- SUBSCRIBE -->
		<app-subscribe/>

		<!-- FOOTER -->
		<app-footer/>
  </div>
</template>
<script>
export default {
  head(){
    return {
      title: 'Terms of Service - Hotel Smart'
    }
  },
  components: {
    AppFooter,
    AppSubscribe
  }
}
import AppFooter from '@/components/footer'
import AppSubscribe from '@/components/subscribe'
</script>
