<template>
  <div>
    <top-navigation :breadcrumbs_items="breadcrumbs_items">
			<template v-slot:right>
        <v-btn flat color="primary"
					class="text-capitalize hidden-xs-only" 
					to="/account/smart_attendant/shop/orders">
					My Purchases
				</v-btn>
      </template>
		</top-navigation>
    <v-container grid-list-xs v-if="showUi">
      <v-layout row wrap justify-center justify-space-around>
        <v-flex xs12 sm9>
          <v-card height="400">
            <v-toolbar flat color="white">
							<v-toolbar-title class="hidden-xs-only">My Cart</v-toolbar-title>
							<v-divider
								class="mx-2 hidden-xs-only"
								inset
								vertical
							></v-divider>
							<v-spacer class="hidden-xs-only"></v-spacer>
							<v-btn color="primary" class="mb-2 text-capitalize" dark flat 
								@click="$router.push('/account/smart_attendant/shop')">
								<v-icon class="mr-3">arrow_back</v-icon>
								Continue Shopping</v-btn>
							<v-btn color="primary" dark 
								class="mb-2 text-capitalize hidden-xs-only"
								@click="pay_dialog = true"
								v-if="grandTotal > 0"
							>
								Proceed to Checkout
								<v-icon class="ml-3">arrow_forward</v-icon>
							</v-btn>
						</v-toolbar>
						<v-data-table
							:headers="headers"
							:items="items"
						>
							<template v-slot:items="props">
								<td>
									<v-avatar
										size="50"
										color="grey"
										tile
									>
										<img :src="props.item.imgSrc || '/no-image.png'" alt="item image">
									</v-avatar>
								</td>
								<td>{{ props.item.name }}</td>
								<td class="text-xs-left">{{ props.item.price }}</td>
								<td class="text-xs-left">{{ props.item.total }}</td>
								<td class="text-xs-right">
									<v-select
										:items="qtyAvailable(props.item)"
										:value="props.item.qty_selected" dense
										label="qty" @change="editItem($event, props.item)"
									></v-select>
								</td>
								<td class="text-xs-right">
									<v-icon
										small color="red"
										@click="deleteItem(props.item)"
									>
										delete
									</v-icon>
								</td>
							</template>
							<template v-slot:no-data>
								<v-subheader>Your cart is empty</v-subheader>
								<v-btn color="primary" @click="$router.push('/account/smart_attendant/shop')">Continue Shopping</v-btn>
							</template>
						</v-data-table>
						<v-spacer></v-spacer>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn flat class=" text-xs-right font-weight-bold title">
								Grand Total: &#x20A6; {{grandTotal}}
							</v-btn>
						</v-card-actions>
						<v-card-actions>
							<v-spacer></v-spacer>
							<v-btn color="primary" dark 
								class="ml-5 mb-2 text-capitalize hidden-sm-and-up"
								@click="pay_dialog = true"
								v-if="grandTotal > 0"
								depressed
							>
								Proceed to Checkout
								<v-icon class="ml-3">arrow_forward</v-icon>
							</v-btn>
						</v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

		<v-layout row justify-center v-if="showUi">
			<v-dialog v-model="pay_dialog" max-width="300">
				<v-card>
					<v-card-title class="headline">Pay for your items</v-card-title>
					<v-card-text>Your items will be delivered to you after payment</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="primary" flat @click.native="pay_dialog = false">Cancel</v-btn>
						<v-btn color="primary" flat @click.native="pay_dialog = false">
							<client-only placeholder="Loading...">
								<paystack
										:amount="grandTotal * 100"
										:email="pay.customer_email"
										:paystackkey="pay.paystackkey"
										:reference="txt_reference"
										:subaccount="pay.subaccount"
										:metadata="pay.metadata"
										:transaction_charge="100"
										bearer="subaccount"
										:callback="onpayCallback"
										:close="close"
										:embed="false"
								>
									
									Make Payment
								</paystack>
							</client-only>
						</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>

		<v-layout row justify-center v-if="showUi">
			<v-dialog v-model="success_dialog" persistent max-width="290">
				<v-card>
					<v-card-title class="headline">Payment Successfull</v-card-title>
					<v-card-text>Your order is on its way!</v-card-text>
					<v-card-actions>
						<v-spacer></v-spacer>
						<v-btn color="primary" flat @click.native="success_dialog = false">Okay</v-btn>
					</v-card-actions>
				</v-card>
			</v-dialog>
		</v-layout>

  </div>
</template>
<script>
export default {
  layout: 'account',
  data: () => ({
		breadcrumbs_items: [
			{
				text: 'Account',
				disabled: false,
				exact: true,
				to: '/account'
			},
			{
				text: 'Smart Attendant',
				disabled: false,
				exact: true,
				to: '/account/smart_attendant'
			},
			{
				text: 'Shop',
				disabled: false,
				exact: true,
				to: '/account/smart_attendant/shop'
			},
			{
				text: 'checkout',
				disabled: true,
				exact: true,
				to: '/account/smart_attendant/shop/checkout'
			}
		],
		showUi: false,
		dialog: false,
		headers: [
			{
				text: 'Image',
				align: 'left',
				sortable: false,
				value: 'image'
			},
			{
				text: 'PRODUCT NAME',
				align: 'left',
				sortable: true,
				value: 'name'
			},
			{ text: 'UNIT PRICE', value: 'price' },
			{ text: 'TOTAL', value: 'total' },
			{ text: 'QUANTITY', value: 'qty_selected', sortable: false },
			{ text: 'REMOVE', value: 'remove', sortable: false }
		],
		items: [],
		pay_dialog: false,
		success_dialog: false,
		txt_reference: ''
	}),
	watch: {
		dialog (val) {
			val || this.close()
		}
	},
  computed: {
		...mapState([
			'auth',
			'cart',
			'smart_hotel'
		]),
		...mapGetters([
			'getCart',
		]),
		grandTotal(){
			return this.items.reduce(function(prev, curr){
				return parseInt(prev) + parseInt(curr.total)
			}, 0)
		},
		pay(){
			return {
				customer_email: this.auth.user.email,
				paystackkey: 'pk_live_86473306ed74ede0daaba3be6bd6dc785245c414',
				subaccount: this.smart_hotel.bank_details ? this.smart_hotel.bank_details.subaccount_code : false,
				metadata: {
					custom_fields: [
						{
							display_name: 'Name',
							variable_name: 'name',
							value: this.auth.displayName
						}
					]
				}
			}
		},
		
	},
	created () {
		if(this.smart_hotel.name){
			this.initialize()
		}
		 
		this.txt_reference = this.getReference()
	},

	methods: {
		initialize () {
			this.items = []

			this.items = this.getCart.map(item => {
				if(item.qty > 0){

					return {
						...item,
						total: item.price,
						qty_selected: 1
					}
				}
				else return []
			})

			this.showUi = true
			// console.log(this.items, this.getCart)
		},
		qtyAvailable(item){
			// console.log(item)
			let arr = []
			for(let i=0; i<item.qty; i++){
				arr.push(i+1)
			}
			return arr
		},
		editItem (event, item) {
		
			let editedIndex = this.items.indexOf(item)
			let editedItem = Object.assign({}, item)
			Object.assign(this.items[editedIndex], {
				...item,
				qty_selected: event,
				total: item.price * event
			})
		},

		deleteItem (item) {
			const index = this.items.indexOf(item)
			let remove = confirm('Are you sure you want to remove this item?')

			if(remove){
				this.items.splice(index, 1)
				this.$store.dispatch('removeFromCart', item)
			}

		},
		onpayCallback: function(response){
			// console.log(response)
			this.savePayment(response)
		},
		close: function(){
			// console.log("Payment closed")
			this.txt_reference = this.getReference()
		},
		getReference(){
			let text = "";
			let possible = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";

			for( let i=0; i < 10; i++ )
				text += possible.charAt(Math.floor(Math.random() * possible.length));

			return text;
		},
		savePayment(ref){
			// save payment in the name of the hotel
			// send email reciept to customer
			// send notification to hotel about payment
			// clear cart

			try {
				
				// console.log({ref})
				let batch = db.batch()
	
				let storePurchaseRef = db.collection('storePurchase').doc()
				batch.set(storePurchaseRef, {
					ref: ref.reference,
					timestamp: Date.now(),
					date_created: firebase.firestore.FieldValue.serverTimestamp(),
					hotelRef: this.smart_hotel.docId,
					buyer: {
						name: this.smart_hotel.booking_details.booking_for.customer_name, // this.auth.user.displayName,
            phone: this.smart_hotel.booking_details.booking_for.customer_phone,
						email: this.smart_hotel.booking_details.booking_for.customer_email,
						uid: this.auth.user.uid
					},
					items: this.items,
					amount: this.grandTotal,
					transaction: ref.transaction
				})
	
				let notificationRef = db.collection('notifications').doc()
				batch.set(notificationRef, {
					date_created: firebase.firestore.FieldValue.serverTimestamp(),
					from: {
						name: this.smart_hotel.booking_details.booking_for.customer_name, // this.auth.user.displayName,
            phone: this.smart_hotel.booking_details.booking_for.customer_phone,
						uid: this.auth.user.uid
					},
					to: this.smart_hotel.docId,
					type: 'store_purchase',
					data: {
						customer_name: this.smart_hotel.booking_details.booking_for.customer_name, // this.auth.user.displayName,
            customer_phone: this.smart_hotel.booking_details.booking_for.customer_phone,
						customer_email: this.smart_hotel.booking_details.booking_for.customer_email,
						customer_room: 'customer_room',
						items: this.items,
						message: 'Hi, I just purchased some items from your store. Kindly supply the items to my room. Thanks'
					}
				})

				let ordersRef = db.collection('orders').doc()
          batch.set(ordersRef, {
            date_created: firebase.firestore.FieldValue.serverTimestamp(),
            requester: {
              name: this.smart_hotel.booking_details.booking_for.customer_name,
              phone: this.smart_hotel.booking_details.booking_for.customer_phone,
              uid: this.auth.user.uid,
              room: 'customer_room'
            },
            hotelId: this.smart_hotel.docId,
            order_type: 'shop-purchase',
            docId: ordersRef.id,
            request: {
              message: 'Hi, I just purchased some items from your store. Kindly supply the items to my room. Thanks',
              subject: 'Send my items'
            },
            status: 'pending'
          })

				this.items.forEach(item => {

					let productRef = db.collection('hotels').doc(this.smart_hotel.docId)
					.collection('shopItems').doc(item.productId)
					batch.update(productRef, {
						qty: item.qty - item.qty_selected,
						last_updated: firebase.firestore.FieldValue.serverTimestamp(),
						purchase_freq: parseInt(item.purchase_freq || 0) + 1
					})
				})


				batch.commit().then(() => {
					this.$store.dispatch('clearCart')
					this.success_dialog = true
					this.initialize()
					// console.log('dispatched')
				}).catch(err => console.log(err))
			} catch (error) {
				console.log(error)
			}
		}
	},
  components: {
		TopNavigation,
		paystack: () => import('vue-paystack'),
  }
}
import { mapState, mapGetters } from 'vuex';
import TopNavigation from '@/components/TopNavigation'
import { firebase, db } from '@/plugins/firebase'
</script>
