<template>
  <div>
    <top-navigation :breadcrumbs_items="breadcrumbs_items">
      <!-- <template v-slot:center>
        <v-btn flat color="primary" to="shop/orders">My Purchases</v-btn>
      </template> -->
      <template v-slot:right>

        <v-menu
          v-model="cart_menu"
          :close-on-content-click="false"
          :nudge-width="200"
          
        >
          <v-badge right overlap slot="activator">
            <template v-slot:badge>
              <span>{{getCart.length}}</span>
            </template>
            <v-icon
              large
              color="grey lighten-1"
            >
              shopping_cart
            </v-icon>
          </v-badge>

          <v-card>
            <v-subheader>Your cart</v-subheader>
            <v-divider></v-divider>
            <v-subheader v-if="getCart.length == 0">Your Cart is empty</v-subheader>

            <v-list style="max-height: 300px; overflow: auto;">
              <v-list-tile avatar @click="''" v-for="(item,i) in getCart" :key="item.name + item.price + item.category + i">
                <v-list-tile-avatar>
                  <img :src="item.imgSrc" v-if="item.imgSrc">
                  <v-icon v-else>shopping_cart</v-icon>
                </v-list-tile-avatar>
                <v-list-tile-content>
                  <v-list-tile-title>{{item.name}}</v-list-tile-title>
                  <v-list-tile-sub-title>price: &#x20A6; {{item.price}}</v-list-tile-sub-title>
                </v-list-tile-content>
                
              </v-list-tile>
            </v-list>

            <v-card-actions>
              <v-btn flat @click="cart_menu = false">continue shopping</v-btn>
              <v-btn color="primary" flat to="shop/checkout" v-if="getCart.length > 0">Checkout</v-btn>
            </v-card-actions>
          </v-card>
        </v-menu>
      </template>
    </top-navigation>
    <v-container grid-list-md class="grey lighten-3">
      

      <v-toolbar color="grey lighten-4" class="mb-4" dense flat >
        <v-toolbar-title>Hotel Shop</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-btn flat small color="info" 
          class="text-capitalize" 
          to="/account/smart_attendant/shop/orders">
          My Purchases
        </v-btn>
        <template v-slot:extension>
          <v-toolbar-items>
            <template v-for="(category, i) in categories" >
              <v-btn flat small
                :key="category.value + 'a'"
                class="text-capitalize" 
                :class="[{secondary: category.value == active_category}, category.class]"
                @click="active_category = category.value">
                {{category.text}}
              </v-btn>
              <v-divider vertical inset :key="category.value + i" :class="category.class"></v-divider>

            </template>

          </v-toolbar-items>

          <v-spacer></v-spacer>

          <v-menu offset-y>
            <template v-slot:activator="{on}">
              <v-btn flat color="primary" v-on="on" class="hidden-md-and-up">
                More
              </v-btn>
            </template>
            <v-list>
              <v-list-tile v-for="(category, i) in categories" 
                :key="i + 'list'" @click="active_category = category.value">

                <v-list-tile-title>{{ category.text }}</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </template>
      </v-toolbar>

      <v-layout row wrap>
        <v-subheader v-if="storeItems.length == 0">No items in this category</v-subheader>
        <v-flex xs12 sm6 md3 v-for="(item, i) in storeItems" :key="item.name + item.productId + i">
          <v-card height="330" flat class="mb-3 pt-3" hover >
            <v-img :src="item.imgSrc || '/no-image.png'" height="180" contain 
              @click="view_product = true; product_in_view = item"/>
            <v-card-text class="text-xs-center font-weight-bold" @click="view_product = true; product_in_view = item">
              {{item.name}} <br>
              <div class="red--text pt-3">&#x20A6; {{item.price}}</div>
            </v-card-text>
            <v-card-actions>
              <v-btn flat small color="red" block v-if="item.qty == 0">Out of stock</v-btn>
              <v-btn block class="primary" 
                small depressed v-else
                :disabled="!!getCart.find(p => p.productId == item.productId)"
                @click="addToCart(item)"
                >
                {{ !!getCart.find(p => p.productId == item.productId) ? 'Added to cart' : 'Add to cart'}}
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

    <v-dialog
      v-model="view_product"
      scrollable  
     :overlay="false"
      max-width="700px"
      transition="dialog-transition"
    >
      <v-card class="pt-3">
        <v-img
          class="white--text"
          height="50%" contain
          :src="product_in_view.imgSrc || '/no-image.png'"
        >

        <v-container fill-height fluid pa-2>
            <v-layout justify-end>
              <v-flex shrink>
                <v-icon color="red" class="" @click="view_product = false">close</v-icon>
              </v-flex>
            </v-layout>
          </v-container>
        </v-img>
          
        <v-card-title>
          <div>
            <h3 class="headline font-weight-bold mb-0">{{product_in_view.name}}</h3>
            <div> 
              Price: &#x20A6;  <span class="red--text">{{product_in_view.price}}</span>
            </div>
            <div>
              <span>Category: {{product_in_view.category}}</span>
            </div>
          </div>
        </v-card-title>
        <v-card-text class="pt-0">
          <v-subheader class="pl-0">Product Description</v-subheader>
          <div>{{product_in_view.description}}</div>
         </v-card-text>
        <v-card-actions>
          <v-btn flat small color="red" block v-if="product_in_view.qty == 0">Out of stock</v-btn>
          <v-btn class="ml-2 orange" v-else
            :disabled="!!getCart.find(p => p.productId == product_in_view.productId)"
            @click="addToCart(product_in_view)">
            {{ !!getCart.find(p => p.productId == product_in_view.productId) ? 'Added to cart' : 'Add to cart'}}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>
<script>
export default {
  layout: 'account',
  head(){
    return {
      title: `Shop - ${this.smart_hotel.name} - HotelSmart`
    }
  },
  data: () => ({
    breadcrumbs_items: [
			{
				text: 'Account',
				disabled: false,
        exact: true,
        to: '/account'
			},
			{
				text: 'Smart Attendant',
				disabled: false,
        exact: true,
        to: '/account/smart_attendant'
			},
			{
				text: 'Shop',
				disabled: true,
        exact: true,
        to: '/shop'
			}
    ],
    categories: [
      {text: 'all', value: 'all', hiddenxs: true},
      {text: 'meals', value: 'meals', hiddenxs: true},
      {text: 'snacks and beverages', value: 'snacks', class: ['hidden-xs-only']},
      {text: 'drinks, bears & wines', value: 'drinks-bears-wines', class: ['hidden-xs-only']},
      {text: 'toiletries', value: 'toiletries',  class: ['hidden-xs-only']},
      {text: 'Laundary services', value: 'laundary', class: ['hidden-sm-and-down', 'hidden-xs-only'], },
      {text: 'Spa, Gym, and other recreationals', value: 'spa-gym', class: ['hidden-sm-and-down', 'hidden-xs-only'], },
      {text: 'others', value: 'others',  class: ['hidden-sm-and-down', 'hidden-xs-only'],}
    ],
    active_category: 'all',
    products: [],
    cart_menu: false,
    view_product: false,
    product_in_view: {},
  }),
  watch: {
    smart_hotel(val){
      this.initialize()
    },
  },
  computed: {
		...mapState([
      'auth',
      'cart',
      'smart_hotel'
    ]),
    ...mapGetters([
      'getCart'
    ]),
    storeItems(){
      
      let hotel_products = this.products.filter(item => item.hotelId == this.smart_hotel.docId)
      return this.active_category == 'all' ? hotel_products :
      hotel_products.filter(item => item.category == this.active_category)
    }
  },
  methods: {
    async initialize () {
      this.products = await this.getShopItems()
    },
    async getShopItems(){
      // retrieve the shop items
      let res = await db.collection('hotels').doc(this.smart_hotel.docId)
      .collection('shopItems').get()
      let arr = []
      res.docs.forEach(doc => arr.push(doc.data()))
      // console.log(arr)
      return arr
    },
    isInCart(item){
      // check that an item is in cart
    },
    addToCart(item){
      // Add an item to shopping cart
      
      this.$store.dispatch('addToCart', item)
      this.$eventBus.$emit('Snackbar', {
        message: 'Item added to cart',
        show: true,
        color: 'purple'
      })

      this.products = this.products.map(product => {
        return product.productId == item.productId ? {
          ...product,
          isInCart: true
        }  : product

      })
    }
  },
  mounted(){
    this.initialize()
  },
  components: {
    TopNavigation,
  }
}
import { mapState, mapGetters } from 'vuex';
import TopNavigation from '@/components/TopNavigation'
import { firebase, db } from '@/plugins/firebase'
</script>
