<template>
  <div>
    <top-navigation :breadcrumbs_items="breadcrumbs_items"/>

    <v-container fluid class="" grid-list-lg>
      <v-subheader class="title">Your Recent Orders</v-subheader>
      <v-subheader v-if="myOrders.length == 0">No recent orders</v-subheader>
      <v-layout row wrap>

        <v-flex xs12 md6 >
          <v-card flat>
            <v-list two-line dense>
              <template v-for="(item, index) in myOrders">
                <v-subheader v-if="item.header" :key="item.header + 'headr'">{{ $helpers.parseDate(item.header, true) }}</v-subheader>
                <v-divider v-else-if="item.divider" :inset="item.inset" :key="index + 'indx'"></v-divider>
                <v-list-tile avatar v-else :key="item.productId + 'prod' + index" @click="''">
                  <v-list-tile-avatar>
                    <img :src="item.imgSrc || '/no-image.png'">
                  </v-list-tile-avatar>
                  <v-list-tile-content>
                    <v-list-tile-title v-html="item.name"></v-list-tile-title>
                    <v-list-tile-sub-title >Qty: {{item.qty_selected}};  Price: 
                      &#x20A6; {{item.price}}
                    </v-list-tile-sub-title>
                  </v-list-tile-content>
                </v-list-tile>
              </template>
            </v-list>
          </v-card>
        </v-flex>
      </v-layout>
    </v-container>

  </div>
</template>
<script>
export default {
  layout: 'account',
  middleware: 'auth',
  data: () =>({
    breadcrumbs_items: [
      {
        text: 'Account',
        disabled: false,
        exact: true,
        to: '/acount'
      },
      {
        text: 'Smart Attendant',
        disabled: false,
        exact: true,
        to: '/account/smart_attendant'
      },
      {
        text: 'Shop',
        disabled: false,
        exact: true,
        to: '/account/smart_attendant/shop'
      },
      {
        text: 'My Orders',
        disabled: true,
        exact: true,
        to: '/account/smart_attendant/shop/orders'
      }
		],
    myOrders: []
  }),
  watch: {
    'userInfo': function() {
      // this.userInfo ? this.initialize() : ''
      // console.log(this.userInfo)
    }
  },
  computed:{
    ...mapState([
      'auth',
      'userInfo',
      'smart_hotel'
    ])
  },
  methods: {
    async initialize(){
      
      try {
        
        let arr = []
        let orders = (await this.orders())
        let last_timestamp = 0
        orders.forEach((order,index) => {
          last_timestamp == order.timestamp ? '' : arr.push({header: order.timestamp})
          last_timestamp = order.timestamp
          arr.push(order)
          index != orders.length ? arr.push({divider: true, inset: true}) : ''
        })

        this.myOrders = arr
      } catch (error) {
        console.log(error)
      }
      
    },
    async orders () {
			// get user bookings
			let orders = []
			await db.collection('storePurchase')
      .where('buyer.uid', '==', this.auth.user.uid)
      .where('hotelRef', '==', this.smart_hotel.docId)
			.get().then( docs => {
				
				docs.forEach(doc => {
          console.log(doc.data())
					doc.data().items.forEach(item => {
            orders.push({
              timestamp: doc.data().timestamp,
              ...item
            })
          })
				})
			})
			// console.log(orders)
			return orders
    },
  },
  mounted(){
    // console.log(this.$route)
    this.userInfo ? this.initialize() : ''
  },
  components: {
    TopNavigation,
  }
}
import { mapState } from 'vuex';
import TopNavigation from '@/components/TopNavigation'
import { firebase, db } from '@/plugins/firebase'
</script>
<style lang="scss" scoped>
  .round_top{
    border-top-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-top-right-radius: 5px;
    -o-border-top-right-radius: 5px;
    -ms-border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-top-left-radius: 5px;
    -o-border-top-left-radius: 5px;
    -ms-border-top-left-radius: 5px;
  }
</style>
